/* line 3, ../../sass/volume/epub.scss */
.view-epub {
  margin-top: 0vh;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}
/* line 15, ../../sass/volume/epub.scss */
.view-epub .container.page.centered {
  flex-grow: 1;
  flex-direction: row;
  display: flex;
  max-height: none;
  padding-bottom: 0;
}
/* line 22, ../../sass/volume/epub.scss */
.view-epub .container.page.centered #content {
  margin: 0;
}
/* line 27, ../../sass/volume/epub.scss */
.view-epub .navbar-static-bottom, .view-epub .navbar-static-top {
  position: static;
  margin-top: 0;
  margin-bottom: 0;
}
/* line 34, ../../sass/volume/epub.scss */
.view-epub.fullscreen .container.page.centered {
  height: 100%;
}
/* line 42, ../../sass/volume/epub.scss */
.view-epub.fullscreen #main {
  height: 100vh;
}
/* line 52, ../../sass/volume/epub.scss */
.view-epub #sidebar {
  display: flex;
  max-height: 85vh;
  overflow: auto;
}
/* line 57, ../../sass/volume/epub.scss */
.view-epub #sidebar .bibLinks {
  background: #fffefb;
  padding-bottom: 20px;
  z-index: 500;
}
/* line 63, ../../sass/volume/epub.scss */
.view-epub #sidebar .scrollable {
  padding-left: 0;
  padding-bottom: 20px;
}
/* line 71, ../../sass/volume/epub.scss */
.view-epub #main {
  display: flex;
  flex-grow: 1;
  padding-top: 0;
  padding-bottom: 10px;
}
/* line 78, ../../sass/volume/epub.scss */
.view-epub #slot {
  margin: 0;
  display: flex;
  flex-grow: 1;
}
/* line 85, ../../sass/volume/epub.scss */
.view-epub .cozy-container {
  height: 100%;
  width: 100%;
  background: inherit;
}
/* line 91, ../../sass/volume/epub.scss */
.view-epub .toolbar-horizontal {
  width: auto;
  padding-right: 40px;
}
/* line 94, ../../sass/volume/epub.scss */
.view-epub .toolbar-horizontal .cozy-control {
  display: inline-flex;
}
/* line 99, ../../sass/volume/epub.scss */
.view-epub .xxcontainer.page.centered {
  -ms-display: grid;
  -ms-grid-columns: auto minmax(min-content, 1fr);
  -ms-grid-rows: 1fr;
  display: block;
  display: grid;
  grid-template-columns: auto minmax(min-content, 1fr);
  grid-template-rows: 1fr;
  max-width: 96vw;
  max-height: 100vh;
  margin: 0 auto;
  margin-top: 8vh;
  overflow: hidden;
}
/* line 115, ../../sass/volume/epub.scss */
.view-epub .dropdown-menu ul {
  list-style-type: none;
}
/* line 117, ../../sass/volume/epub.scss */
.view-epub .dropdown-menu ul li > a {
  padding-left: 0;
}
/* line 122, ../../sass/volume/epub.scss */
.view-epub .table-of-contents.open > .dropdown-menu {
  left: -100px;
}
/* line 126, ../../sass/volume/epub.scss */
.view-epub .cozy-container .cozy-panel-navigator .cozy-control-navigator .cozy-navigator-range {
  margin-top: 1rem;
}

@keyframes pulse {
  /* line 381, ../../sass/volume/epub.scss */
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  /* line 386, ../../sass/volume/epub.scss */
  50% {
    -webkit-transform: scale(0.01);
    transform: scale(0.01);
  }

  /* line 391, ../../sass/volume/epub.scss */
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes fade {
  /* line 398, ../../sass/volume/epub.scss */
  0% {
    background: #707B7C;
  }

  /* line 403, ../../sass/volume/epub.scss */
  50% {
    background: #99A3A4;
  }

  /* line 408, ../../sass/volume/epub.scss */
  100% {
    background: #707B7C;
  }
}
