/* line 6, ../../sass/volume/flip.scss */
.bb-custom-wrapper {
  background: #fff;
  width: 100%;
  height: 550px;
  position: relative;
  margin: 0px auto;
}
/* line 17, ../../sass/volume/flip.scss */
.bb-custom-wrapper h3 {
  color: #aaa;
  font-size: 12px;
  line-height: 16px;
  position: absolute;
  left: 10px;
  bottom: -3px;
}
/* line 26, ../../sass/volume/flip.scss */
.bb-custom-wrapper nav {
  width: 120px;
  margin: 8px 10px 0 0;
  float: right;
  position: relative;
  z-index: 0;
}
/* line 33, ../../sass/volume/flip.scss */
.bb-custom-wrapper nav a:hover {
  opacity: 1;
}
/* line 37, ../../sass/volume/flip.scss */
.bb-custom-wrapper nav a#bb-nav-prev {
  background-position: center left;
  margin-right: 5px;
}
/* line 42, ../../sass/volume/flip.scss */
.bb-custom-wrapper nav a#bb-nav-next {
  background-position: -43px 50%;
}
/* line 46, ../../sass/volume/flip.scss */
.bb-custom-wrapper nav a#bb-nav-jump {
  background-position: center right;
  float: right;
}

/* line 54, ../../sass/volume/flip.scss */
.bb-bookblock {
  box-shadow: 0px 5px 0 rgba(0, 0, 0, 0.1);
  height: 500px;
  width: 100%;
  position: relative;
  z-index: 100;
  margin: 0 auto;
}
/* line 63, ../../sass/volume/flip.scss */
.bb-bookblock.lowered {
  z-index: 0;
}

/* line 68, ../../sass/volume/flip.scss */
.bb-item {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  background: #fff;
}

/* line 78, ../../sass/volume/flip.scss */
.bb-page {
  width: 50%;
  height: 100%;
  left: 50%;
  position: absolute;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  -ms-transform-origin: left center;
  transform-origin: left center;
}

/* line 100, ../../sass/volume/flip.scss */
.bb-page > div,
.bb-outer,
.bb-content {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
}

/* line 107, ../../sass/volume/flip.scss */
.bb-content {
  background: #fff;
}

/* line 111, ../../sass/volume/flip.scss */
.bb-inner {
  position: relative;
  width: 100%;
  height: 100%;
}

/* line 117, ../../sass/volume/flip.scss */
.bb-overlay, .bb-outer {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* line 125, ../../sass/volume/flip.scss */
.bb-page > div {
  width: 100%;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* line 140, ../../sass/volume/flip.scss */
.bb-back {
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

/* line 148, ../../sass/volume/flip.scss */
.bb-outer {
  width: 100%;
  overflow: hidden;
  z-index: 999;
}

/* line 155, ../../sass/volume/flip.scss */
.bb-overlay,
.bb-flipoverlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
}

/* line 165, ../../sass/volume/flip.scss */
.bb-flipoverlay {
  background-color: rgba(0, 0, 0, 0.2);
}

/* line 170, ../../sass/volume/flip.scss */
.bb-bookblock > div.bb-page:first-child,
.bb-bookblock > div.bb-page:first-child .bb-back {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

/* line 178, ../../sass/volume/flip.scss */
.view-2up .page-item {
  height: 1020px;
  min-width: 400px;
  width: 680px;
  /*max-width: 680px;*/
  position: relative;
  height: 98%;
  overflow: hidden;
  overflow-x: auto;
  background-image: url(../graphics/thumb-loader.gif);
  background-repeat: no-repeat;
  background-position: center;
}
/* line 195, ../../sass/volume/flip.scss */
.view-2up .page-item.loaded img {
  visibility: visible;
}

/* line 200, ../../sass/volume/flip.scss */
.view-2up .page-item img {
  /* max-height AND max-width will keep aspect ratio */
  max-height: 100%;
  max-width: 100%;
  visibility: hidden;
  border: 1px solid #d5d3d3;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}

/* line 212, ../../sass/volume/flip.scss */
.view-2up .page-item.untypical-page img {
  /*border: 1px solid #686464;*/
  border: 4px double #d5d3d3;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.8);
}

/* line 218, ../../sass/volume/flip.scss */
.view-2up .page-item button {
  margin: 10px;
  float: left;
}

/* line 223, ../../sass/volume/flip.scss */
.view-2up .page-item.page-right button {
  float: right;
}

/* line 227, ../../sass/volume/flip.scss */
.view-2up .page-num {
  color: #666;
  font-size: 24px;
  top: 50px;
  right: 60px;
  position: absolute;
  font-weight: bold;
}

/* line 236, ../../sass/volume/flip.scss */
.view-2up .page-item {
  min-width: auto;
  height: 98%;
}

/* line 242, ../../sass/volume/flip.scss */
.view-2up .page-left {
  width: 50%;
  /*48%;*/
  float: left;
  /*margin-right: 2px;*/
  border-right: 2px solid #dddddd;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  text-align: right;
}

/* line 254, ../../sass/volume/flip.scss */
.view-2up .page-left .page-num {
  right: auto;
  left: 60px;
}

/* line 259, ../../sass/volume/flip.scss */
.view-2up .page-right {
  width: 50%;
  /*48%;*/
  float: left;
  /*margin-left: 2px;*/
  position: absolute;
  top: 0;
  left: 50%;
  bottom: 0;
  text-align: left;
}

/* line 270, ../../sass/volume/flip.scss */
.view-2up .page-item.empty {
  background: #fff;
  border: none;
  box-shadow: none;
}

/* line 278, ../../sass/volume/flip.scss */
.flip-rotating {
  -webkit-transition: all 1s ease;
  transition: rotate 1s ease;
}

/* line 283, ../../sass/volume/flip.scss */
.flip-rotated-90 {
  -webkit-transform: rotate(90deg);
  margin-top: 200px;
  margin-bottom: 200px;
}

/* line 289, ../../sass/volume/flip.scss */
.flip-rotated-180 {
  -webkit-transform: rotate(180deg);
}

/* line 293, ../../sass/volume/flip.scss */
.flip-rotated-270 {
  -webkit-transform: rotate(270deg);
  margin-top: 200px;
  margin-bottom: 200px;
}
