/* line 2, ../../sass/volume/image.scss */
.view-image .page-item {
  display: block;
  min-height: 200px;
  min-width: 510px;
  background: transparent;
  border: 4px solid #eeeeee;
  border: 4px solid rgba(238, 238, 238, 0.5);
  padding: 3px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../graphics/thumb-loader.gif);
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}
/* line 23, ../../sass/volume/image.scss */
.view-image .page-item.size-50 {
  max-width: 354px;
  min-height: 464px;
}
/* line 23, ../../sass/volume/image.scss */
.view-image .page-item.size-75 {
  max-width: 524px;
  min-height: 689px;
}
/* line 23, ../../sass/volume/image.scss */
.view-image .page-item.size-100 {
  max-width: 694px;
  min-height: 914px;
}
/* line 23, ../../sass/volume/image.scss */
.view-image .page-item.size-125 {
  max-width: 864px;
  min-height: 1139px;
}
/* line 23, ../../sass/volume/image.scss */
.view-image .page-item.size-150 {
  max-width: 1034px;
  min-height: 1364px;
}
/* line 23, ../../sass/volume/image.scss */
.view-image .page-item.size-175 {
  max-width: 1204px;
  min-height: 1589px;
}
/* line 23, ../../sass/volume/image.scss */
.view-image .page-item.size-200 {
  max-width: 1374px;
  min-height: 1814px;
}
/* line 23, ../../sass/volume/image.scss */
.view-image .page-item.size-225 {
  max-width: 1544px;
  min-height: 2039px;
}
/* line 23, ../../sass/volume/image.scss */
.view-image .page-item.size-250 {
  max-width: 1714px;
  min-height: 2264px;
}
/* line 23, ../../sass/volume/image.scss */
.view-image .page-item.size-275 {
  max-width: 1884px;
  min-height: 2489px;
}
/* line 23, ../../sass/volume/image.scss */
.view-image .page-item.size-300 {
  max-width: 2054px;
  min-height: 2714px;
}
/* line 23, ../../sass/volume/image.scss */
.view-image .page-item.size-325 {
  max-width: 2224px;
  min-height: 2939px;
}
/* line 23, ../../sass/volume/image.scss */
.view-image .page-item.size-350 {
  max-width: 2394px;
  min-height: 3164px;
}
/* line 23, ../../sass/volume/image.scss */
.view-image .page-item.size-375 {
  max-width: 2564px;
  min-height: 3389px;
}
/* line 23, ../../sass/volume/image.scss */
.view-image .page-item.size-400 {
  max-width: 2734px;
  min-height: 3614px;
}
/* line 23, ../../sass/volume/image.scss */
.view-image .page-item.size-425 {
  max-width: 2904px;
  min-height: 3839px;
}
/* line 23, ../../sass/volume/image.scss */
.view-image .page-item.size-450 {
  max-width: 3074px;
  min-height: 4064px;
}
/* line 23, ../../sass/volume/image.scss */
.view-image .page-item.size-475 {
  max-width: 3244px;
  min-height: 4289px;
}
/* line 51, ../../sass/volume/image.scss */
.view-image .page-item.loaded {
  background-image: none;
  border-color: transparent;
}
/* line 55, ../../sass/volume/image.scss */
.view-image .page-item.loaded img {
  visibility: visible;
  border: 1px solid #eeeeee;
}
/* line 61, ../../sass/volume/image.scss */
.view-image .page-item img {
  visibility: hidden;
  max-width: 100%;
}
