/* line 5, ../../sass/volume/plaintext.scss */
.view-plaintext #content {
  padding: 8px ;
  padding: 0.8rem ;
}
/* line 9, ../../sass/volume/plaintext.scss */
.view-plaintext #content .page-item {
  display: block;
  min-height: 350px;
  min-width: 510px;
  background: transparent;
  border: 4px solid transparent;
  padding: 3px;
  margin-left: auto;
  margin-right: auto;
  font-family: Georgia, Palatino, "Times New Roman", serif;
  font-size: 18px ;
  font-size: 1.8rem ;
  line-height: 1.4;
}
/* line 26, ../../sass/volume/plaintext.scss */
.view-plaintext #content .page-item .page-inner {
  background: #fff;
  padding: 40px;
}
