/* line 3, ../../sass/volume/thumb.scss */
.view-thumb {
  max-width: none;
}
/* line 7, ../../sass/volume/thumb.scss */
.view-thumb #content:after {
  content: "";
  display: table;
  height: 0;
  clear: both;
}
/* line 17, ../../sass/volume/thumb.scss */
.view-thumb .thumbnails.rtl .page-item {
  float: right;
}
/* line 23, ../../sass/volume/thumb.scss */
.view-thumb .thumbnails:after {
  content: "";
  display: table;
  clear: both;
}
/* line 29, ../../sass/volume/thumb.scss */
.view-thumb .page-item {
  min-height: 100px;
  min-width: 100px;
  height: 100%;
  background: transparent;
  border: 1px solid #eeeeee;
  float: left;
  margin: 4px ;
  margin: 0.4rem ;
  margin-top: 16px ;
  margin-top: 1.6rem ;
  margin-bottom: 16px ;
  margin-bottom: 1.6rem ;
  display: block;
  position: relative;
  text-align: center;
  vertical-align: middle;
  background-image: url(../graphics/thumb-loader.gif);
  background-repeat: no-repeat;
  background-position: center;
}
/* line 52, ../../sass/volume/thumb.scss */
.view-thumb .page-item.loaded {
  background-image: none;
  border-color: transparent;
}
/* line 56, ../../sass/volume/thumb.scss */
.view-thumb .page-item.loaded img {
  visibility: visible;
}
/* line 61, ../../sass/volume/thumb.scss */
.view-thumb .page-item .page-link {
  display: inline-block;
}
/* line 74, ../../sass/volume/thumb.scss */
.view-thumb .page-item img {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  border: 1px solid #d5d3d3;
  visibility: hidden;
}
/* line 83, ../../sass/volume/thumb.scss */
.view-thumb .page-item .page-wrap {
  display: inline-block;
}
