/* line 4, ../../../mdp-web/sass/results.scss */
.alert.summary span {
  font-weight: bold;
}

/* line 7, ../../../mdp-web/sass/results.scss */
.collection-summary {
  display: none;
}

/* line 13, ../../../mdp-web/sass/results.scss */
#facetlist dt, #facetlist dd {
  margin-left: 0;
  margin-bottom: 4px ;
  margin-bottom: 0.4rem ;
  line-height: 18px ;
  line-height: 1.8rem ;
}
/* line 19, ../../../mdp-web/sass/results.scss */
#facetlist dt {
  font-weight: bold;
  margin-top: 16px ;
  margin-top: 1.6rem ;
}
/* line 23, ../../../mdp-web/sass/results.scss */
#facetlist dt:first-child {
  margin-top: 0;
}
/* line 28, ../../../mdp-web/sass/results.scss */
#facetlist dd {
  color: #666;
  margin-left: 16px ;
  margin-left: 1.6rem ;
}

/* line 34, ../../../mdp-web/sass/results.scss */
.row.result {
  position: relative;
  margin-bottom: 16px ;
  margin-bottom: 1.6rem ;
  padding-bottom: 8px ;
  padding-bottom: 0.8rem ;
  padding-top: 8px ;
  padding-top: 0.8rem ;
}
/* line 41, ../../../mdp-web/sass/results.scss */
.row.result h4 {
  margin-top: 0;
  margin-bottom: 5px;
  margin-bottom: 0.5rem;
  font-size: 16px;
  font-weight: normal;
  width: 99%;
}
/* line 51, ../../../mdp-web/sass/results.scss */
.row.result h5 {
  margin-top: 4px ;
  margin-top: 0.4rem ;
  margin-bottom: 4px ;
  margin-bottom: 0.4rem ;
  font-size: 13px ;
  font-size: 1.3rem ;
}
/* line 57, ../../../mdp-web/sass/results.scss */
.row.result .metadata {
  padding-left: 24px ;
  padding-left: 2.4rem ;
}
/* line 59, ../../../mdp-web/sass/results.scss */
.row.result .metadata a:visited {
  color: #237a72;
}
/* line 64, ../../../mdp-web/sass/results.scss */
.row.result .options {
  min-width: 85px;
}
/* line 68, ../../../mdp-web/sass/results.scss */
.row.result .cover {
  width: 60px;
  min-height: 60px;
  float: right;
}
/* line 73, ../../../mdp-web/sass/results.scss */
.row.result .cover img {
  max-width: 60px;
  border: 2px solid #eeeeee;
}
/* line 81, ../../../mdp-web/sass/results.scss */
.row.result .localCover {
  border-bottom: 8px solid red !important;
}
/* line 85, ../../../mdp-web/sass/results.scss */
.row.result .select {
  width: 24px;
  float: right;
}
/* line 89, ../../../mdp-web/sass/results.scss */
.row.result .select label {
  display: inline-block;
}
/* line 94, ../../../mdp-web/sass/results.scss */
.row.result .in-collections {
  font-size: 90%;
  top: 8px ;
  top: 0.8rem ;
  right: 10px ;
  right: 1rem ;
}
/* line 101, ../../../mdp-web/sass/results.scss */
.row.result .in-collections ul {
  padding-left: 0;
  margin-left: 0;
  margin-top: 0;
  list-style: none;
}
/* line 107, ../../../mdp-web/sass/results.scss */
.row.result .in-collections ul li {
  margin-bottom: 4px ;
  margin-bottom: 0.4rem ;
}
/* line 114, ../../../mdp-web/sass/results.scss */
.row.result [class*="result-metadata-"] {
  display: block;
  font-size: 95%;
  color: #666;
}
/* line 120, ../../../mdp-web/sass/results.scss */
.row.result .result-access-link {
  margin-top: 10px ;
  margin-top: 1rem ;
}
/* line 123, ../../../mdp-web/sass/results.scss */
.row.result .result-access-link ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 128, ../../../mdp-web/sass/results.scss */
.row.result .result-access-link ul li {
  display: inline;
  float: left;
  margin-right: 20px ;
  margin-right: 2rem ;
}
/* line 136, ../../../mdp-web/sass/results.scss */
.row.result.alt {
  background-color: #f6f4f1;
}
/* line 140, ../../../mdp-web/sass/results.scss */
.row.result [class*="span"] + [class*="pull-"] {
  float: left;
}

/* line 146, ../../../mdp-web/sass/results.scss */
.push-1 {
  margin-left: 8.36653%;
}

/* line 151, ../../../mdp-web/sass/results.scss */
dl.collection dd, dl.collection dt {
  margin-left: 0;
}
/* line 155, ../../../mdp-web/sass/results.scss */
dl.collection dt {
  font-weight: bold;
  margin-bottom: 4px ;
  margin-bottom: 0.4rem ;
}
/* line 160, ../../../mdp-web/sass/results.scss */
dl.collection dd {
  margin-bottom: 12px ;
  margin-bottom: 1.2rem ;
}

/* line 165, ../../../mdp-web/sass/results.scss */
.col-featured img {
  border: 2px solid #eeeeee;
  padding: 2px;
  max-width: 100%;
}

/* line 184, ../../../mdp-web/sass/results.scss */
.mainsearch {
  padding-bottom: 16px ;
  padding-bottom: 1.6rem ;
  margin-bottom: 16px ;
  margin-bottom: 1.6rem ;
  border-bottom: 1px dotted #a6a5a5;
}
/* line 185, ../../../mdp-web/sass/results.scss */
.mainsearch label[for=q1] {
  font-size: 110%;
}

/* line 196, ../../../mdp-web/sass/results.scss */
.tabs {
  margin-bottom: 10px ;
  margin-bottom: 1rem ;
  margin-left: 10px ;
  margin-left: 1rem ;
  border-bottom: 1px solid #aaaaaa;
  width: 96%;
  color: #333;
}
/* line 203, ../../../mdp-web/sass/results.scss */
.tabs a, .tabs span {
  font-weight: bold;
  color: #5e5e5e;
  text-decoration: none;
}
/* line 209, ../../../mdp-web/sass/results.scss */
.tabs a:hover {
  text-decoration: underline;
  border-bottom: none;
  color: #b15a0d;
}
/* line 215, ../../../mdp-web/sass/results.scss */
.tabs ul {
  text-align: left;
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 24px ;
  line-height: 2.4rem ;
}
/* line 222, ../../../mdp-web/sass/results.scss */
.tabs ul:after, .tabs ul:before {
  display: table;
  line-height: 0;
  content: "";
  clear: both;
}
/* line 229, ../../../mdp-web/sass/results.scss */
.tabs ul li {
  float: left;
  margin: 0 0px;
  padding: 0 10px;
  border: 1px solid lightgrey;
  border-bottom: 1px solid #aaaaaa;
  background: #e3e3e3;
  background: -webkit-gradient(linear, 0% 0, 0% 100%, from(white), to(#e3e3e3));
  display: inline-block;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  margin-bottom: -1px;
  font-size: 14px;
}
/* line 243, ../../../mdp-web/sass/results.scss */
.tabs ul li:first-child {
  margin-left: 0;
}
/* line 247, ../../../mdp-web/sass/results.scss */
.tabs ul li.active {
  border: 1px solid #aaaaaa;
  border-bottom: 1px solid transparent;
  background: #fff;
}
/* line 252, ../../../mdp-web/sass/results.scss */
.tabs ul li.active a {
  color: #4f4f4f;
}

/* line 270, ../../../mdp-web/sass/results.scss */
div > h3:first-child {
  margin-top: 0;
}

/* line 274, ../../../mdp-web/sass/results.scss */
.toolbar {
  margin-bottom: 16px ;
  margin-bottom: 1.6rem ;
  padding: 8px ;
  padding: 0.8rem ;
}
/* line 275, ../../../mdp-web/sass/results.scss */
.toolbar label {
  display: inline-block;
}
/* line 282, ../../../mdp-web/sass/results.scss */
.toolbar.alt {
  background-color: #D2D2D1;
}

/* line 288, ../../../mdp-web/sass/results.scss */
#SortWidget {
  display: inline-block;
  margin-right: 20px ;
  margin-right: 2rem ;
}
/* line 291, ../../../mdp-web/sass/results.scss */
#SortWidget select {
  width: auto;
  margin-bottom: 0;
  font-size: 12px ;
  font-size: 1.2rem ;
}

/* line 300, ../../../mdp-web/sass/results.scss */
.PageInfo {
  display: inline-block;
}
/* line 303, ../../../mdp-web/sass/results.scss */
.PageInfo select {
  width: auto;
  margin-bottom: 0;
  font-size: 12px ;
  font-size: 1.2rem ;
}
/* line 309, ../../../mdp-web/sass/results.scss */
.PageInfo .resultsPerPage {
  display: inline-block;
}
/* line 313, ../../../mdp-web/sass/results.scss */
.PageInfo .pagingNav {
  display: inline-block;
}
/* line 317, ../../../mdp-web/sass/results.scss */
.PageInfo .pagingNav ul {
  list-style: none;
  margin-bottom: 0;
  margin-left: 20px ;
  margin-left: 2rem ;
  padding: 0;
}
/* line 324, ../../../mdp-web/sass/results.scss */
.PageInfo .pagingNav ul li {
  display: inline-block;
  margin: 0;
  margin-left: 3px ;
  margin-left: 0.3rem ;
  padding-left: 3px ;
  padding-left: 0.3rem ;
  padding-right: 3px ;
  padding-right: 0.3rem ;
  padding-top: 2px ;
  padding-top: 0.2rem ;
  padding-bottom: 2px ;
  padding-bottom: 0.2rem ;
}

/* line 338, ../../../mdp-web/sass/results.scss */
.selectAll {
  display: inline-block;
}

/* line 342, ../../../mdp-web/sass/results.scss */
.SelectedItemActions {
  display: inline-block;
  margin-left: 40px ;
  margin-left: 4rem ;
}
/* line 346, ../../../mdp-web/sass/results.scss */
.SelectedItemActions select {
  margin-bottom: 0;
}

/* line 353, ../../../mdp-web/sass/results.scss */
.controls .counter {
  margin-left: 5px ;
  margin-left: 0.5rem ;
  margin-top: 2px ;
  margin-top: 0.2rem ;
  vertical-align: top;
}

/* line 360, ../../../mdp-web/sass/results.scss */
#listisFooter {
  display: none;
}

/* line 362, ../../../mdp-web/sass/results.scss */
.alert-summary {
  background-color: transparent;
  border-color: transparent;
  color: #4f4f4f;
  padding-left: 0;
  margin-bottom: 10px ;
  margin-bottom: 1rem ;
}

/* line 3, ../sass/_list_colls.scss */
body.listcs {
  /*.floater {
    position: absolute;
    top: 50%;
    right: 5px;
    background: #666;
    color: white;
    height: 25px;
    font-size: 11px;
  }*/
  /* For modern browsers */
  /* For IE 6/7 (trigger hasLayout) */
  /* FEATURED COLLECTION COLUMN */
}
/* line 7, ../sass/_list_colls.scss */
body.listcs .container .main {
  width: auto;
  padding-right: 20px ;
  padding-right: 2rem ;
}
/* line 13, ../sass/_list_colls.scss */
body.listcs .container .sidebar h2, body.listcs .container .sidebar h3 {
  border-bottom: 1px solid #dddddd;
  font-size: 1.17em;
}
/* line 21, ../sass/_list_colls.scss */
body.listcs ul.nav {
  margin-left: 0;
}
/* line 25, ../sass/_list_colls.scss */
body.listcs .row {
  padding-left: 0;
}
/* line 29, ../sass/_list_colls.scss */
body.listcs ul.nav-tabs {
  margin-bottom: 10px;
}
/* line 33, ../sass/_list_colls.scss */
body.listcs .listcs-intro {
  width: 75%;
  font-size: 15px ;
  font-size: 1.5rem ;
  display: table-row;
}
/* line 39, ../sass/_list_colls.scss */
body.listcs .listcs-intro p {
  padding-left: 20px ;
  padding-left: 2rem ;
  padding-right: 20px ;
  padding-right: 2rem ;
}
/* line 44, ../sass/_list_colls.scss */
body.listcs .listcs-intro p:last-child {
  margin-bottom: 2rem;
  margin-bottom: 20px;
}
/* line 50, ../sass/_list_colls.scss */
body.listcs .span6 > div {
  margin-bottom: .6em;
}
/* line 54, ../sass/_list_colls.scss */
body.listcs .collection p {
  margin-bottom: 0.5em;
  margin-top: 0.25em;
}
/* line 59, ../sass/_list_colls.scss */
body.listcs h4.collname {
  font-weight: normal;
  font-size: 110%;
  margin-top: 1em;
}
/* line 65, ../sass/_list_colls.scss */
body.listcs .mine .owner_name {
  font-weight: bold;
}
/* line 69, ../sass/_list_colls.scss */
body.listcs p.collname {
  padding-top: 4px;
  /* 8 */
}
/* line 73, ../sass/_list_colls.scss */
body.listcs p.meta {
  margin-top: 4px;
  margin-bottom: 1em;
  padding-bottom: 4px;
}
/* line 79, ../sass/_list_colls.scss */
body.listcs span.num_items {
  float: left;
  width: 150px;
}
/* line 84, ../sass/_list_colls.scss */
body.listcs span.owner_name {
  /*float: left;*/
  width: auto;
  /* 250px */
  overflow: hidden;
  font-size: 90%;
}
/* line 91, ../sass/_list_colls.scss */
body.listcs .options {
  font-size: 11px;
  bottom: 2px;
  position: static;
  padding-top: 8px;
  display: block;
}
/* line 99, ../sass/_list_colls.scss */
body.listcs .collectionData {
  display: none;
}
/* line 103, ../sass/_list_colls.scss */
body.listcs .find-collection {
  /*float:right; width: 35%;*/
  text-align: right;
}
/* line 108, ../sass/_list_colls.scss */
body.listcs span.sharing-status.public {
  color: #58ff58;
}
/* line 112, ../sass/_list_colls.scss */
body.listcs span.sharing-status.private {
  color: #373737;
}
/* line 116, ../sass/_list_colls.scss */
body.listcs span.active_filters {
  padding-right: 8px;
}
/* line 120, ../sass/_list_colls.scss */
body.listcs div.ribbon.featured {
  position: absolute;
  /*right: -5px;
    top: -5px;*/
  height: 68px;
  width: 68px;
  right: 0px;
  top: 0px;
  background: url(../HT_FEATURED_ribbon-corner-flat.png) no-repeat;
}
/* line 131, ../sass/_list_colls.scss */
body.listcs div.right.featured {
  background: url(../HT_FEATURED_ribbon-corner-flat.png) no-repeat scroll right top;
}
/* line 135, ../sass/_list_colls.scss */
body.listcs span.featured {
  position: absolute;
  left: -5000px;
}
/* line 141, ../sass/_list_colls.scss */
body.listcs .collection {
  border-left: 16px solid transparent;
  display: table-row;
  padding-bottom: 3px;
  /* 5px */
  margin-bottom: 8px;
  /* from 2px */
  position: relative;
}
/* line 149, ../sass/_list_colls.scss */
body.listcs .results {
  border-spacing: 0em 0.5em;
  border-collapse: separate;
  display: table;
  width: 99%;
}
/* line 156, ../sass/_list_colls.scss */
body.listcs .collection.featured {
  min-height: 68px;
}
/* line 160, ../sass/_list_colls.scss */
body.listcs .left {
  /*float: left;*/
  width: 65%;
  padding-left: 16px;
  /*border: 1px dashed green;*/
  position: relative;
  display: table-cell;
  vertical-align: middle;
}
/* line 170, ../sass/_list_colls.scss */
body.listcs .right p {
  margin-bottom: 0;
  padding-bottom: 0;
}
/* line 175, ../sass/_list_colls.scss */
body.listcs .right {
  /*float: left;*/
  width: 29%;
  /* padding-top: 4px; */
  font-size: 90%;
  display: table-cell;
  vertical-align: middle;
  position: relative;
  height: auto;
  /*border: 1px dashed blue;*/
}
/* line 187, ../sass/_list_colls.scss */
body.listcs .wrapper {
  height: auto;
  position: relative;
}
/* line 202, ../sass/_list_colls.scss */
body.listcs .distance {
  width: 1px;
  height: 50%;
  background-color: black;
  margin-bottom: -1em;
  float: left;
}
/* line 210, ../sass/_list_colls.scss */
body.listcs .collection p {
  margin-right: 1em;
}
/* line 214, ../sass/_list_colls.scss */
body.listcs p.description {
  font-size: 90%;
  color: #474747;
  padding-bottom: 2px;
}
/* line 220, ../sass/_list_colls.scss */
body.listcs .odd {
  background-color: #f6f4f1;
}
/* line 228, ../sass/_list_colls.scss */
body.listcs .private {
  /*border-left: 16px solid #666;*/
  /*border-left: 16px solid #DDD;*/
}
/* line 233, ../sass/_list_colls.scss */
body.listcs .page_navigation {
  float: right;
}
/* line 237, ../sass/_list_colls.scss */
body.listcs .selected {
  /* display: block !important; */
}
/* line 241, ../sass/_list_colls.scss */
body.listcs .xxcontrols {
  text-align: center;
  margin-bottom: 0.5em;
  /*min-width: 600px;*/
}
/* line 248, ../sass/_list_colls.scss */
body.listcs .xxcontrols > div > div {
  margin-right: 0.25em;
}
/* line 252, ../sass/_list_colls.scss */
body.listcs .xxcontrols .num_items_control {
  /*width: 250px;*/
  text-align: left;
  float: left;
}
/* line 258, ../sass/_list_colls.scss */
body.listcs .controls select {
  width: auto;
  font-size: 90%;
  margin-bottom: 0;
}
/* line 264, ../sass/_list_colls.scss */
body.listcs .xxcontrols .filters {
  float: left;
  text-align: left;
  margin: 0;
  padding: 0;
  /*margin-right: 0.25em;*/
  /* width: 1000px;*/
  white-space: nowrap;
  margin-left: 2px;
}
/* line 275, ../sass/_list_colls.scss */
body.listcs .xxcontrols .filters-wrap {
  width: 60%;
  float: left;
  overflow: hidden;
}
/* line 281, ../sass/_list_colls.scss */
body.listcs .xxcontrols .filters li {
  display: block;
  float: left;
  list-style-type: none;
}
/* line 287, ../sass/_list_colls.scss */
body.listcs .xxcontrols ul.filters li {
  text-indent: 0px;
}
/* line 293, ../sass/_list_colls.scss */
body.listcs .cf:before,
body.listcs .cf:after {
  content: "";
  display: table;
}
/* line 298, ../sass/_list_colls.scss */
body.listcs .cf:after {
  clear: both;
}
/* line 303, ../sass/_list_colls.scss */
body.listcs .cf {
  zoom: 1;
}
/* line 307, ../sass/_list_colls.scss */
body.listcs .status, body.listcs .login_status {
  margin-top: 8px;
  padding: 8px;
  background: #ddd;
  text-align: left;
  font-weight: bold;
  font-size: 90%;
}
/* line 316, ../sass/_list_colls.scss */
body.listcs .status.with-filters {
  background: #F18F38;
  color: #000;
}
/* line 321, ../sass/_list_colls.scss */
body.listcs .login_status {
  background-color: #fcf5d9;
  padding: 2em;
  font-weight: normal;
}
/* line 327, ../sass/_list_colls.scss */
body.listcs .xxcontrols ul.filters .g-button {
  margin: 0;
  margin-left: -1px;
}
/* line 332, ../sass/_list_colls.scss */
body.listcs input.q {
  /*font-size: 110%;*/
}
/* line 338, ../sass/_list_colls.scss */
body.listcs .Box img {
  /*float: left;*/
  border: 1px solid #cccccc;
  padding: 2px;
  margin-right: 10px;
  margin-bottom: 2px;
  max-width: 100px;
}
/* line 347, ../sass/_list_colls.scss */
body.listcs .Box h4, body.listcs .Box span.title {
  font-size: 100%;
  font-weight: bold;
  margin: 0;
  margin-bottom: 0.75em;
  display: block;
}
/* line 355, ../sass/_list_colls.scss */
body.listcs .Box p {
  font-size: 90%;
  word-break: hyphenate;
  margin-bottom: 0;
}
/* line 361, ../sass/_list_colls.scss */
body.listcs .Box div {
  /*padding: 1em;*/
  margin-bottom: 1em;
}
/* line 366, ../sass/_list_colls.scss */
body.listcs .CollPage {
  font-size: 1.1em;
  margin-left: 10px;
  font-weight: normal;
}
/* line 372, ../sass/_list_colls.scss */
body.listcs .pages {
  text-align: right;
  width: 100%;
}
/* line 377, ../sass/_list_colls.scss */
body.listcs .pages ul {
  list-style-type: none;
  margin-bottom: 0;
}
/* line 381, ../sass/_list_colls.scss */
body.listcs .pages ul li {
  display: inline-block;
  height: 16px ;
  height: 1.6rem ;
  padding-left: 4px ;
  padding-left: 0.4rem ;
  padding-right: 4px ;
  padding-right: 0.4rem ;
}
/* line 389, ../sass/_list_colls.scss */
body.listcs .pages ul li.active a {
  text-decoration: none;
  font-weight: bold;
  color: #333;
}
/* line 396, ../sass/_list_colls.scss */
body.listcs .pages ul li a {
  display: inline-block;
}
/* line 404, ../sass/_list_colls.scss */
body.listcs .pages:after {
  content: "";
  display: table;
  clear: both;
}

/* line 416, ../sass/_list_colls.scss */
body.listis .share-toolbar {
  margin-bottom: 12px ;
  margin-bottom: 1.2rem ;
}
/* line 418, ../sass/_list_colls.scss */
body.listis .share-toolbar .btn {
  font-size: 12px ;
  font-size: 1.2rem ;
  padding: 4px ;
  padding: 0.4rem ;
  padding-left: 8px ;
  padding-left: 0.8rem ;
  padding-right: 8px ;
  padding-right: 0.8rem ;
}
/* line 429, ../sass/_list_colls.scss */
body.listis .shareLinks .share-toolbar {
  position: static;
  margin-bottom: 12px ;
  margin-bottom: 1.2rem ;
}
/* line 432, ../sass/_list_colls.scss */
body.listis .shareLinks .share-toolbar .btn {
  font-size: 11px ;
  font-size: 1.1rem ;
  padding: 4px ;
  padding: 0.4rem ;
  padding-left: 8px ;
  padding-left: 0.8rem ;
  padding-right: 8px ;
  padding-right: 0.8rem ;
}
/* line 441, ../sass/_list_colls.scss */
body.listis .shareLinks input[type=text] {
  font-size: 12px ;
  font-size: 1.2rem ;
  height: 18px ;
  height: 1.8rem ;
  cursor: default;
}

/*\*/
/*/
* html .results, * html .collection {
  display: block;
}
* html .right, * html .left {
  display: inline-block;
}
*html .right {
  margin-left: -1px;
}
/**/
/* line 4, ../sass/screen.scss */
.align-right {
  text-align: right;
}

/* line 8, ../sass/screen.scss */
.form-download-metadata {
  margin-top: 1.5rem;
}
/* line 11, ../sass/screen.scss */
.form-download-metadata a.download-help-link {
  display: inline-block;
  position: relative;
  height: 18px ;
  height: 1.8rem ;
  width: 18px ;
  width: 1.8rem ;
  margin-left: 5px ;
  margin-left: 0.5rem ;
  background-image: url(/common/unicorn/img/icon_question.png);
  background-repeat: no-repeat;
  text-indent: -10000px;
  text-transform: capitalize;
  clip: rect(0, 0, 0, 0);
  cursor: pointer;
}

/* line 26, ../sass/screen.scss */
.spinner-download-metadata {
  margin-left: 8px;
  height: 10px;
  position: relative;
  display: inline-block;
  background: white;
}

/*Typing Loader*/
/* line 35, ../sass/screen.scss */
.spinner-download-metadata.active .typing_loader {
  width: 6px;
  height: 6px;
  top: 2px;
  border-radius: 50%;
  -webkit-animation: typing 1s linear infinite alternate;
  -moz-animation: Typing 1s linear infinite alternate;
  animation: typing 1s linear infinite alternate;
  margin: 0 auto;
  position: relative;
}

@keyframes typing {
  /* line 50, ../sass/screen.scss */
  0% {
    background-color: black;
    box-shadow: 12px 0px 0px 0px rgba(0, 0, 0, 0.2), 24px 0px 0px 0px rgba(0, 0, 0, 0.2);
  }

  /* line 55, ../sass/screen.scss */
  25% {
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 12px 0px 0px 0px black, 24px 0px 0px 0px rgba(0, 0, 0, 0.2);
  }

  /* line 60, ../sass/screen.scss */
  75% {
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 12px 0px 0px 0px rgba(0, 0, 0, 0.2), 24px 0px 0px 0px black;
  }
}
