@import "../vendor/slider/css/slider";

#content {
    margin-top: 24px;
    margin-top: 2.4rem;
    margin-bottom: 30px;
    margin-bottom: 3rem;
    padding: 0;
}

.bb-custom-wrapper {
    background: #fff;

    width: 100%;
    height: 550px;
    position: relative;
    // margin: 40px auto;
    // margin-bottom: 80px;

    margin: 0px auto;

    h3 {
        color: #aaa;
        font-size: 12px;
        line-height: 16px;
        position: absolute;
        left: 10px;
        bottom: -3px;
    }

    nav {
        width: 120px;
        margin: 8px 10px 0 0;
        float: right;
        position: relative;
        z-index: 0;

        a:hover {
            opacity: 1;
        }

        a#bb-nav-prev {
            background-position: center left;
            margin-right: 5px;
        }

        a#bb-nav-next {
            background-position: -43px 50%;
        }

        a#bb-nav-jump {
            background-position: center right;
            float: right;
        }
    }

}

.bb-bookblock {
    box-shadow: 0px 5px 0 rgba(0, 0, 0, 0.1);

    height: 500px;
    width: 100%;
    position: relative;
    z-index: 100;
    margin: 0 auto;

    &.flipping {
        z-index: 500;
    }

    &.lowered {
        z-index: 0;
    }
}

.bb-item {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    background: #fff;
}

.bb-page {
    width: 50%;
    height: 100%;
    left: 50%;
    position: absolute;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;

    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    -ms-transform-origin: left center;
    transform-origin: left center;

}

.bb-page > div,
.bb-outer,
.bb-content {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
}

.bb-content {
    background: #fff;
}

.bb-inner {
    position: relative;
    width: 100%;
    height: 100%;
}

.bb-overlay, .bb-outer {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
}

.bb-page > div {
    width: 100%;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;

    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
}

.bb-back {
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

.bb-outer {
    width: 100%;
    overflow: hidden;
    z-index: 999;
}

.bb-overlay,
.bb-flipoverlay {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.bb-flipoverlay {
    background-color: rgba(0, 0, 0, 0.2);
}

.bb-bookblock > div.bb-page:first-child,
.bb-bookblock > div.bb-page:first-child .bb-back {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.view-2up {

    .page-item {
        // height: 1020px;
        // min-width: 400px;
        width: 680px;
        /*max-width: 680px;*/
        position: relative;
        height: 98%;

        overflow: hidden;
        overflow-x: auto;

        background-image: url(../graphics/thumb-loader.gif);
        background-repeat: no-repeat;
        background-position: center;

        min-width: inherit;
        height: 98%;


        img {
            /* max-height AND max-width will keep aspect ratio */
            max-height: 100%;
            max-width: 100%;

            visibility: hidden;

            border: 1px solid #d5d3d3;
            box-shadow: 0 1px 10px rgba(0,0,0,.1);

        }

        &.loaded {

            background-image: none;

            img { visibility: visible; }
        }

        &.untypical-page {
            img {
                border: 4px double #d5d3d3;
                box-shadow: 0px 5px 10px rgba(0,0,0,.8);
            }
        }

        button {
            margin: 10px;
            float: left;
        }

    }

    .page-left {
        width: 50%; /*48%;*/
        float: left;
        /*margin-right: 2px;*/
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        text-align: right;

        .page-num {
            right: auto;
            // left: 5px;
            left: 40px;
        }

        img {
            border-right: 2px solid #ddd;
        }
    }

    .page-right {
        width: 50%; /*48%;*/
        float: left;
        /*margin-left: 2px;*/
        position: absolute;
        top: 0;
        left: 50%;
        bottom: 0;
        text-align: left;

        .page-num {
            // right: 8px; // --- for off page
            right: 40px;
        }
    }

    .empty {
        background: #fff;
        border: none;
        box-shadow: none;
    }




}



.view-2up .page-item.page-right button {
    float: right;
}

// .view-2up .page-num {
//     color: #666;
//     font-size: 24px;
//     top: 50px;
//     right: 60px;
//     position: absolute;
//     font-weight: bold;
// }


// ROTATE

.flip-rotating {
    -webkit-transition: all 1s ease;
    transition: rotate 1s ease;
}

.flip-rotated-90 {
    -webkit-transform: rotate(90deg);
    margin-top: 200px;
    margin-bottom: 200px;
}

.flip-rotated-180 {
    -webkit-transform: rotate(180deg);
}

.flip-rotated-270 {
    -webkit-transform: rotate(270deg);
    margin-top: 200px;
    margin-bottom: 200px;
}

// SLIDER

.nob {
    width: 100%;
}

.slider.slider-horizontal {
    margin-top: 8px;
    z-index: 105;
    width: 100%;
}

