@import "../../../common/web/unicorn/sass/base";
@import "../vendor/slider/css/slider";
@import "../vendor/BookBlock/css/bookblock";

#content {
    @include rem(margin-top, 24);
    margin-bottom: 30px;
    margin-bottom: 3rem;
    padding: 0;
}

.bb-custom-wrapper {
    background: #fff;

    width: 90%;
    height: 550px;
    position: relative;

    margin: 0px auto;
    @include rem(margin-bottom, 20);

    .bb-bookblock {
        width: 100%;
        height: 100%;
        // -webkit-perspective: 2000px;
        // -moz-perspective: 2000px;
        // perspective: 2000px;
    }

    .bb-custom-side {
        width: 50%;
        float: left;
        height: 100%;
        overflow: hidden;
        /* Centering with flexbox */
        display: -webkit-box;
        display: -moz-box;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -moz-box-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -moz-box-align: center;
        -webkit-align-items: center;
        align-items: center;
        position: relative;
    }

}

/* No JS */
.no-js .bb-custom-wrapper {
    height: auto;
}

.no-js .bb-custom-content {
    height: 470px;
}

.bb-edge { 
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    cursor: default;
    background: #ddd;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAFCAYAAABirU3bAAAAG0lEQVQIW2O8c+fOTCEhIYZ3794xgGhGKggAAJf0H/UWcK5GAAAAAElFTkSuQmCC); 
    border-left: 2px solid #666;
    border-right: 2px solid #666;

    transition-property: left, right;
    transition-duration: 0.1s;
}

.bb-bookblock {
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
    border-top: 1px solid rgba(0, 0, 0, 0.1);

    &.flipping {
        // z-index: 500;
    }

    &.lowered {
        z-index: 0;
    }
}

.view-2up {

    // #scrolling {
    //     @include rem(margin-top, -35);
    // }

    .slider {
        &.slider-horizontal {
            @include rem(margin-top, -12);
            z-index: 105;
            width: 100%;
        }
    }

    .page-item {
        // // height: 1020px;
        // // min-width: 400px;
        // width: 680px;
        // /*max-width: 680px;*/
        // position: relative;
        // height: 98%;

        overflow: hidden;
        overflow-x: auto;

        background-image: url(../graphics/thumb-loader.gif);
        background-repeat: no-repeat;
        background-position: center;

        min-width: inherit;
        // height: 98%;


        img {
            /* max-height AND max-width will keep aspect ratio */
            max-height: 100%;
            max-width: 100%;

            visibility: hidden;

            // border: 1px solid #d5d3d3;
            // box-shadow: 0 1px 10px rgba(0,0,0,.1);

        }

        &.loaded {

            background-image: none;

            img { visibility: visible; }
        }

        &.untypical-page {
            img {
                border-bottom: 4px double #d5d3d3;
                // box-shadow: 0px 5px 10px rgba(0,0,0,.8);
            }
        }

        button {
            margin: 10px;
            position: absolute;
            @include rem(width, 70);
            @include rem(margin-left, -35);
            left: 50%;
            bottom: 0;
        }

    }

    .page-left {
        // width: 50%; /*48%;*/
        // float: left;
        // /*margin-right: 2px;*/
        // position: absolute;
        // top: 0;
        // left: 0;
        // bottom: 0;
        // text-align: right;

        .page-num {
            right: auto;
            // left: 5px;
            left: 40px;
        }

        img {
            // border-right: 2px solid #ddd;
            position: absolute;
            right: 0;
            top: 0;
        }

        border-right: 2px solid #ddd;
    }

    .page-right {
        // width: 50%; /*48%;*/
        // float: left;
        // /*margin-left: 2px;*/
        // position: absolute;
        // top: 0;
        // left: 50%;
        // bottom: 0;
        // text-align: left;

        .page-num {
            // right: 8px; // --- for off page
            right: 40px;
        }

        img {
            position: absolute;
            left: 0;
            top: 0;
        }
    }

    .empty {
        background: #fff;
        border: none;
        box-shadow: none;
    }




}



.view-2up .page-item.page-right button {
    float: right;
}

// .view-2up .page-num {
//     color: #666;
//     font-size: 24px;
//     top: 50px;
//     right: 60px;
//     position: absolute;
//     font-weight: bold;
// }


// ROTATE

.flip-rotating {
    -webkit-transition: all 1s ease;
    transition: rotate 1s ease;
}

.flip-rotated-90 {
    -webkit-transform: rotate(90deg);
    margin-top: 200px;
    margin-bottom: 200px;
}

.flip-rotated-180 {
    -webkit-transform: rotate(180deg);
}

.flip-rotated-270 {
    -webkit-transform: rotate(270deg);
    margin-top: 200px;
    margin-bottom: 200px;
}

// SLIDER

.nob {
    width: 100%;
}


