.view-image {
    .page-item {
        display: block;
        min-height: 200px;
        min-width: 510px;
        background: transparent;

        border: 4px solid #eee;
        border: 4px solid rgba(238, 238, 238, 0.5);
        padding: 3px;

        margin-left: auto;
        margin-right: auto;

        background-image: url(../graphics/thumb-loader.gif);
        background-repeat: no-repeat;
        background-position: center;

        text-align: center;

        $size: 50;
        @while $size < 500 {
            &.size-#{$size} {
                max-width: #{(680 * ( $size / 100 )) + 14}px;
                min-height: #{(900 * ( $size / 100)) + 14}px;
            }
            $size: $size + 25;
        }

        // &.size-75 {
        //     max-width: 510;
        // }

        // &.size-100 {
        //     max-width: 680px;
        //     min-height: 1000px;
        // }

        // &.size-125 {
        //     max-width: 1025px;
        // }

        // &.size-150 {
        //     max-width: 1020px;
        // }

        // &.size-175 {
        //     max-width: 
        // }

        &.loaded {
            background-image: none;
            border-color: transparent;

            img {
                visibility: visible;
                border: 1px solid #eee;
            }
        }

        img {
            visibility: hidden;
            max-width: 100%;
        }

    }
}