.view-image {
    .page-item {
        display: block;
        min-height: 200px;
        min-width: 510px;
        background: transparent;

        border: 4px solid #eee;
        border: 4px solid rgba(238, 238, 238, 0.5);
        padding: 3px;

        margin-left: auto;
        margin-right: auto;

        background-image: url(../graphics/thumb-loader.gif);
        background-repeat: no-repeat;
        background-position: center;

        &.loaded {
            background-image: none;

            img {
                visibility: visible;
            }
        }

        img {
            // visibility: hidden;
        }

    }
}