@import "../../../common/web/unicorn/sass/base";

.view-plaintext {

    #content {

        @include rem(padding, 8);

        .page-item {
            display: block;
            min-height: 350px;
            min-width: 510px;
            background: transparent;

            border: 4px solid transparent;
            padding: 3px;

            margin-left: auto;
            margin-right: auto;

            font-family: Georgia, Palatino, "Times New Roman", serif;
            @include rem(font-size, 18);
            line-height: 1.4;
            // @include rem(line-height, 1.4);

            .page-inner {
                background: #fff;
                padding: 40px;
            }
            
        }


    }


}