@import "../../../common/web/unicorn/sass/base";

.view-1up {

    .page-item {

        display: block;
        height: 755px;
        width: 510px;
        background: transparent;
        padding: 8px;
        border: 4px solid #eee;
        padding: 3px;
        overflow: hidden;
        margin: 1em;
        margin-right: auto;
        margin-left: auto;
        position: relative;
        text-align: center;

        background-image: url(../graphics/thumb-loader.gif);
        background-repeat: no-repeat;
        background-position: center;

        &.loaded {
            background-image: none;
            border-color: transparent;

            img {
                visibility: visible;
            }
        }

        img {
            max-width: 100%;
            max-height: 100%;

            visibility: hidden;

            display: inline-block;
            border: 1px solid #d5d3d3;
            // box-shadow: 0 1px 10px rgba(0,0,0,.1);
        }

        &.current {
            border-left: 4px solid #333 !important;
        }

        .expanded {
            border: 4px dashed #666;
        }


    }

    // .page-num {
    //     position: absolute;
    //     z-index: 1000;
    //     opacity: 0.4;
    //     background: #666;
    //     color: #eee;
    //     text-align: center;
    //     height: 40px;
    //     width: 32px;
    //     font-size: 18px;
    //     font-weight: bold;
    //     padding: 8px;
    //     top: 10px;
    //     right: 10px;
    //     display: table-cell;
    //     vertical-align: middle;
    // }

}