@import "../../../common/web/unicorn/sass/base";

.view-thumb {

    max-width: none;

    #content:after {
        content: "";
        display: table;
        height: 0;
        clear: both;
    }

    .thumbnails {
        // @include pie-clearfix;

        &.rtl .page-item {
            float: right;
        }

    }

    .thumbnails:after {
        content: "";
        display: table;
        clear: both;
    }

    .page-item {
        min-height: 100px;
        min-width: 100px;
        height: 100%;

        background: transparent;
        border: 1px solid #eee;

        float: left;
        @include rem(margin, 4);
        @include rem(margin-top, 16);
        @include rem(margin-bottom, 16);
        display: block;
        // display: table-cell;
        position: relative;

        text-align: center;
        vertical-align: middle;

        background-image: url(../graphics/thumb-loader.gif);
        background-repeat: no-repeat;
        background-position: center;

        &.loaded {
            background-image: none;
            border-color: transparent;

            img {
                visibility: visible;
            }
        }

        .page-link {
            display: inline-block;
        }

        // label {
        //     position: absolute;
        //     right: 0;
        //     left: 0;
        //     height: 32px;
        //     bottom: -40px;
        //     // z-index: 5000;
        // }

        img {
            max-width: 100%;
            max-height: 100%;
            width: 100%;
            border: 1px solid #d5d3d3;
            // box-shadow: 0 1px 10px rgba(0,0,0,.1);
            visibility: hidden;
        }

        .page-wrap {
            // position: absolute;
            // top: 0;
            // left: 0;
            // top: 50%;
            // margin-top: -25%;
            // left: 50%;
            // margin-left: -25%;
            display: inline-block;
        }

    }

    // .page-num {
    //     position: absolute;
    //     z-index: 50;
    //     opacity: 0.4;
    //     background: #666;
    //     color: #eee;
    //     text-align: center;
    //     height: 40px;
    //     width: 32px;
    //     font-size: 14px;
    //     font-weight: bold;
    //     padding: 8px;
    //     top: 10px;
    //     right: 10px;
    //     display: table-cell;
    //     vertical-align: middle;
    // }    

}