.epub-meter-wrap {
    position: relative;
    height:120px;
    width:250px;
}


/*
.meter-wrap, .meter-value, .meter-text {
  
    width: 250px; height: 30px;
		padding: 0;
}
*/
.epub-meter-wrap, .epub-meter-value {
    background: #cccccc;
}
.epub-meter-value{
	height:30px;
	max-width: 240px;
	background-color: #EF7A06;
	width:0%;
}
.epub-meter-value-wrap{
	margin:5px;
	border-style:solid;
	border-width:1px;
}

.epub-meter-button{
	padding:5px;
}

.epub-meter-text {
    /*position: absolute;*/
    /*top:0; left:0;*/

    padding: 5px;
    color: black;
    text-align: center;
    /*width: 100%;*/

		/*white-space: nowrap;*/
}

/*.fullPdfAlert,*/ .fullEpubAlert {
	width: 13em;
}

/*#noPdfAccess,*/ #noEpubAccess {
  display: none;
}

.align-right {
	text-align: right;
}

.meter-wrap {
    position: relative;
}

.meter-wrap, .meter-value, .meter-text {
    /* The width and height of your image */
    width: 250px; height: 30px;
		padding: 0;
}

.meter-wrap, .meter-value, .download_wrap {
    background: #F6F6F6;
}

.meter-text {
    position: absolute;
    top:0; left:0;

    padding-top: 5px;

    color: black;
    text-align: center;
    width: 100%;

		white-space: nowrap;
}

.fullPdfAlert {
	/*width: 13em;*/
	/*min-width: 85%;*/
	background: #F6F6F6;
}

.fullPdfAlert > div {
  text-align: center;
}

#noPdfAccess {
  display: none;
}