
/* header CSS */
.htlogobutton{
	background-image:url(mobile/images/HTLogo.png);
	float:left;
	width:50px;
	height:47px;	
}

.header {
    background-color:#999;
    height:47px;
    text-align:center;
}

.header a:visited,
.header a:link{
	color:white;
	font-weight:bold;
	line-height:3em;
	text-decoration:none;
}

.header img{
    float:left;
}



p.loggedinNoAccess {
  background: transparent url(/wayf/common-web/graphics/icon_x.gif) no-repeat scroll 15px 50%;
  padding: 5px 5px 5px 40px;
  font-style: italic;
}

div.heading {
	font-size:1.3em;
	text-align:center;
	border:none;
	margin:0;
	padding:0;
}

div.loginbutton{
	text-align:center;
	border:none;
	margin:0 0 5px 0;
	padding:0;
}
/*
div.loginbutton button{
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	background-image:url(mobile/images/Arrow_rightcircle_wh.png);
	background-repeat: no-repeat;
	background-position: right center;
	padding:5px 30px 5px 5px;
	width:auto;
}
*/
div.loginbutton a {
	border:1px solid #ccc;
	background-color:#d37f28;
	font-size:.9em;
	padding:5px 30px 5px 5px;
	background-image:url(mobile/images/Arrow_rightcircle_wh.png);
	background-repeat: no-repeat;
	background-position: right center;		
}

div.loginbutton a:link,
div.loginbutton a:visited {
	color:#fff;
	text-decoration:none;
}

div.friend{
	text-align:center;
	padding:0;
	margin:0 0 5px 0;
	border:none;
}

div.friend a {
	border:1px solid #ccc;
	background-color:#d37f28;
	font-size:.9em;
	padding:5px 30px 5px 5px;
	background-image:url(mobile/images/Arrow_rightcircle_wh.png);
	background-repeat: no-repeat;
	background-position: right center;		
}

div.friend a:link,
div.friend a:visited {
	color:#fff;
	text-decoration:none;
}

div#shibLogin, div#nonShibLogin{
	/*width:300px;*/
}

div#shibLogin{
	/*margin:0 auto 10px auto;*/
	margin:0 10px 10px 10px;
}

div#nonShibLogin{
	/*margin:0 auto 0 auto;*/
	margin:0 10px 0 10px;
}

div.instheading {
	font-size:1.3em;
	text-align:center;
	border:none;
	margin:0;
	padding:10px;
}

div#selectinst{
	background-color:#fff;
	width:100%;
}

ul#instlist{
    list-style: none;
    padding:0;
    margin:0;
}

ul#instlist li{
    border-bottom:1px solid #bbb;	
	background-color:#eee;
}

ul#instlist li:first-child{
    border-top:1px solid #bbb;			
}

ul#instlist li a{
	display:block;
	padding:10px;
	
	background-image:url(mobile/images/rightarrow.png);
	background-repeat: no-repeat;
	background-position: right center;	
}

ul#instlist li a:link, ul#instlist li a:visited{
	color:#000;
	text-decoration:none;
}

a.noinst{
	display:block;
	padding:10px;
	background-image:url(mobile/images/Arrow_rightcircle.png);
	background-repeat: no-repeat;
	background-position: right center;	
}

a.noinst:link,
a.nosint:visited {
	color:#ef7a06;
	text-decoration:none;
}

#contentContainer{
	margin-bottom:20px;
}

/* /htapps/bkammin.babel/wayf/web/mobile/loginStylesMobile.css */
