[submodule "vendor/common-lib/lib"]
	path = vendor/common-lib/lib
	url = /htapps/repos/mdp-lib.git
[submodule "web/yui2-lib"]
	path = web/yui2-lib
	url = git://github.com/yui/yui2.git
[submodule "web/common-web"]
	path = web/common-web
	url = /htapps/repos/mdp-web.git
[submodule "vendor/slip-lib/lib"]
	path = vendor/slip-lib/lib
	url = /htapps/repos/slip-lib.git
