vendor
.bundle
.env
.htd.ini
stage-item/*.xml
stage-item/*.zip
slip/sample
apache/auth/active_auth.conf

# other repositories

catalog/
hathitrust_catalog_indexer/
lss_solr_configs/
sample-data/
ptsearch-solr/
firebird-common/

logs/
cache/
geoip/
