<div class="controls clearfix">
  <div>
    <ul class="filters">
      <li><button class="g-button large">Recently Updated</button></li>
      <li><button class="g-button large">Featured</button></li>
      <li><button class="g-button large">My Collections</button></li>
      <li><button class="g-button large active">All</button></li>
    </ul>
    <form>
      <p>
        <input class="q" type="text" placeholder="Find a collection" name="q" id="q" size="35" />
      </p>
    </form>
    <br clear="both" />
    <div class="num_items_control">
      Collections with more than 
        <select size="1" name="min_items" id="min_items">
          <option value="0">(all collections)</option>
          <option value="1000">1000 items</option>
          <option value="500">500 items</option>
          <option value="250">250 items</option>
          <option value="100">100 items</option>
          <option value="50">50 items</option>
          <option value="25" selected="selected">25 items</option>
        </select>
    </div>
    <form>
      <p>
        Sort by: <select size="1" name="sort_by" id="sort_by">
          <option value="collname">Collection Title</option>
          <option value="owner_name">Owner</option>
          <option value="num_items">Items (1..999)</option>
          <option value="num_items" rel="desc">Items (999..1)</option>
        </select>
      </p>
    </form>
  </div>
  <div class="status">
    <span class="active_filters"></span>
    <a class="awesome small reset_filters_link" href="#">Reset</a>
  </div>
</div>