// html.mobile {

@media only screen and (max-width:62em) {

  html[data-view="options"] {

    #sidebar {
      // position: fixed;
      // display: block;
      background: #fff;
      z-index: 15;
    }

  }

  html[data-expanded="false"] {
    header {
      display: none;
    }

    #sidebar {
      display: none;
      // transition: max-height 0.2s ease-out;
    }
  }

}

