.sidebar-container {

  display: flex;
  flex-direction: column;
  // height: 100%;
  // overflow: hidden;

  margin-top: 1.5rem;
  min-width: 18rem;

  #mdpBackToResults {
    padding: 1rem 1rem 0.5rem;
    width: 95%;
    margin: 0 auto;
  }

  .panel {
    padding: 1rem;
    margin: 0 auto;
    width: 95%;

    &.bibLinks {
      padding-top: 0;
    }

    h2, h3 {
      font-size: 110%;
      font-weight: bold;
      margin-bottom: 0.75rem;
      border-bottom: 1px solid #ddd;
      padding-bottom: 0.5rem;
    }

    p {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }

    p:first-of-type, p:first-child {
      margin-top: 0;
    }

    p + p {
      margin-bottom: 0;
    }

    ul {
      // margin-bottom: 1rem;
    }

    li {
      position: relative;
    }

    li + li {
      margin-top: 0.25rem;
    }

    form {
      margin-top: 0.5rem;
      margin-bottom: 0.25rem;

      label {
        display: block;
        margin-bottom: 0.25rem;
      }

      input[type=text] {
        margin-bottom: 1rem;
      }
    }

    select {
      width: 100%;
      font-size: 100%;
      margin-top: 0.25rem;
      margin-bottom: 0.25rem;
    }

  }

  .scrollable {
    // overflow: auto;
    margin-bottom: 1rem;
  }

}

.embedUrlContainer {
  position: reliatve;
    h3 {
        display: block;
        font-weight: bold;
        position: relative;
        margin-bottom: 1rem;
    }

    input[type="radio"] {
      padding-left: 1.2rem;
    }

    textarea {
        width: 95%;
        margin-bottom: 0.5rem;
    }

    label {
      padding-right: 1rem;
    }

    label.radio .icomoon-scroll {
      font-size: 1rem;
    }
    label.radio .icomoon-book-alt2 {
      font-size: 1rem;
    }

    #embedHelpIcon {
      display: inline-block;
      position: relative;
      height: 18px;
      width: 18px;
      top: 0;
      right: 0;
      margin-left: 1rem;
      line-height: 1.2;
      // margin-left: 20rem;
      // margin-bottom: 1rem;
      background-image: url(/common/unicorn/img/icon_question.png);
      background-repeat: no-repeat;
      text-indent: -10000px;
    }
}

.pdfPartnerLoginLinkMessage {
  font-style: italic;
  color: #666;
  margin-top: 0.25rem;
}

.help-block {
  display: block;
  margin-bottom: 1rem;
}

.btn-mini {
  font-size: 0.75rem;
  padding: 0.25rem 0.5rem;
}

.share-toolbar {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

#action-clear-selection {
  position: absolute;
  right: 0;
  margin-left: -8px;
  visibility: hidden;
}

// section[data-selected="0"] {
//   #action-clear-selection {
//     visibility: hidden;
//   }
// }

