@import "variables";
@import "../../../common/web/unicorn/vendor/icomoon/style.scss";
@import "reset";
@import 'microtip/microtip';
@import 'alerts';
@import 'skiplinks';
@import "nav";
@import "sidebar";

body {
  overflow: hidden;
  height: 100vh;
}

main > .container {
  width: 100%;
}

.toolbar {
  // position: fixed;
  display: flex;
  button {
    background-color: #666;
    color: #eee;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
    border-color: #333;

    &.active {
      background: rgba(0,0,0,0.8);
    }

    &:hover:enabled {
      background: rgba(0,0,0,0.8);
    }
  }
}

#toolbar-horizontal {
  width: 100%;
  z-index: 5;
  justify-content: flex-end;
  align-items: center;

  > * {
    margin-right: 0.25rem;
  }

  // input[type=text] { width: auto; }

  form {
    flex-basis: auto;
    display: flex;
    align-items: center;

    label {
      display: flex;
      align-items: center;
      margin-right: 0.25rem;
    }
  }

  .dropdown-menu {
    display: none;
  }

  ul {
    button {
      text-align: center;
      width: 3rem;
      height: 2.8rem;
      margin-left: 0.25rem;
    }
  }

}

#toolbar-vertical {

  // margin-top: -3rem;
  // border: 1px solid green;
  z-index: 2;

  flex-shrink: 0;
  flex-basis: 3rem;

  flex-direction: column;

  .btn-group + .btn-group {
    margin-top: 10px;
  }
}

main.main-container {
  grid-area: main;

  margin: 0;
  overflow: hidden;

  // padding: 0 1rem;
  // padding-top: 2.7rem;

  display: flex;
  flex-direction: column;

  padding: 0.75rem 1rem;
}

.section-container {
  margin: 0;
  overflow: hidden;

  display: flex;
  flex-direction: column;

  // padding: 0.75rem 1rem;
}

.sidebar-container {

}

.xxxside-container {


  grid-area: sidebar;

  // border-right: 1px solid #e1dfdf;

  display: flex;
  flex-direction: column;
  // height: 100%;
  overflow: hidden;

  margin-top: 4.2rem;

  #mdpBackToResults {
    padding: 1rem 1rem 0.5rem;
    width: 95%;
    margin: 0 auto;
  }

  .panel {
    padding: 1rem;
    margin: 0 auto;
    width: 95%;

    &.bibLinks {
      padding-top: 0;
    }

    h2, h3 {
      font-size: 110%;
      font-weight: bold;
      margin-bottom: 0.75rem;
      border-bottom: 1px solid #ddd;
      padding-bottom: 0.5rem;
    }

    p {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }

    p:first-of-type, p:first-child {
      margin-top: 0;
    }

    p + p {
      margin-bottom: 0;
    }

    ul {
      // margin-bottom: 1rem;
    }

    li + li {
      margin-top: 0.25rem;
    }

    form {
      margin-top: 0.5rem;
      margin-bottom: 0.25rem;

      label {
        display: block;
        margin-bottom: 0.25rem;
      }

      input[type=text] {
        margin-bottom: 1rem;
      }
    }

    select {
      width: 100%;
      font-size: 100%;
      margin-top: 0.25rem;
      margin-bottom: 0.25rem;
    }

  }

  .scrollable {
    overflow: auto;
    margin-bottom: 1rem;
  }

}

main .inner.main {
  margin: 1rem auto;
  overflow: hidden;

  // border: 1px solid #d5d3d3;
  // box-shadow: rgba(0,0,0,0.1) 0 1px 10px;

  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: row;

}

.section-main .navigator {
  // padding: 0.5rem 1rem 1rem;
  padding: 0.5rem 1rem;
  background: #666; // #E3E2DF;
  color: #fff;
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }

  // height: 54px;

  $thumb-size: 24px;
  $range-gradient-start: #2497e3; // #9e6957
  $range-gradient-end: #a2d3f5; // #51475a

  input[type=range] {
      margin: auto;
      margin-right: 1rem;
      // outline: none;
      padding: 0;
      flex-grow: 1;
      height: 16px;
      background-color: #bab9b7; // #feebc5;
      background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, $range-gradient-start), color-stop(100%, $range-gradient-start));
      background-image: -webkit-linear-gradient($range-gradient-start, $range-gradient-start);
      background-image: -moz-linear-gradient($range-gradient-start, $range-gradient-start);
      background-image: -o-linear-gradient($range-gradient-start, $range-gradient-start);
      background-image: linear-gradient($range-gradient-start, $range-gradient-start);
      background-size: 0% 100%;
      background-repeat: no-repeat;
      border-radius: 4px;
      cursor: pointer;
      -webkit-appearance: none;
  }

  input[type=range]::-webkit-slider-runnable-track {
      box-shadow: none;
      border: none;
      background: transparent;
      -webkit-appearance: none;
  }

  input[type=range]::-moz-range-track {
      box-shadow: none;
      border: none;
      background: transparent;
  }

  input[type=range]::-moz-focus-outer {
      border: 0;
  }

  input[type=range]::-webkit-slider-thumb {
      width: $thumb-size;
      height: $thumb-size;
      border: 0;
      background: #fff;
      border-radius: 4px;
      box-shadow: 0 0 1px 0px rgba(0,0,0,0.1);
      -webkit-appearance: none;
  }

  input[type=range]::-moz-range-thumb {
      width: $thumb-size;
      height: $thumb-size;
      border: 0;
      background: #fff;
      border-radius: 4px;
      box-shadow: 0 0 1px 0px rgba(0,0,0,0.1);
  }

  input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 0px 0px 0px #000000;
    border: 1px solid #2497E3;
    height: $thumb-size;
    width: $thumb-size;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 0 1px 0px rgba(0,0,0,0.1);
    cursor: pointer;
  }

  .output {
    margin-right: 1rem;
    display: inline-block;
  }

}

.viewer {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  margin-right: 0.5rem;
}

section section {
  // /grid-column: span 3 / auto;
  flex: 1 1 auto;
  overflow: hidden;
  position: relative;

  display: flex;
  flex-direction: column;

  // background: #fffefb;
  // border: 1px solid #d5d3d3;
  // box-shadow: rgba(0,0,0,0.1) 0 1px 10px;

  position: relative;

  // .main-wrap {
  //   display: grid;
  //   grid-template-rows: 1fr 3.6rem;
  //   height: 100%;
  //   // flex-direction: column;
  // }

  .pages {
    // flex-grow: 1;
    // padding: 1rem;
    // height: 100%;
    flex: 1 1 auto;
    position: relative;
    overflow: hidden;

    .pages-inner {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      overflow: auto;
    }
  }

  .viewer-inner {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
  }

  .page {
    margin: 2rem auto;
    position: relative;
    overflow: hidden;

    box-shadow: 0px 10px 13px -7px #000000, 0px 6px 15px 5px rgba(0,0,0,0);
    border: 1px solid #ddd;

    .info {
      display: block;
      padding: 1rem;
      border: 1px solid #ddd;
      text-align: center;
      font-size: 200%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: #000;
      color: #fff;
      opacity: 0.4;
      z-index: 1;
    }

    .page-text {
      display: block;
      // height: 100%;
      // width: 100%;
      // position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: #eee;
      // opacity: 1.0;

      position: absolute !important;
      height: 1px; width: 1px;
      overflow: hidden;
      clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
      clip: rect(1px, 1px, 1px, 1px);

      // &:hover {
      //   opacity: 0;
      // }
    }

  }

  canvas, img {
    margin: 0 auto;
    display: block;
  }
}

main[data-view="1up"] {
  section {
    .page {
      width: 80%;

      &[data-rotate]:not([data-rotate="0"]) {
        transform: rotate(var(--rotate));
        margin: var(--rotate-margin);
        // margin-top: -var(--rotate-margin);
        // margin-bottom: -var(--rotate-margin);
        // margin-left: var(--rotate-margin);
        // margin-right: var(--rotate-margin);
      }

      img {
        width: 100%;
      }

    }
  }

  button[data-target="1up"] {
    background: rgba(0,0,0,0.8);
  }
}

main[data-view="image"] {
  section {
    .page {
      width: 80%;
      position: absolute;
      top: 0;

      // &[data-rotate]:not([data-rotate="0"]) {
      //   transform: rotate(var(--rotate));
      //   margin-top: var(--rotate-margin);
      //   margin-bottom: var(--rotate-margin);
      // }

      &[data-best-fit="true"] {
        left: 50%;
        transform: translate(-50%);
      }

      &[data-visible="false"] {
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s linear 300s, opacity 300ms;
      }

      &[data-visible="true"] {
        visibility: visible;
        opacity: 1;
        transition: visibility 0s linear 0s, opacity 300ms;
      }
    }
  }

  button[data-target="image"] {
    background: rgba(0,0,0,0.8);
  }
}

main[data-view="2up"] {
  section {
    .slice {
      width: var(--slice-width); // 100%
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;

      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: center;

      &[data-visible="false"] {
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s linear 300s, opacity 300ms;
      }

      &[data-visible="true"] {
        visibility: visible;
        opacity: 1;
        transition: visibility 0s linear 0s, opacity 300ms;
      }
    }

    .page {

      margin: 0;

      &.verso {
        height: var(--page-height);
        width: calc(var(--page-height) * var(--page-ratio));
      }

      &.recto {
        height: var(--page-height);
        width: calc(var(--page-height) * var(--page-ratio));
      }

      img {
        height: 100%;
      }
    }

    .edge {
      height: calc(var(--page-height) * 0.98);
      background: #ddd;
      background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAFCAYAAABirU3bAAAAG0lEQVQIW2O8c+fOTCEhIYZ3794xgGhGKggAAJf0H/UWcK5GAAAAAElFTkSuQmCC);

      &.recto {
        border-right: 8px solid #666;
        width: calc(var(--fraction) * var(--edge-width));
      }

      &.verso {
        border-left: 8px solid #666;
        width: calc(var(--fraction) * var(--edge-width));
      }


    }
  }

  button[data-target="2up"] {
    background: rgba(0,0,0,0.8);
  }
}

main[data-view="thumb"] {
  section {

    .viewer-inner {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: center;
      flex-direction: row;
    }

    .page {
      margin: 2rem 2rem;
      cursor: pointer;

      img {
        max-width: 100%;
      }
    }
  }

  button[data-target="thumb"] {
    background: rgba(0,0,0,0.8);
  }
}

main[data-view="plaintext"] {
  section {
    .page {
      width: 90%;
      max-width: 80rem;
      min-height: 90vh;
      position: absolute;
      top: 0;

      &[data-best-fit="true"] {
        left: 50%;
        transform: translate(-50%);
      }

      &[data-visible="false"] {
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s linear 300s, opacity 300ms;
      }

      &[data-visible="true"] {
        visibility: visible;
        opacity: 1;
        transition: visibility 0s linear 0s, opacity 300ms;
      }

      .page-text {
        display: block;
        height: 100%;
        width: 100%;
        padding: 1rem;
        background: transparent;

        font-size: 1.25rem;
        line-height: 1.25;

        clip: unset;
        clip: unset;
        clip-path: none;
        clip-path: none;

        .ocr_page, .ocrx_block { font-size: inherit; }
        .ocrx_block {
          margin-bottom: 1rem;
          line-height: 1.5;
        }
      }
    }
  }

  button[data-target="plaintext"] {
    background: rgba(0,0,0,0.8);
  }
}

/* UTILITY */

.btn-loading {
  padding-right: 34px;
  background-image: url(/common/unicorn/img/throbber.gif);
  background-repeat: no-repeat;
  background-position: 90% 50%;
}

.toolbar {
  .btn-loading {
    background-image: url(/common/unicorn/img/throbber-dark.gif);
    background-repeat: no-repeat;
    background-position: 90% 50%;
  }
}

.pdfPartnerLoginLinkMessage {
  font-style: italic;
  color: #666;
  margin-top: 0.25rem;
}

.help-block {
  display: block;
  margin-bottom: 1rem;
}

.embedUrlContainer {
  position: reliatve;
    h3 {
        display: block;
        font-weight: bold;
        position: relative;
        margin-bottom: 1rem;
    }

    input[type="radio"] {
      padding-left: 1.2rem;
    }

    textarea {
        width: 95%;
        margin-bottom: 0.5rem;
    }

    label {
      padding-right: 1rem;
    }

    label.radio .icomoon-scroll {
      font-size: 1rem;
    }
    label.radio .icomoon-book-alt2 {
      font-size: 1rem;
    }

    #embedHelpIcon {
      display: inline-block;
      position: relative;
      height: 18px;
      width: 18px;
      top: 0;
      right: 0;
      margin-left: 1rem;
      line-height: 1.2;
      // margin-left: 20rem;
      // margin-bottom: 1rem;
      background-image: url(/common/unicorn/img/icon_question.png);
      background-repeat: no-repeat;
      text-indent: -10000px;
    }
}

/* SEARCH RESULTS */
/* SOLR HIGHLIGHTING */
.solr_highlight_1 {
  background: #ffff00;
  font-weight: bold;
}

.solr_highlight_2 {
  background: #00ff00;
  font-weight: bold;
}

.solr_highlight_3 {
  background: #ff9900;
  font-weight: bold;
}

.solr_highlight_4 {
  background: #00ffcc;
  font-weight: bold;
}

.solr_highlight_5 {
  background: #00cccc;
  font-weight: bold;
}

.solr_highlight_6 {
  background: #0099cc;
  font-weight: bold;
}

/* ANIMATION */
.pt-page-moveToLeft {
  -webkit-animation: moveToLeft .6s ease both;
  animation: moveToLeft .6s ease both; // .6s
}

.pt-page-moveFromLeft {
  -webkit-animation: moveFromLeft .6s ease both;
  animation: moveFromLeft .6s ease both;
}

.pt-page-moveToRight {
  -webkit-animation: moveToRight .6s ease both;
  animation: moveToRight .6s ease both;
}

.pt-page-moveFromRight {
  -webkit-animation: moveFromRight .6s ease both;
  animation: moveFromRight .6s ease both; // .6s
}

@keyframes moveToLeft {
  from { transform: translateX(-50%); }
  to { transform: translateX(-250%); }
}

@keyframes moveFromRight {
  from { transform: translateX(250%); }
  to { transform: translateX(-50%); }
}
