/* line 3, ../../sass/mobile/volume.scss */
html {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

/* line 9, ../../sass/mobile/volume.scss */
body {
  margin-top: 0;
  min-width: inherit;
  width: 100%;
  padding-bottom: 0;
}

/* line 16, ../../sass/mobile/volume.scss */
.alert-block.startup {
  width: 90%;
  margin: 20px auto;
  margin-top: 60px;
}

/* line 23, ../../sass/mobile/volume.scss */
.view-2up {
  padding-bottom: 0;
}
/* line 27, ../../sass/mobile/volume.scss */
.view-2up #content {
  height: 100%;
  margin: 0;
}
/* line 33, ../../sass/mobile/volume.scss */
.view-2up #content .bb-custom-wrapper {
  background-color: #999;
}
/* line 37, ../../sass/mobile/volume.scss */
.view-2up #content .bb-item {
  background-color: #999;
}
/* line 41, ../../sass/mobile/volume.scss */
.view-2up #content .empty {
  background-color: #999;
}
/* line 45, ../../sass/mobile/volume.scss */
.view-2up #content .bb-content {
  background-color: #999;
}
/* line 49, ../../sass/mobile/volume.scss */
.view-2up #content .page-left img {
  right: 0;
}
/* line 54, ../../sass/mobile/volume.scss */
.view-2up #content .page-right img {
  left: 0;
}

/* line 64, ../../sass/mobile/volume.scss */
.view-plaintext #content {
  margin: 0;
}
/* line 68, ../../sass/mobile/volume.scss */
.view-plaintext #content .page-item {
  display: block;
  width: 98%;
  margin: 8px auto;
  height: 1024px;
  background-color: #eee;
  background-image: url(/pt/graphics/thumb-loader.gif);
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 50px;
  overflow: hidden;
  /* Set our transitions up. */
  -webkit-transition: height 0.2s;
  -moz-transition: height 0.2s;
  transition: height 0.2s;
  font-size: 20px ;
  font-size: 2rem ;
  line-height: 1.6;
}
/* line 89, ../../sass/mobile/volume.scss */
.view-plaintext #content .page-item .ocr_page {
  visibility: hidden;
  padding: 24px;
  width: 100%;
  height: auto;
  text-align: left;
}
/* line 98, ../../sass/mobile/volume.scss */
.view-plaintext #content .page-item .ocr_page.empty {
  opacity: 0.8;
}
/* line 102, ../../sass/mobile/volume.scss */
.view-plaintext #content .page-item .ocr_page.empty .alert {
  font-family: "Helvetica Neue", helvetica, arial, sans-serif;
}
/* line 108, ../../sass/mobile/volume.scss */
.view-plaintext #content .page-item.loaded {
  background-image: none;
}
/* line 112, ../../sass/mobile/volume.scss */
.view-plaintext #content .page-item.loaded .ocr_page {
  visibility: visible;
}
/* line 117, ../../sass/mobile/volume.scss */
.view-plaintext #content .page-item.fuzzy {
  position: relative;
}
/* line 121, ../../sass/mobile/volume.scss */
.view-plaintext #content .page-item.fuzzy:after {
  position: absolute;
  content: "";
  display: block;
  height: 25%;
  bottom: 0;
  left: 0;
  right: 0;
  /* "transparent" only works here because == rgba(0,0,0,0) */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, transparent), color-stop(1, #eeeeee));
  background-image: -webkit-linear-gradient(top, transparent, #eeeeee);
  background-image: -moz-linear-gradient(top, transparent, #eeeeee);
  background-image: -ms-linear-gradient(top, transparent, #eeeeee);
  background-image: -o-linear-gradient(top, transparent, #eeeeee);
}
/* line 140, ../../sass/mobile/volume.scss */
.view-plaintext.zoom50 .page-item {
  font-size: 12px !important;
  font-size: 1.2rem !important;
  height: 600px !important;
}
/* line 147, ../../sass/mobile/volume.scss */
.view-plaintext.zoom75 .page-item {
  font-size: 18px !important;
  font-size: 1.8rem !important;
  height: 900px !important;
}
/* line 154, ../../sass/mobile/volume.scss */
.view-plaintext.zoom125 .page-item {
  font-size: 24px !important;
  font-size: 2.4rem !important;
  height: 1500px !important;
}
/* line 162, ../../sass/mobile/volume.scss */
.view-plaintext.zoom150 .page-item {
  font-size: 30px !important;
  font-size: 3rem !important;
  height: 1800px !important;
}
/* line 170, ../../sass/mobile/volume.scss */
.view-plaintext.zoom175 .page-item {
  font-size: 36px !important;
  font-size: 3.6rem !important;
  height: 2100px !important;
}
/* line 177, ../../sass/mobile/volume.scss */
.view-plaintext.zoom200 .page-item {
  font-size: 40px !important;
  font-size: 4rem !important;
  height: 2400px !important;
}

/* line 184, ../../sass/mobile/volume.scss */
.view-epub {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  margin-top: 0;
}
/* line 209, ../../sass/mobile/volume.scss */
.view-epub .cozy-container .cozy-panel-navigator {
  width: 50%;
  margin: 0 auto;
}
/* line 214, ../../sass/mobile/volume.scss */
.view-epub .container.page.centered {
  width: 100vw;
  height: 100%;
  min-height: 100%;
}
/* line 220, ../../sass/mobile/volume.scss */
.view-epub #scrolling {
  background: #fff;
}
/* line 224, ../../sass/mobile/volume.scss */
.view-epub #content {
  padding-top: 20px;
}
/* line 228, ../../sass/mobile/volume.scss */
.view-epub #search-page, .view-epub #contents-page {
  overflow: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
}
/* line 239, ../../sass/mobile/volume.scss */
.view-epub #search-page .search-results > li ul, .view-epub #contents-page .search-results > li ul {
  width: 100%;
  margin-right: 2%;
  margin-top: 8px;
}
/* line 245, ../../sass/mobile/volume.scss */
.view-epub #search-page .search-results > li a, .view-epub #contents-page .search-results > li a {
  width: 100%;
  display: inline-block;
  height: auto;
  float: none;
}
/* line 252, ../../sass/mobile/volume.scss */
.view-epub #search-page .search-results > li .mdpInnerList, .view-epub #contents-page .search-results > li .mdpInnerList {
  width: 100%;
}
/* line 255, ../../sass/mobile/volume.scss */
.view-epub #search-page .search-results > li .mdpInnerList a, .view-epub #contents-page .search-results > li .mdpInnerList a {
  background-position: right 0% center;
  padding-right: 40px;
}
/* line 263, ../../sass/mobile/volume.scss */
.view-epub .slider-park {
  height: 0;
}
/* line 267, ../../sass/mobile/volume.scss */
.view-epub .cbp-spmenu-bottom {
  margin-bottom: 30px;
}
/* line 270, ../../sass/mobile/volume.scss */
.view-epub .cbp-spmenu-bottom.cbp-spmenu-open {
  margin-bottom: 0;
}

/* line 277, ../../sass/mobile/volume.scss */
.slider-park {
  height: 30px;
  background: #555;
}

/* line 284, ../../sass/mobile/volume.scss */
.slider.slider-horizontal {
  height: 30px;
  width: 100%;
  z-index: 115;
  overflow: hidden;
  opacity: 0.95;
  background: #555;
  position: relative;
  margin-top: 0;
}
/* line 295, ../../sass/mobile/volume.scss */
.slider.slider-horizontal .slider-track {
  height: 10px;
  width: 98%;
  position: absolute;
  background: #ddd;
  margin-top: -5px;
  top: 50%;
  left: 50%;
  margin-left: -49%;
  background: #ccc;
}
/* line 306, ../../sass/mobile/volume.scss */
.slider.slider-horizontal .slider-track .slider-handle {
  background-color: #EEE;
  opacity: 1.0;
}

/* line 318, ../../sass/mobile/volume.scss */
.tooltip.in {
  opacity: 0.8;
  filter: alpha(opacity=80);
  z-index: 5000;
}

/* line 324, ../../sass/mobile/volume.scss */
.tooltip.top {
  padding: 5px 0;
  margin-top: -3px;
}

/* line 329, ../../sass/mobile/volume.scss */
input.nob {
  margin: 0;
  padding: 0;
  width: 95%;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 480px) {
  /* line 340, ../../sass/mobile/volume.scss */
  .view-1up .page-item {
    width: 320px;
    height: 473px;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
  }

  /* line 351, ../../sass/mobile/volume.scss */
  .view-plaintext #content .page-item {
    width: 98%;
    height: 473px;
    min-width: inherit;
    font-size: 16px ;
    font-size: 1.6rem ;
  }
  /* line 360, ../../sass/mobile/volume.scss */
  .view-plaintext.zoom50 .page-item {
    font-size: 12px !important;
    font-size: 1.2rem !important;
    height: 236px !important;
  }
  /* line 367, ../../sass/mobile/volume.scss */
  .view-plaintext.zoom75 .page-item {
    font-size: 14px !important;
    font-size: 1.4rem !important;
    height: 354px !important;
  }
  /* line 374, ../../sass/mobile/volume.scss */
  .view-plaintext.zoom125 .page-item {
    font-size: 18px !important;
    font-size: 1.8rem !important;
    height: 592px !important;
  }
  /* line 382, ../../sass/mobile/volume.scss */
  .view-plaintext.zoom150 .page-item {
    font-size: 20px !important;
    font-size: 2rem !important;
    height: 710px !important;
  }
  /* line 390, ../../sass/mobile/volume.scss */
  .view-plaintext.zoom175 .page-item {
    font-size: 24px !important;
    font-size: 2.4rem !important;
    height: 828px !important;
  }
  /* line 397, ../../sass/mobile/volume.scss */
  .view-plaintext.zoom200 .page-item {
    font-size: 38px !important;
    font-size: 3.8rem !important;
    height: 946px !important;
  }
}
