[submodule "vendor/common-lib/lib"]
	path = vendor/common-lib/lib
    url = git@github.com:hathitrust/mdp-lib.git
[submodule "vendor/plack-lib/lib"]
	path = vendor/plack-lib/lib
    url = git@github.com:hathitrust/plack-lib.git
