/** ls.scss
*
*
**/
/***
ls.css
  Unicorn version.  Stuff only needed by ls. 
   mostly for facets
   see oldls.css for old code
   Probably will need to pull in most of it for advanced search page
***/
/* line 18, ../sass/ls.scss */
.zero {
  background: #000000;
}

/**  Facet styling **/
/* line 25, ../sass/ls.scss */
ol.filters, ul.filters {
  list-style: none outside none;
}

/* line 29, ../sass/ls.scss */
ul.filters li {
  text-indent: -20px;
}

/* line 32, ../sass/ls.scss */
.removeFacetIcon {
  padding-right: 3px;
  position: relative;
  top: 3px;
  border: medium none;
}

/* line 39, ../sass/ls.scss */
.selectedfieldname {
  font-weight: bold;
}

/* line 49, ../sass/ls.scss */
*.hidefacet {
  display: none;
  visibility: hidden;
}

/* line 55, ../sass/ls.scss */
span.moreless {
  font-style: italic;
}

/* line 59, ../sass/ls.scss */
#DlpsDev {
  position: absolute;
  right: 10px;
  background: #666;
  color: yellow;
  padding: 8px;
}

/* line 67, ../sass/ls.scss */
.mainsearch {
  margin-bottom: 16px ;
  margin-bottom: 1.6rem ;
}
/* line 68, ../sass/ls.scss */
.mainsearch .search-extra-options {
  margin-top: 0;
  font-size: 90%;
  padding-bottom: 16px ;
  padding-bottom: 1.6rem ;
}

/* line 78, ../sass/ls.scss */
.SearchResults_status {
  padding-top: 20px ;
  padding-top: 2rem ;
  padding-bottom: 20px ;
  padding-bottom: 2rem ;
  font-size: 16px ;
  font-size: 1.6rem ;
}
/* line 84, ../sass/ls.scss */
.SearchResults_status span {
  font-weight: bold;
}

/* line 90, ../sass/ls.scss */
.main.mb .SearchResults_status {
  font-size: 13px ;
  font-size: 1.3rem ;
}

/* line 95, ../sass/ls.scss */
.modify_link {
  margin-top: 16px ;
  margin-top: 1.6rem ;
}

/* line 110, ../sass/ls.scss */
span.AnyAll {
  font-weight: normal;
  font-style: italic;
}
