/** ls.scss
*
*
**/
/***
ls.css
  Unicorn version.  Stuff only needed by ls. 
   mostly for facets
   see oldls.css for old code
   Probably will need to pull in most of it for advanced search page
***/
/* line 17, ../sass/ls.scss */
.main.noresults .mainsearch {
  margin-left: 5rem;
  width: 72%;
  border-bottom-color: transparent;
}

/* line 24, ../sass/ls.scss */
.zero {
  background: #000000;
}

/**  Facet styling **/
/* line 31, ../sass/ls.scss */
ol.filters, ul.filters {
  list-style: none outside none;
}

/* line 35, ../sass/ls.scss */
ul.filters li {
  text-indent: -20px;
}

/* line 38, ../sass/ls.scss */
.removeFacetIcon {
  padding-right: 3px;
  position: relative;
  top: 3px;
  border: medium none;
}

/* line 45, ../sass/ls.scss */
.selectedfieldname {
  font-weight: bold;
}

/* line 50, ../sass/ls.scss */
#selectedFacets p {
  margin-top: 1em;
  margin-bottom: 0.5em;
}

/* line 55, ../sass/ls.scss */
.query-summary {
  display: block;
  margin: 8px 0;
}
/* line 61, ../sass/ls.scss */
.query-summary ul {
  padding: 0;
}
/* line 63, ../sass/ls.scss */
.query-summary ul li {
  float: left;
  display: block;
  margin-right: 4px;
  margin-bottom: 0;
  padding: 0;
}
/* line 72, ../sass/ls.scss */
.query-summary ul li:first-child {
  border: 1px solid transparent;
}
/* line 75, ../sass/ls.scss */
.query-summary ul li:first-child .btn {
  padding: 4px 12px;
}
/* line 80, ../sass/ls.scss */
.query-summary ul li > .query-item {
  display: inline-block;
  padding: 4px;
  margin-bottom: 4px;
  font-size: 14px;
  line-height: 20px;
  border: 1px solid #dddddd;
  font-weight: normal;
}
/* line 89, ../sass/ls.scss */
.query-summary ul li > .query-item:hover {
  background: #e6e6e6;
  cursor: pointer;
}
/* line 98, ../sass/ls.scss */
.query-summary:after {
  display: table;
  content: '';
  clear: both;
}

/* line 106, ../sass/ls.scss */
.shareLinks .btn-group .btn {
  font-size: 11px;
  font-size: 1.1rem;
  padding: 4px;
  padding: 0.4rem;
  padding-left: 8px;
  padding-left: 0.8rem;
  padding-right: 8px;
  padding-right: 0.8rem;
}
/* line 117, ../sass/ls.scss */
.shareLinks input[type=text] {
  font-size: 12px;
  font-size: 1.2rem;
  height: 18px;
  height: 1.8rem;
  cursor: default;
}

/* line 126, ../sass/ls.scss */
.form-download-metadata {
  margin-top: 1.5rem;
}
/* line 129, ../sass/ls.scss */
.form-download-metadata a.download-help-link {
  display: inline-block;
  position: relative;
  height: 18px ;
  height: 1.8rem ;
  width: 18px ;
  width: 1.8rem ;
  margin-left: 5px ;
  margin-left: 0.5rem ;
  background-image: url(/common/unicorn/img/icon_question.png);
  background-repeat: no-repeat;
  text-indent: -10000px;
  text-transform: capitalize;
  clip: rect(0, 0, 0, 0);
  cursor: pointer;
}

/* line 151, ../sass/ls.scss */
*.hidefacet {
  display: none;
  visibility: hidden;
}

/* line 157, ../sass/ls.scss */
span.moreless {
  font-style: italic;
}

/* line 161, ../sass/ls.scss */
#DlpsDev {
  position: absolute;
  right: 10px;
  background: #666;
  color: yellow;
  padding: 8px;
}

/* line 169, ../sass/ls.scss */
.mainsearch {
  margin-bottom: 16px ;
  margin-bottom: 1.6rem ;
}
/* line 170, ../sass/ls.scss */
.mainsearch .search-extra-options {
  margin-top: 0;
  font-size: 90%;
  padding-bottom: 16px ;
  padding-bottom: 1.6rem ;
}

/* line 180, ../sass/ls.scss */
.SearchResults_status {
  padding-top: 20px ;
  padding-top: 2rem ;
  padding-bottom: 20px ;
  padding-bottom: 2rem ;
  font-size: 16px ;
  font-size: 1.6rem ;
}
/* line 186, ../sass/ls.scss */
.SearchResults_status span {
  font-weight: bold;
}

/* line 192, ../sass/ls.scss */
.main.mb .SearchResults_status {
  font-size: 13px ;
  font-size: 1.3rem ;
}

/* line 197, ../sass/ls.scss */
.modify_link {
  margin-top: 16px ;
  margin-top: 1.6rem ;
}

/* line 212, ../sass/ls.scss */
span.AnyAll {
  font-weight: normal;
  font-style: italic;
}
