/* Global Styles */

b {
  font-weight      : bold;
}

i {
  font-style       : italic;
}

a {
  color            : #ef7a06;
  text-decoration  : none;
}

img {
  border           : 0px;
}

a:hover, a:focus, a:active {
  color            : #ef7a06;
  text-decoration  : underline;
}

fieldset {
  background-color : #fafafa;
}

legend {
  font-weight      : bold;
  text-align       : center;
}

.brandingLogo {
}

.brandingLogo span {
  color            : #6A6B6E;
  font-size        : 1.7em;
  font-weight      : bold;
  left             : 10px;
  position         : relative;
  top              : -15px;
}

.brandingLogo a {
  text-decoration  : none;
}

.heading {
  font-weight      : bold;
  font-size        : 1.2em;
}

.subheading {
  font-weight      : bold;
  font-size        : 1em;
}

.tiny {
  font-size        : 0.8em;
}

#HTDCMasterContainer {
  width            : 680px;
  font-family      : Arial,Verdana,Helvetica,sans-serif;
  font-size        : 12pt;
  font-weight      : normal;
}

#HTDCcontainer {
  text-align       : left;
  margin-top       : 20px;
  padding-top      : 1.1em;
  padding-left     : 1.5em;
  padding-right    : 1.5em;
  padding-bottom   : 1.5em;

  border-top       : solid 4px #ccc;
  border-left      : solid 1px #ccc;
  border-right     : solid 1px #ccc;
  border-bottom    : solid 1px #ccc;
}



/* Request form page styles */

input.htresource {
  margin-top       : 0.6em;
}

label.request {
  display          : block;
  text-align       : right;
  width            : 10em;
  font-weight      : bold;
  color            : #999;
  float            : left;
}

div.request {
  width            : 35em;
  margin-bottom    : 1em;
  clear            : both;
}

input.htsubmit {
  float            : right;
}

div.resource_radio {
  margin-left      : 10em;
}

fieldset.request {
  width            : 36em;
}

#request {
  margin-left      : 14em;
}

#htseq, #htres, #htdebug {
  width            : 3em;
  font-family      : courier,monospace;
  font-size        : 1.2em;
  font-weight      : bold;
}

#htid {
  font-family      : courier,monospace;
  font-size        : 1.2em;
  font-weight      : bold;
}

span.sampleid {
  font-family      : courier,monospace;
  font-weight      : bold;
}

.req {
  font-weight      : bold;
  color            : red;
  padding-right    : 1em;
  vertical-align   : top;
}

.unreq {
  padding-right    : 1em;
  color            : #fafafa;
  vertical-align   : top;
}

/* Error page styles */

label.error {
  float            : right;
  color            : red;
}

p.error {
  font-weight      : bold;
}


