.dropped {
    border-bottom: 4px solid black;
    border-right: 4px solid black;
    border-left: 2px solid #ccc;
}

.container {
    width: 100% !important;
}

i.icomoon-reorder:before {
    content:"=";
    font-family: monospace;
    font-weight: bold;
}

.bb-custom-wrapper .bb-custom-side {
    width: 48% !important;
}

.page-item, .page-item img, .page-item a {
    box-sizing: content-box !important;
}

.page-wrap {
    position: static !important;
}

.page-item.loaded.selected .page-wrap:before {
    width: 10%;
    height: 2%;
    right: 0;
    border: none;
}

#sidebar {
    margin-top: 0;
}

.sidebar-wrap {
    margin-top: 0;
}

.navbar-inner .search-form .form-inline.focused .bg {
    border-bottom: 2px solid #000000;
}