/* line 3, ../sass/mobile.scss */
html {
  height: 100%;
}

/* line 7, ../sass/mobile.scss */
body {
  background-color: #999;
  min-width: inherit;
  width: 100%;
  height: 100%;
}

/* line 14, ../sass/mobile.scss */
#content:after {
  content: "";
  display: table;
  clear: both;
}

/* line 20, ../sass/mobile.scss */
.container {
  padding: 0;
}
/* line 24, ../sass/mobile.scss */
.container.centered {
  width: 100%;
}
/* line 27, ../sass/mobile.scss */
.container.centered.page {
  background-color: transparent;
  border: none;
  box-shadow: none;
  height: 100%;
}
/* line 35, ../sass/mobile.scss */
.container .main {
  padding: 0;
}

/* line 40, ../sass/mobile.scss */
#template {
  display: none;
}

/* line 46, ../sass/mobile.scss */
#toolbar-header #toolbar-back-to-item {
  display: none;
}
/* line 51, ../sass/mobile.scss */
#toolbar-header.do-search-inside #toolbar-back-to-item {
  display: inline-block;
}
/* line 55, ../sass/mobile.scss */
#toolbar-header.do-search-inside #toolbar-back-to-record {
  display: none;
}
/* line 59, ../sass/mobile.scss */
#toolbar-header.do-search-inside #action-table-of-contents {
  display: none;
}

/* line 66, ../sass/mobile.scss */
#toolbar-footer {
  text-align: center;
}
/* line 70, ../sass/mobile.scss */
#toolbar-footer button {
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  height: 60px;
  width: 17%;
}

/* MENU */
/* General styles for all menus */
/* line 84, ../sass/mobile.scss */
.cbp-spmenu {
  background: transparent;
  position: fixed;
  z-index: 1000;
  left: 0;
  width: 100%;
}

/* line 92, ../sass/mobile.scss */
.cbp-spmenu a {
  display: block;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}

/* line 103, ../sass/mobile.scss */
.cbp-spmenu a:active {
  background: #afdefa;
  color: #555;
}

/* line 109, ../sass/mobile.scss */
.cbp-spmenu-horizontal, .cbp-spmenu-horizontal2 {
  width: 100%;
  height: 66px;
  left: 0;
  z-index: 1000;
  overflow: hidden;
  background: #555;
  opacity: 0.95;
  text-align: center;
}
/* line 121, ../sass/mobile.scss */
.cbp-spmenu-horizontal button, .cbp-spmenu-horizontal2 button {
  background-repeat: no-repeat;
}

/* line 126, ../sass/mobile.scss */
.cbp-spmenu-horizontal a {
  float: left;
  width: 20%;
  padding: 0.8em;
  border-left: 1px solid #258ecd;
}

/* line 133, ../sass/mobile.scss */
.cbp-spmenu-top {
  top: -47px;
  height: 47px;
}
/* line 137, ../sass/mobile.scss */
.cbp-spmenu-top .cbp-spmenu-horizontal2 {
  height: 47px;
}
/* line 140, ../sass/mobile.scss */
.cbp-spmenu-top .cbp-spmenu-horizontal2 a {
  float: none;
  display: block;
  line-height: 45px;
}

/* line 148, ../sass/mobile.scss */
.cbp-spmenu-top.cbp-spmenu-open {
  top: 0px;
}

/* line 152, ../sass/mobile.scss */
.cbp-spmenu-bottom {
  bottom: -96px;
}

/* line 156, ../sass/mobile.scss */
.cbp-spmenu-bottom.cbp-spmenu-open {
  bottom: 0px;
}

/* Transitions */
/* line 163, ../sass/mobile.scss */
.cbp-spmenu,
.cbp-spmenu-push {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* line 169, ../sass/mobile.scss */
#action-toggle-toolbars {
  width: 50px;
  height: 50px;
  display: block;
  background: black;
  margin-left: 32px;
  text-align: center;
  background: #555;
  opacity: 0.95;
  background-image: url("/pt/web/mobile/images/nav_control-up.png");
  background-repeat: no-repeat;
  background-position: 50% 40%;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

/* line 187, ../sass/mobile.scss */
.cbp-spmenu-open #action-toggle-toolbars {
  background-image: url("/pt/web/mobile/images/nav_control-dn.png");
}

/* line 191, ../sass/mobile.scss */
#action-table-of-contents {
  margin-top: 6px;
  margin-right: 8px;
  height: 35px;
  background: #333;
  color: #fff;
  border: 1px solid #666666;
}

/* line 200, ../sass/mobile.scss */
.ht-logo-link {
  background-image: url("/pt/web/mobile/images/HTLogo.png");
  background-repeat: no-repeat;
  float: left !important;
  width: 50px;
  height: 47px;
}

/* line 208, ../sass/mobile.scss */
#action-view-toggle {
  background-image: url(/pt/web/mobile/images/PT-controls_plaintext.png);
}

/* line 212, ../sass/mobile.scss */
#action-view-toggle.action-view-image {
  background-image: url(/pt/web/mobile/images/PT-controls_image.png);
}

/* line 216, ../sass/mobile.scss */
#action-info {
  background-image: url(/pt/web/mobile/images/PT-controls_info.png);
}

/* line 220, ../sass/mobile.scss */
#action-settings {
  background-image: url(/pt/web/mobile/images/PT-controls_settings.png);
}

/* line 224, ../sass/mobile.scss */
#action-get-item {
  background-image: url(/pt/web/mobile/images/PT-controls_getbook.png);
}

/* line 228, ../sass/mobile.scss */
#action-search-inside {
  background-image: url(/pt/web/mobile/images/PT-controls_search.png);
}

/* line 232, ../sass/mobile.scss */
.float-left {
  float: left;
}

/* line 236, ../sass/mobile.scss */
.float-right {
  float: right;
}

/* line 240, ../sass/mobile.scss */
.label {
  display: none;
}

/* line 244, ../sass/mobile.scss */
.panel-group {
  margin-bottom: 16px;
}

/* line 248, ../sass/mobile.scss */
.btn-full {
  width: 100%;
  display: block;
  box-sizing: border-box;
}

/* line 254, ../sass/mobile.scss */
.btn-full + .btn-full {
  margin-top: 2px;
}

/* line 261, ../sass/mobile.scss */
.modal .modal-body {
  font-size: 16px;
}

/* line 268, ../sass/mobile.scss */
#contents-page {
  padding-top: 32px;
}
/* line 271, ../sass/mobile.scss */
#contents-page h2 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 8px;
}

/* line 278, ../sass/mobile.scss */
#search-page, #contents-page {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  background: #fff;
}
/* line 284, ../sass/mobile.scss */
#search-page .message, #contents-page .message {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
/* line 291, ../sass/mobile.scss */
#search-page .centered, #contents-page .centered {
  text-align: center;
  margin-top: 8px;
}
/* line 296, ../sass/mobile.scss */
#search-page form, #contents-page form {
  text-align: center;
  margin-bottom: 8px;
  padding-top: 60px;
}
/* line 302, ../sass/mobile.scss */
#search-page .search-results, #contents-page .search-results {
  list-style: none;
  font-size: 18px;
  background-color: white;
  margin: 0;
  padding: 0;
  text-align: left;
}
/* line 310, ../sass/mobile.scss */
#search-page .search-results .srpagenumber, #contents-page .search-results .srpagenumber {
  font-weight: bold;
  display: inline-block;
  min-width: 32px;
}
/* line 316, ../sass/mobile.scss */
#search-page .search-results > li:nth-child(odd), #contents-page .search-results > li:nth-child(odd) {
  background-color: #eee;
}
/* line 320, ../sass/mobile.scss */
#search-page .search-results > li, #contents-page .search-results > li {
  border-top-color: gray;
  border-top-style: solid;
  border-top-width: 1px;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  padding: 10px;
  min-height: 29px;
  padding-left: 24px;
  cursor: pointer;
}
/* line 334, ../sass/mobile.scss */
#search-page .search-results > li .resulttext, #contents-page .search-results > li .resulttext {
  margin-right: 50px;
}
/* line 338, ../sass/mobile.scss */
#search-page .search-results > li ul, #contents-page .search-results > li ul {
  list-style: none;
  width: 90%;
  display: inline-block;
  vertical-align: top;
}
/* line 344, ../sass/mobile.scss */
#search-page .search-results > li ul li, #contents-page .search-results > li ul li {
  margin-bottom: 12px;
}
/* line 349, ../sass/mobile.scss */
#search-page .search-results > li a, #contents-page .search-results > li a {
  background-image: url(/pt/web/mobile/images/search_inside_arrow.png);
  background-position: right center;
  background-repeat: no-repeat;
  height: 29px;
  width: 32px;
  float: right;
}
/* line 359, ../sass/mobile.scss */
#search-page .search-results > li:last-child, #contents-page .search-results > li:last-child {
  border-bottom-color: gray;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
/* line 365, ../sass/mobile.scss */
#search-page .search-results .mdpInnerList li span, #contents-page .search-results .mdpInnerList li span {
  cursor: pointer;
}

/* line 371, ../sass/mobile.scss */
.smaller {
  font-size: 95%;
}

/* line 375, ../sass/mobile.scss */
.modal {
  left: 50%;
  top: 50%;
  margin-top: -20%;
}
/* line 381, ../sass/mobile.scss */
.modal .modal-body {
  font-size: 18px ;
  font-size: 1.8rem ;
}
/* line 385, ../sass/mobile.scss */
.modal .modal-header h3 {
  font-size: 21px ;
  font-size: 2.1rem ;
}

/* MEDIA QUERIES */
@media only screen and (orientation: portrait) and (max-width: 767px) {
  /* line 392, ../sass/mobile.scss */
  .modal {
    margin-left: -50%;
    margin-top: 0;
    top: 60px;
    width: 98%;
  }
}
@media only screen and (orientation: landscape) and (max-height: 700px) {
  /* line 401, ../sass/mobile.scss */
  .modal {
    margin-left: -50%;
    margin-top: 0;
    top: 25px;
    width: 98%;
  }
  /* line 407, ../sass/mobile.scss */
  .modal .modal-body {
    max-height: 200px;
    overflow-y: auto;
  }
}
