/* line 3, ../sass/restricted.scss */
.view-restricted .no_access_text {
  font-style: italic;
  font-size: 120%;
}
/* line 8, ../sass/restricted.scss */
.view-restricted .row {
  padding-left: 0;
}
/* line 12, ../sass/restricted.scss */
.view-restricted .row .row {
  padding-left: 0;
}
/* line 16, ../sass/restricted.scss */
.view-restricted .border-right {
  border-right: 2px solid #e1dfdf;
  padding-right: 20px;
}
/* line 21, ../sass/restricted.scss */
.view-restricted .searchForm {
  list-style: none;
  padding-left: 0;
}
/* line 26, ../sass/restricted.scss */
.view-restricted #in_copyright {
  font-weight: bold;
  font-size: 110%;
}
/* line 31, ../sass/restricted.scss */
.view-restricted #mdpSearchButton {
  margin-bottom: 10px;
}
/* line 35, ../sass/restricted.scss */
.view-restricted .no_access_search_help_eg {
  margin-left: 0.25em;
}
