/* line 3, ../sass/screen.scss */
body {
  min-width: 975px ;
  min-width: 97.5rem ;
}

/* line 9, ../sass/screen.scss */
.main .main-guts {
  min-height: 400px;
}

/* line 14, ../sass/screen.scss */
.dummy {
  white-space: nowrap;
}

/* line 22, ../sass/screen.scss */
.sidebar > div {
  width: 200px !important;
  width: 20rem !important;
}
/* line 26, ../sass/screen.scss */
.sidebar a[disabled] {
  cursor: default;
  opacity: 0.65;
  filter: alpha(opacity=65);
  text-decoration: none;
}
/* line 32, ../sass/screen.scss */
.sidebar a[disabled]:hover {
  color: #924a0b;
}
/* line 38, ../sass/screen.scss */
.sidebar h2 {
  border-bottom: 1px solid #dddddd;
  font-size: 16px ;
  font-size: 1.6rem ;
  padding-bottom: 8px ;
  padding-bottom: 0.8rem ;
  font-size: 16px ;
  font-size: 1.6rem ;
}
/* line 45, ../sass/screen.scss */
.sidebar ul {
  list-style: none;
  padding-left: 0;
}
/* line 49, ../sass/screen.scss */
.sidebar ul li {
  margin-bottom: 4px ;
  margin-bottom: 0.4rem ;
}
/* line 55, ../sass/screen.scss */
.sidebar .collectionLinks select {
  font-size: 12px ;
  font-size: 1.2rem ;
  height: 24px ;
  height: 2.4rem ;
}
/* line 60, ../sass/screen.scss */
.sidebar .collectionLinks button {
  padding-top: 0;
}
/* line 64, ../sass/screen.scss */
.sidebar .collectionLinks .alert {
  margin-top: 4px ;
  margin-top: 0.4rem ;
}
/* line 71, ../sass/screen.scss */
.sidebar .shareLinks input[type=text] {
  font-size: 12px ;
  font-size: 1.2rem ;
  height: 18px ;
  height: 1.8rem ;
  cursor: default;
}
/* line 79, ../sass/screen.scss */
.sidebar .scrollable {
  overflow: hidden;
  overflow-y: auto;
}
/* line 84, ../sass/screen.scss */
.sidebar .versionContainer {
  padding-top: 40px ;
  padding-top: 4rem ;
  padding-left: 1px ;
  padding-left: 0.1rem ;
  font-size: 85%;
}
/* line 90, ../sass/screen.scss */
.sidebar input[type=text] {
  width: 90%;
}
/* line 94, ../sass/screen.scss */
.sidebar select {
  width: 90%;
}

/* line 108, ../sass/screen.scss */
#versionIcon {
  display: inline-block;
  position: relative;
  height: 18px;
  width: 18px;
  margin-left: 5px;
  background-image: url(/common/unicorn/img/icon_question.png);
  background-repeat: no-repeat;
  text-indent: -10000px;
  text-transform: capitalize;
  clip: rect(0, 0, 0, 0);
  cursor: pointer;
}

/* line 123, ../sass/screen.scss */
.smaller {
  font-size: 90%;
}

/* line 127, ../sass/screen.scss */
#noPdfAccess {
  display: none;
}

/* line 131, ../sass/screen.scss */
.pdfPartnerLoginLinkMessage {
  margin-top: 4px ;
  margin-top: 0.4rem ;
  color: #666;
  font-style: italic;
}

/* line 137, ../sass/screen.scss */
.hide {
  display: none;
}

/* line 141, ../sass/screen.scss */
.bullets {
  font-style: italic;
}

/* line 145, ../sass/screen.scss */
.modal .accessBannerText p {
  font-size: 14px ;
  font-size: 1.4rem ;
}

/* SOLR HIGHLIGHTING */
/* line 150, ../sass/screen.scss */
.solr_highlight_1 {
  background: #ffff00;
}

/* line 153, ../sass/screen.scss */
.solr_highlight_2 {
  background: #00ff00;
}

/* line 156, ../sass/screen.scss */
.solr_highlight_3 {
  background: #ff9900;
}

/* line 159, ../sass/screen.scss */
.solr_highlight_4 {
  background: #00ffcc;
}

/* line 162, ../sass/screen.scss */
.solr_highlight_5 {
  background: #00cccc;
}

/* line 165, ../sass/screen.scss */
.solr_highlight_6 {
  background: #0099cc;
}

/* line 169, ../sass/screen.scss */
#mdpBackToResults {
  margin-bottom: 10px ;
  margin-bottom: 1rem ;
}

/** initial setup **/
/* line 2, ../vendor/nanoscroller/nanoscroller.scss */
.nano {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* line 8, ../vendor/nanoscroller/nanoscroller.scss */
.nano .content {
  position: absolute;
  overflow: scroll;
  overflow-x: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* line 17, ../vendor/nanoscroller/nanoscroller.scss */
.nano .content:focus {
  outline: thin dotted;
}

/* line 20, ../vendor/nanoscroller/nanoscroller.scss */
.nano .content::-webkit-scrollbar {
  visibility: hidden;
}

/* line 23, ../vendor/nanoscroller/nanoscroller.scss */
.has-scrollbar .content::-webkit-scrollbar {
  visibility: visible;
}

/* line 26, ../vendor/nanoscroller/nanoscroller.scss */
.nano > .pane {
  background: rgba(0, 0, 0, 0.25);
  position: absolute;
  width: 10px;
  right: 0;
  top: 0;
  bottom: 0;
  visibility: hidden\9;
  /* Target only IE7 and IE8 with this hack */
  opacity: .01;
  -webkit-transition: .2s;
  -moz-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

/* line 43, ../vendor/nanoscroller/nanoscroller.scss */
.nano.has-scrollbar > .pane {
  opacity: 0.4;
}

/* line 47, ../vendor/nanoscroller/nanoscroller.scss */
.nano > .pane > .slider {
  background: #444;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0.2;
  position: relative;
  margin: 0 1px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

/* line 57, ../vendor/nanoscroller/nanoscroller.scss */
.nano:hover {
  opacity: 1;
}

/* line 60, ../vendor/nanoscroller/nanoscroller.scss */
.nano:hover > .pane, .pane.active, .pane.active > .slider, .pane.flashed, .slider:hover, .nano:hover > .pane > .slider {
  visibility: visible\9;
  /* Target only IE7 and IE8 with this hack */
  /*opacity    : 0.99;*/
  opacity: 0.99 !important;
}
