/* line 3, ../sass/search.scss */
#mdpOuterList {
  padding-left: 0;
}

/* line 8, ../sass/search.scss */
#mdpOuterList li {
  position: relative;
  list-style-type: none;
  margin-top: 0.0em;
  margin-bottom: 0.6em;
  width: 95%;
  padding: 0;
}

/* line 18, ../sass/search.scss */
#mdpOuterList li a {
  font-weight: bold;
  font-style: italic;
}
/* line 22, ../sass/search.scss */
#mdpOuterList li a:visited {
  color: #237a72;
}

/* line 31, ../sass/search.scss */
#mdpOuterList li h3 {
  font-size: 1em;
}

/* line 36, ../sass/search.scss */
.mdpInnerList {
  position: relative;
  list-style-type: none;
}

/* line 42, ../sass/search.scss */
.mdpInnerList li {
  position: relative;
  list-style-type: none;
  font-family: Georgia, Palatino, "Times New Roman", serif;
  font-weight: normal;
  font-size: 1.2em;
  line-height: 1.2;
}

/* line 53, ../sass/search.scss */
.mdpReturnLink span {
  font-style: normal;
}

/* line 58, ../sass/search.scss */
.mdpReturnLink {
  font-style: oblique;
  margin: 2em 0 0 3em;
}

/* line 63, ../sass/search.scss */
.mdpSearchSummary {
  margin: 0em 0 1em 0;
  /* 1.5em */
  padding-top: 1em;
  font-size: 1.3em;
}

/* line 70, ../sass/search.scss */
.mdpEmp {
  font-weight: bold;
}

/* line 75, ../sass/search.scss */
.mdpFisheyeLink {
  margin: 0em 0.4em;
}

/* line 80, ../sass/search.scss */
.mdpFisheye {
  /*clear:both;*/
}

/* line 85, ../sass/search.scss */
.mdpGoToBeginning {
  margin-left: 0.5em;
  margin-bottom: 0.5em;
}

/* line 91, ../sass/search.scss */
.mdpHitCount {
  font-weight: bold;
  font-style: italic;
}

/* line 96, ../sass/search.scss */
.smallMessage {
  margin: 0;
}

/* line 100, ../sass/search.scss */
.searchSubMessage {
  margin-left: 0em;
  padding-top: 1em;
  font-size: 0.8em;
}

/* line 106, ../sass/search.scss */
.results-search-form {
  margin-top: 10px ;
  margin-top: 1rem ;
  margin-bottom: 10px ;
  margin-bottom: 1rem ;
  padding-top: 10px ;
  padding-top: 1rem ;
  padding-bottom: 10px ;
  padding-bottom: 1rem ;
  border-bottom: 1px dotted #aba5a5;
  width: 100%;
  *zoom: 1;
}
/* line 38, ../../../sandbox/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.results-search-form:after {
  content: "";
  display: table;
  clear: both;
}
/* line 117, ../sass/search.scss */
.results-search-form label {
  color: #4f4f4f;
  font-weight: bold;
}
/* line 122, ../sass/search.scss */
.results-search-form input[type=text] {
  width: 220px ;
  width: 22rem ;
}
