/* line 7, ../sass/toolbar.scss */
.container.centered {
  max-width: none;
  width: 96%;
}

/* line 13, ../sass/toolbar.scss */
.sidebar.fixed-placed {
  border-right: none;
}

/* line 17, ../sass/toolbar.scss */
.toolbar-vertical {
  position: fixed;
  right: 0;
  top: 46px;
  width: 48px;
  padding: 0;
  z-index: 500;
  background: #F5F5F5;
}
/* line 28, ../sass/toolbar.scss */
.toolbar-vertical .btn-group + .btn-group {
  margin-left: 0;
}
/* line 32, ../sass/toolbar.scss */
.toolbar-vertical .btn-group-vertical {
  margin-bottom: 5px;
}
/* line 35, ../sass/toolbar.scss */
.toolbar-vertical .btn-group-vertical .btn.alone {
  border-radius: 4px 4px 4px 4px;
}
/* line 39, ../sass/toolbar.scss */
.toolbar-vertical .btn-group-vertical:last-child {
  margin-bottom: 0;
}

/* line 45, ../sass/toolbar.scss */
.toolbar-horizontal {
  position: fixed;
  top: 40px;
  right: 50px;
  padding: 5px 0px;
  padding-right: 2px;
  width: 800px;
  height: 48px;
  margin-bottom: -5px;
  background: #F5F5F5;
  z-index: 125;
}
/* line 63, ../sass/toolbar.scss */
.toolbar-horizontal.locked {
  -webkit-box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
}
/* line 67, ../sass/toolbar.scss */
.toolbar-horizontal .btn-toolbar {
  margin-bottom: 0;
}
/* line 71, ../sass/toolbar.scss */
.toolbar-horizontal .options.btn-toolbar {
  margin-top: 0;
  padding-top: 0;
}
/* line 75, ../sass/toolbar.scss */
.toolbar-horizontal .form-inline {
  margin: 0;
  margin-left: 10px;
  display: inline-block;
}
/* line 78, ../sass/toolbar.scss */
.toolbar-horizontal .form-inline label {
  padding-top: 0px;
  margin: 0;
  margin-right: 5px;
  font-size: 12px;
}
/* line 82, ../sass/toolbar.scss */
.toolbar-horizontal .form-inline input[type=text] {
  height: 30px;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
  width: 30px;
  margin-right: 2px;
  font-size: 12px ;
  font-size: 1.2rem ;
  text-align: center;
}
/* line 88, ../sass/toolbar.scss */
.toolbar-horizontal .form-inline #action-go-page {
  width: auto;
  display: inline-block;
  margin-top: 0px;
}
/* line 93, ../sass/toolbar.scss */
.toolbar-horizontal .table-of-contents {
  margin-left: 10px;
}
/* line 97, ../sass/toolbar.scss */
.toolbar-horizontal #input-search-text {
  width: 90px ;
  width: 9rem ;
  font-size: 12px ;
  font-size: 1.2rem ;
  text-align: left;
}

/* line 105, ../sass/toolbar.scss */
.toolbar {
  z-index: 200;
}
/* line 110, ../sass/toolbar.scss */
.toolbar form {
  margin: 0;
  display: inline-block;
  margin-left: 5px;
  background: whiteSmoke;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-right: 2px;
  padding-right: 4px;
  border-radius: 4px;
  padding-left: 8px;
}
/* line 123, ../sass/toolbar.scss */
.toolbar .options [class^="icon-"], .toolbar .toolbar [class*=" icon-"] {
  background: none;
  color: black;
}
/* line 128, ../sass/toolbar.scss */
.toolbar .btn {
  background: #666;
  color: #eee;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
  border-color: #333;
}
/* line 137, ../sass/toolbar.scss */
.toolbar .btn .icomoon {
  color: #eee;
}
/* line 141, ../sass/toolbar.scss */
.toolbar .btn:hover {
  background: rgba(0, 0, 0, 0.8);
}
/* line 145, ../sass/toolbar.scss */
.toolbar .btn.active {
  background: black;
}
/* line 150, ../sass/toolbar.scss */
.toolbar .btn.square {
  height: 38px;
  width: 46px;
  /*font-size: 18px;*/
  color: black;
}
/* line 158, ../sass/toolbar.scss */
.toolbar .iconz-doc-2, .toolbar .iconz-doc-text {
  margin-left: -1px;
}
/* line 163, ../sass/toolbar.scss */
.toolbar [class^="icomoon-"],
.toolbar [class*=" icomoon-"] {
  display: inline-block;
  width: 1em;
  font-size: 1.3em;
  /*margin-right: 0.2em;*/
  text-align: center;
  opacity: 0.9;
  line-height: 1em;
  color: #333;
  margin-top: 0.25em;
}
/* line 175, ../sass/toolbar.scss */
.toolbar .icomoon-iconmonstr-magnifier-6-icon, .toolbar .icomoon-iconmonstr-magnifier-7-icon {
  font-size: 1.8em;
  margin-left: -0.125em;
  margin-top: 0.1em;
}
/* line 181, ../sass/toolbar.scss */
.toolbar .icomoon-list {
  font-size: 1.0em;
}
/* line 185, ../sass/toolbar.scss */
.toolbar .icon-white {
  color: #fff;
}
/* line 189, ../sass/toolbar.scss */
.toolbar .icomoon-scroll, .toolbar .icomoon-documents {
  font-size: 1.4em;
}

/* line 212, ../sass/toolbar.scss */
.options a, .inner-search a {
  text-decoration: none;
}

/* line 216, ../sass/toolbar.scss */
.btn.square {
  width: 40px;
}

/* line 220, ../sass/toolbar.scss */
.btn.dropdown-toggle.square {
  width: 52px;
}

/* line 224, ../sass/toolbar.scss */
.toolbar-label {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

/* line 232, ../sass/toolbar.scss */
#content {
  padding: 24px ;
  padding: 2.4rem ;
}

/* line 236, ../sass/toolbar.scss */
.scrollable-list {
  max-height: 550px ;
  max-height: 55rem ;
  overflow: hidden;
  overflow-y: auto;
}

/* line 243, ../sass/toolbar.scss */
#navbar-inner {
  position: relative;
}

/* line 247, ../sass/toolbar.scss */
#menu-toggle {
  position: absolute;
  height: 36px ;
  height: 3.6rem ;
  width: 36px ;
  width: 3.6rem ;
  font-size: 24px ;
  font-size: 2.4rem ;
  top: 3px ;
  top: 0.3rem ;
  right: -15px ;
  right: -1.5rem ;
}
/* line 256, ../sass/toolbar.scss */
#menu-toggle a {
  color: #ef7c22;
  display: block;
  text-decoration: none;
  height: 32px ;
  height: 3.2rem ;
  width: 32px ;
  width: 3.2rem ;
  padding-left: 6px ;
  padding-left: 0.6rem ;
}
/* line 265, ../sass/toolbar.scss */
#menu-toggle a.active {
  background: #000;
}

/* line 273, ../sass/toolbar.scss */
.dropped {
  z-index: 900;
  background: #FFFEFB;
  -webkit-box-shadow: 16px 20px 35px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 16px 20px 35px rgba(0, 0, 0, 0.8);
  box-shadow: 16px 20px 35px rgba(0, 0, 0, 0.8);
  height: 160px ;
  height: 16rem ;
}
/* line 279, ../sass/toolbar.scss */
.dropped .logo a {
  margin-left: 10px !important;
  margin-left: 1rem !important;
}
/* line 283, ../sass/toolbar.scss */
.dropped .log-in {
  margin-top: -25px !important;
  margin-top: -2.5rem !important;
}
