/* line 4, ../sass/toolbar.scss */
body {
  position: relative;
  margin-top: 40px ;
  margin-top: 4rem ;
  padding-bottom: 160px ;
  padding-bottom: 16rem ;
}

/* line 19, ../sass/toolbar.scss */
.container.centered {
  max-width: none;
}

/* line 34, ../sass/toolbar.scss */
.sidebar.fixed-placed {
  border-right: none;
}

/* line 38, ../sass/toolbar.scss */
.navbar-static-top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

/* line 46, ../sass/toolbar.scss */
.navbar-static-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

/* line 53, ../sass/toolbar.scss */
.toolbar-vertical {
  float: left;
  width: 40px;
  margin-top: 0;
  /*10px;*/
  /*margin-left: -10px;*/
  z-index: 500;
}
/* line 60, ../sass/toolbar.scss */
.toolbar-vertical .btn-group + .btn-group {
  margin-left: 0;
}
/* line 64, ../sass/toolbar.scss */
.toolbar-vertical .btn-group-vertical {
  margin-bottom: 5px;
}
/* line 67, ../sass/toolbar.scss */
.toolbar-vertical .btn-group-vertical .btn.alone {
  border-radius: 4px 4px 4px 4px;
}

/* line 74, ../sass/toolbar.scss */
.toolbar-horizontal {
  height: 40px;
  /*margin-left: 5px;*/
  margin-bottom: -5px;
  background: #FFFEFB;
  width: 725px ;
  width: 72.5rem ;
}
/* line 82, ../sass/toolbar.scss */
.toolbar-horizontal.locked {
  -webkit-box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
}
/* line 86, ../sass/toolbar.scss */
.toolbar-horizontal .btn-toolbar {
  margin-bottom: 0;
}
/* line 90, ../sass/toolbar.scss */
.toolbar-horizontal .options.btn-toolbar {
  margin-top: 0;
  padding-top: 0;
}
/* line 94, ../sass/toolbar.scss */
.toolbar-horizontal .form-inline {
  margin: 0;
  margin-left: 10px;
  display: inline-block;
}
/* line 97, ../sass/toolbar.scss */
.toolbar-horizontal .form-inline label {
  padding-top: 0px;
  margin: 0;
  margin-right: 5px;
  font-size: 12px;
}
/* line 101, ../sass/toolbar.scss */
.toolbar-horizontal .form-inline input[type=text] {
  height: 30px;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
  width: 30px;
  margin-right: 2px;
  font-size: 12px ;
  font-size: 1.2rem ;
  text-align: center;
}
/* line 107, ../sass/toolbar.scss */
.toolbar-horizontal .form-inline #action-go-page {
  width: auto;
  display: inline-block;
  margin-top: 0px;
}
/* line 112, ../sass/toolbar.scss */
.toolbar-horizontal .table-of-contents {
  margin-left: 10px;
}
/* line 116, ../sass/toolbar.scss */
.toolbar-horizontal #input-search-text {
  width: 100px ;
  width: 10rem ;
  font-size: 12px ;
  font-size: 1.2rem ;
  text-align: left;
}

/* line 125, ../sass/toolbar.scss */
.toolbar {
  z-index: 100;
}
/* line 128, ../sass/toolbar.scss */
.toolbar form {
  margin: 0;
  display: inline-block;
  margin-left: 5px;
  background: whiteSmoke;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-right: 2px;
  padding-right: 4px;
  border-radius: 4px;
  padding-left: 8px;
}
/* line 141, ../sass/toolbar.scss */
.toolbar .options [class^="icon-"], .toolbar .toolbar [class*=" icon-"] {
  background: none;
  color: black;
}
/* line 146, ../sass/toolbar.scss */
.toolbar .btn.square {
  height: 38px;
  width: 46px;
  /*font-size: 18px;*/
  color: black;
}
/* line 153, ../sass/toolbar.scss */
.toolbar .iconz-doc-2, .toolbar .iconz-doc-text {
  margin-left: -1px;
}
/* line 158, ../sass/toolbar.scss */
.toolbar [class^="icomoon-"],
.toolbar [class*=" icomoon-"] {
  display: inline-block;
  width: 1em;
  font-size: 1.3em;
  /*margin-right: 0.2em;*/
  text-align: center;
  opacity: 0.9;
  line-height: 1em;
  color: #333;
  margin-top: 0.25em;
}
/* line 170, ../sass/toolbar.scss */
.toolbar .icomoon-iconmonstr-magnifier-6-icon, .toolbar .icomoon-iconmonstr-magnifier-7-icon {
  font-size: 1.8em;
  margin-left: -0.125em;
  margin-top: 0.1em;
}
/* line 176, ../sass/toolbar.scss */
.toolbar .icomoon-list {
  font-size: 1.0em;
}
/* line 180, ../sass/toolbar.scss */
.toolbar .icon-white {
  color: #fff;
}
/* line 184, ../sass/toolbar.scss */
.toolbar .icomoon-scroll, .toolbar .icomoon-documents {
  font-size: 1.4em;
}

/* line 190, ../sass/toolbar.scss */
.sticky #toolbar-vertical {
  position: fixed;
  top: 40px;
}

/* line 195, ../sass/toolbar.scss */
.sticky #toolbar-horizontal {
  position: fixed;
  top: 30px;
  right: 30px;
  padding-top: 5px;
  left: 0;
}

/* line 203, ../sass/toolbar.scss */
.options a, .inner-search a {
  text-decoration: none;
}

/* line 207, ../sass/toolbar.scss */
.btn.square {
  width: 40px;
}

/* line 211, ../sass/toolbar.scss */
.btn.dropdown-toggle.square {
  width: 52px;
}

/* line 215, ../sass/toolbar.scss */
.label {
  display: none;
}

/* line 226, ../sass/toolbar.scss */
#scrolling {
  margin-left: 55px ;
  margin-left: 5.5rem ;
}

/* line 230, ../sass/toolbar.scss */
#content {
  padding: 24px ;
  padding: 2.4rem ;
}

/* line 234, ../sass/toolbar.scss */
.scrollable-list {
  max-height: 550px ;
  max-height: 55rem ;
  overflow: hidden;
  overflow-y: auto;
}

/* line 240, ../sass/toolbar.scss */
#menu-toggle {
  display: none;
  color: #ef7c22;
  font-size: 24px;
  text-decoration: none;
  line-height: 34px;
  margin-right: -48px;
}

/* line 249, ../sass/toolbar.scss */
.dropped {
  z-index: 900;
  background: #FFFEFB;
  -webkit-box-shadow: 16px 20px 35px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 16px 20px 35px rgba(0, 0, 0, 0.8);
  box-shadow: 16px 20px 35px rgba(0, 0, 0, 0.8);
  height: 160px ;
  height: 16rem ;
}
/* line 255, ../sass/toolbar.scss */
.dropped .logo {
  margin-left: 10px !important;
  margin-left: 1rem !important;
}
/* line 259, ../sass/toolbar.scss */
.dropped .log-in {
  margin-top: -25px !important;
  margin-top: -2.5rem !important;
}
