.awesome, .awesome:visited {
	background: #222 url(alert-overlay.png) repeat-x; 
	display: inline-block; 
	padding: 5px 10px 6px; 
	color: #fff; 
	text-decoration: none;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.25);
	position: relative;
	cursor: pointer;
}
 
	.awesome:hover							{ background-color: #111; color: #fff; }
	.awesome:active							{ top: 1px; }
	.small.awesome, .small.awesome:visited 			{ font-size: 11px; /*padding: ;*/ }
	.awesome, .awesome:visited,
	.medium.awesome, .medium.awesome:visited 		{ font-size: 13px; font-weight: bold; line-height: 1; text-shadow: 0 -1px 1px rgba(0,0,0,0.25); }
	.large.awesome, .large.awesome:visited 			{ font-size: 14px; padding: 8px 14px 9px; }
	
	.green.awesome, .green.awesome:visited		{ background-color: #91bd09; }
	.green.awesome:hover						{ background-color: #749a02; }
	.blue.awesome, .blue.awesome:visited		{ background-color: #2daebf; }
	.blue.awesome:hover							{ background-color: #007d9a; }
	.red.awesome, .red.awesome:visited			{ background-color: #e33100; }
	.red.awesome:hover							{ background-color: #872300; }
	.magenta.awesome, .magenta.awesome:visited		{ background-color: #a9014b; }
	.magenta.awesome:hover							{ background-color: #630030; }
	.orange.awesome, .orange.awesome:visited		{ background-color: #ff5c00; }
	.orange.awesome:hover							{ background-color: #d45500; }
	.yellow.awesome, .yellow.awesome:visited		{ background-color: #ffb515; }
	.yellow.awesome:hover							{ background-color: #fc9200; }
/*  .grey.awesome, .grey.awesome:visited    { background-color: #F1F1F1; color: #000; text-shadow: none; }
  .grey.awesome:hover             { background-color: #D6D6D6; color: #000; }
*/
	.grey.awesome, .grey.awesome:visited		{ background-color: #D6D6D6; color: #000; text-shadow: none; }
	.grey.awesome:hover							{ background-color: #C0C0C0; color: #000; }


  button.g-button, a.g-button, input[type=submit].g-button { padding: 6px 10px; -webkit-border-radius: 2px 2px; border: solid 1px rgb(153, 153, 153); background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(255, 255, 255)), to(rgb(221, 221, 221))); color: #333; text-decoration: none; cursor: pointer; display: inline-block; text-align: center; text-shadow: 0px 1px 1px rgba(255,255,255,1); line-height: 1; }
  		.g-button:hover { background: #DDD; background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(248, 248, 248)), to(rgb(221, 221, 221))); }
  		.g-button:active { background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(204, 204, 204)), to(rgb(221, 221, 221))); }
  		/*.g-button.large { padding: 12px 20px; font-size: 21px; font-weight: bold; }*/
  		.g-button.scaled { -webkit-transform: scale(2); -webkit-transform-origin: bottom left; }

  		.g-button.blue { background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(255, 255, 255)), to(rgb(98,202,227))); border-color: rgb(98,202,227);  }
  		.g-button.green { background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(255, 255, 255)), to(rgb(213,224,77))); border-color: rgb(213,224,77);  }
  		.g-button.red { background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(241,93,34)), to(rgb(146,60,6))); border-color: rgb(146,60,6); text-shadow: 0px -1px 1px rgba(0,0,0,0.5); color: #fff; }
  		.g-button.purple { background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(202,0,108)), to(rgb(124,0,64))); border-color: rgb(202,0,108); text-shadow: 0px -1px 1px rgba(0,0,0,0.5); color: #fff;  }
  		.g-button.orange { background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(255, 255, 255)), to(rgb(245,132,38))); border-color: rgb(245,132,38);  }

  .g-button.large {
  /*padding: 12px 20px; font-size: 21px; font-weight: bold;*/
  /*padding: 6px 10px; font-size: 18px; */
  padding: 6px 10px; font-size: 14px; 
  /*font-weight: bold;*/
  }
  
  .g-button.active { 
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxkZWZzPjxsaW5lYXJHcmFkaWVudCBpZD0iZ3JhZGllbnQiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMCUiIHkyPSIxMDAlIj48c3RvcCBvZmZzZXQ9IjAlIiBzdHlsZT0ic3RvcC1jb2xvcjpyZ2JhKDIwNCwyMDQsMjA0LDEpOyIgLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0eWxlPSJzdG9wLWNvbG9yOnJnYmEoMjIxLDIyMSwyMjEsMSk7IiAvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IGZpbGw9InVybCgjZ3JhZGllbnQpIiBoZWlnaHQ9IjEwMCUiIHdpZHRoPSIxMDAlIiAvPjwvc3ZnPg==);
    /* Opera 11.10+ */
    background: -o-linear-gradient(top, rgba(204,204,204,1), rgba(221,221,221,1));
    /* Firefox 3.6+ */
    background: -moz-linear-gradient(top, rgba(204,204,204,1), rgba(221,221,221,1));
    /* Chrome + Safari */
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(204, 204, 204)), to(rgb(221, 221, 221))); 
    /* IE5.5 - IE7 */
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#FFCCCCCC,EndColorStr=#FFDDDDDD);

    /* IE8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#FFCCCCCC,EndColorStr=#FFDDDDDD)"
  }
	
	.awesome.thin {
	  padding-top: 2px;
	  padding-bottom: 2px;
	}