.results, .collection { display: block; }

.right, .left { 
	display: inline;
	zoom: 1;
}

.collection {
  padding-left: 0;
}

.large.g-button {
  padding-left: 4px;
  padding-right: 4px;
}

#q { width: 90%; }

.find-collection {
  width: 35%;
}

.controls .filters {
  width: 31.25em;
}

div.right.featured {
  background: none;
}

/* for results lists */

/* new clearfix */
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

.mbListItemsContainer {
	display: block;
}

#mbFooter {
	display: none;
}

.Chunk.row {
	display: block;
	zoom: 1;
}

.Chunk.row > div {
	float: left;
}

.Chunk.row .ItemCollections {
	float: right;
}

.Chunk.row .ItemData {
	width: 60%;
}

.ItemData ul {
	line-height: 2;
}

.Chunk.row.roweven {
	background: #FAFAFA;
}