.colFeatured {
	padding-left: 5px;
}

.refine > div {
	display: inline;
	float: right;
}

.Chunk.row:last-child {
	border-bottom: 1px solid #DBDBDB;
	padding-bottom: 4px;
	margin-bottom: 8px;
}

.resultsPerPage {
  position: relative;
  float: left;
}

.pagingNav {
	margin-left: 10px;
}

.PageInfo { 
  margin: 0 1em .5em 0em;
  overflow: hidden;
}

.PageWidget { 
  list-style-type: none;
  margin: 0 0 0 2em;
  padding: 0;
} 

.PageWidget li {
/** Suz says change this to match ht catalog
  border: 1px solid #CCC;
  float: left;
  line-height: 1.1em;
  margin: 0 0 0 0.3em;
  padding: 0 .5em 0 .5em;
**/
  float: left;
  line-height: 1.1em;
  margin: 0 0 0 0.3em;
  padding:0.2em 0.3em;
                 
}


h2.arrow {
	background: #EF7A06;
	padding-left: 8px;
	padding-right: 16px;
	padding-top: 4px;
	padding-bottom: 4px;
	position: relative;
	margin-right: 16px;
	color: white;
	font-size: 150%;

	-webkit-border-top-left-radius: 8px;
	-webkit-border-bottom-left-radius: 8px;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-bottomleft: 8px;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
}

h2.arrow label {
	background-image: url(./common-web/graphics/harmony/icon_books.png);
	background-repeat: no-repeat;
	background-position: 0% 50%;
	padding-left: 24px;
}

h2.arrow label:after {
/*h2.arrow:after {*/
	content: "";
	position: absolute;
	/* Pushed down half way, will get pulled back up half height of triangle
	   ensures centering if font-size or line-height changes */
	top: 50%;
	width: 0;
	height: 0;
}

h2.arrow label:after {
	/* Smaller and different position triangle */
	/*left: -5px;*/
	right: -12px;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-left: 12px solid #EF7A06;
	margin-top: -6px;
}

.row {
	width: 100%;
	display: table;
	margin: 0;
	margin-bottom: 0.25em;
	border-spacing: 2px;
	border-collapse: separate;
	font-size: 1em;
}

.row:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
}

.row > div {
	display: table-cell;
	vertical-align: top;
	padding: 8px;
}

.row.rowodd > div {
	background-color: #FFF;
}

.row.roweven > div {
	background-color: #FAFAFA;
}

.row .ItemSelect {
	padding-left: 0;
	width: 1%;
}

.row .ItemData {
	/*float: left;*/
	width: 70%;
}

.row .ItemCollections {
	width: 25%;
	padding-right: 0;
}

.ItemData ul li {
display: inline;
float: left;
list-style-type: none;
margin-right: 20px;
}