/*#ColContainer {
  float: none;
}*/

.refine > div {
  display: inline;
  float: right;
}

.Chunk.row:last-child {
  border-bottom: 1px solid #DBDBDB;
  padding-bottom: 4px;
  margin-bottom: 8px;
}

.resultsPerPage {
  position: relative;
  float: left;
}

.pagingNav {
  margin-left: 10px;
}

.PageInfo { 
  margin: 0 1em .5em 0em;
  overflow: hidden;
}

.PageWidget { 
  list-style-type: none;
  margin: 0 0 0 2em;
  padding: 0;
} 

.PageWidget li {
/** Suz says change this to match ht catalog
  border: 1px solid #CCC;
  float: left;
  line-height: 1.1em;
  margin: 0 0 0 0.3em;
  padding: 0 .5em 0 .5em;
**/
  float: left;
  line-height: 1.1em;
  margin: 0 0 0 0.3em;
  padding:0.2em 0.3em;
                 
}

h2.arrow label {
  background-image: url(./common-web/graphics/harmony/icon_books.png);
  background-repeat: no-repeat;
  background-position: 0% 50%;
  padding-left: 24px;
}

.row {
  width: 100%;
  display: table;
  margin: 0;
  margin-bottom: 0.25em;
  border-spacing: 2px;
  border-collapse: separate;
  font-size: 1em;
}

.row:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
}

.row > div {
  display: table-cell;
  vertical-align: top;
  padding: 8px;
}

.row.rowodd > div {
  background-color: #FFF;
}

.row.roweven > div {
  background-color: #F5F6F1;
}

.row .ItemSelect {
  padding-left: 0;
  width: 1%;
}

.row .ItemData {
  /*float: left;*/
  width: 70%;
}

.row .ItemCollections {
  width: 25%;
  padding-right: 0;
}

.ItemData ul li {
display: inline;
float: left;
list-style-type: none;
margin-right: 20px;
}

.colFeatured img {
  padding-left: 0px;
  margin-bottom: 8px;
  border: 2px solid #eee;
  padding: 2px;
  max-width: 100%;
}

