/*#ColContainer {
  float: none;
}*/

.refine > div {
  display: inline;
  float: right;
}

.Chunk.row:last-child {
  border-bottom: 1px solid #DBDBDB;
  padding-bottom: 4px;
  margin-bottom: 8px;
}

.resultsPerPage {
  position: relative;
  float: left;
}

.pagingNav {
  margin-left: 10px;
}

.PageInfo { 
  margin: 0 1em .5em 0em;
  overflow: hidden;
}

.PageWidget { 
  list-style-type: none;
  margin: 0 0 0 2em;
  padding: 0;
} 

.PageWidget li {
/** Suz says change this to match ht catalog
  border: 1px solid #CCC;
  float: left;
  line-height: 1.1em;
  margin: 0 0 0 0.3em;
  padding: 0 .5em 0 .5em;
**/
  float: left;
  line-height: 1.1em;
  margin: 0 0 0 0.3em;
  padding:0.2em 0.3em;
                 
}

h2.arrow label {
  background-image: url(./common-web/graphics/harmony/icon_books.png);
  background-repeat: no-repeat;
  background-position: 0% 50%;
  padding-left: 24px;
}

/** RESULTS */
/* .row divs are have a static h4.Title + div.ItemData, and has position:relative;
   .ItemID.Select and .ItemCollections are absolutely positioned within the .row to
   match the earlier table-based look */
.row {
  width: 100%;
  margin: 0;
  margin-bottom: 0.25em;
  border-spacing: 2px;
  border-collapse: separate;
  font-size: 1em;
  position: relative;
}

.row:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
}

.row h4.Title {
  margin: 0; 
  margin-left: 3em; 
  padding-top: 8px; 
  font-weight: normal; 
  font-size: 120%; 
  margin-right: 20px; 
  line-height: 1.2; 
  width: 65%;
}

.row > div {
  float: left;
  vertical-align: top;
  padding: 8px;
}

.row.rowodd {
  background-color: #FFF;
}

.row.roweven {
  background-color: #F5F6F1;
}

.row .ItemID.Select {
  padding-left: 0;
  width: auto;
  position: absolute; 
  top: 0; 
  left: 5px; 
  bottom: 0; 
  border-right: 2px solid #fff;
}

.row .ItemData {
  margin-left: 3em;
  width: 70%;
}

.ItemData > div { 
  display: block;
}

.row .ItemCollections {
  width: 25%;
  float: right;
  padding-right: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border-left: 2px solid #fff;
  overflow: hidden;
  overflow-y: auto;
  padding-bottom: 0;
}

.ItemData ul li {
display: inline;
float: left;
list-style-type: none;
margin-right: 20px;
}

.colFeatured img {
  padding-left: 0px;
  margin-bottom: 8px;
  border: 2px solid #eee;
  padding: 2px;
  max-width: 100%;
}

