@import "../../../common/web/unicorn/sass/base";

body.listcs {

  .container {

    .main {
      width: auto;
      @include rem(padding-right, 20);
    }

    .sidebar {
      h2, h3 {
        border-bottom: 1px solid #ddd;
        font-size: 1.17em;
      }
    }

  }

  ul.nav {
    margin-left: 0;
  }

  .row {
    padding-left: 0;
  }

  ul.nav-tabs {
    margin-bottom: 10px;
  }

  .listcs-intro {
    width: 75%; 
    @include rem(font-size, 15);
    display: table-row;
  }

  .listcs-intro p {
    @include rem(padding-left, 20);
    @include rem(padding-right, 20);
  }

  .listcs-intro p:last-child {
    margin-bottom: 2rem;
    margin-bottom: 20px;
  }


  .span6 > div {
    margin-bottom: .6em;
  }

  .collection p {
    margin-bottom: 0.5em;
    margin-top: 0.25em;
  }

  h4.collname {
    font-weight: normal;
    font-size: 110%;
    margin-top: 1em;
  }

  .mine .owner_name {
    font-weight: bold;
  }

  p.collname {
    padding-top: 4px; /* 8 */
  }

  p.meta {
    margin-top: 4px;
    margin-bottom: 1em;
    padding-bottom: 4px;
  }

  span.num_items {
    float: left;
    width: 150px;
  }

  span.owner_name {
    /*float: left;*/
    width: auto; /* 250px */
    overflow: hidden;
    font-size: 90%;
  }

  .options {
    font-size: 11px;
    bottom: 2px;
    position: static;
    padding-top: 8px;
    display: block;
  }

  .collectionData {
    display: none;
  }

  .find-collection {
    /*float:right; width: 35%;*/
    text-align: right;
  }

  span.sharing-status.public {
    color: #58ff58;
  }

  span.sharing-status.private {
    color: #373737;
  }

  span.active_filters {
    padding-right: 8px;
  }

  div.ribbon.featured {
    position: absolute;
    /*right: -5px;
      top: -5px;*/
    height: 68px;
    width: 68px;
    right: 0px;
    top: 0px;
    background: url(../HT_FEATURED_ribbon-corner-flat.png) no-repeat;
  }

  div.right.featured {
    background: url(../HT_FEATURED_ribbon-corner-flat.png) no-repeat scroll right top;
  }

  span.featured {
    position: absolute;
    left: -5000px;
  }


  .collection {
    border-left: 16px solid transparent;
    display: table-row; 
    padding-bottom: 3px; /* 5px */
    margin-bottom: 8px; /* from 2px */
    position: relative;
  }

  .results {
    border-spacing: 0em .5em;
    border-collapse: separate;
    display: table;
    width: 99%;
  }

  .collection.featured {
    min-height: 68px;
  }

  .left {
    /*float: left;*/
    width: 65%;
    padding-left: 16px;
    /*border: 1px dashed green;*/
    position: relative;
    display: table-cell;
    vertical-align: middle;
  }

  .right p {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .right {
    /*float: left;*/
    width: 29%;
    /* padding-top: 4px; */
    font-size: 90%;
    display: table-cell;
    vertical-align: middle;
    position: relative;
    height: auto;
    /*border: 1px dashed blue;*/
  }

  .wrapper {
    height: auto;
    position: relative;
  }

  /*.floater {
    position: absolute;
    top: 50%;
    right: 5px;
    background: #666;
    color: white;
    height: 25px;
    font-size: 11px;
  }*/

  .distance {
    width: 1px;
    height: 50%;
    background-color: black;
    margin-bottom: -1em;
    float: left;
  }

  .collection p {
    margin-right: 1em;
  }

  p.description {
    font-size: 90%;
    color: #474747;
    padding-bottom: 2px;
  }

  .odd {
      background-color: #f6f4f1; // #EBEBEB;
  }

  .even {
      // background-color: #F5F6F1;
  }

  .private {
    /*border-left: 16px solid #666;*/
    /*border-left: 16px solid #DDD;*/
  }

  .page_navigation {
    float:right;
  }

  .selected {
    /* display: block !important; */
  }

  .xxcontrols {
    text-align: center;
    margin-bottom: 0.5em;
    /*min-width: 600px;*/
  }


  .xxcontrols > div > div {
    margin-right: 0.25em;
  }

  .xxcontrols .num_items_control {
    /*width: 250px;*/
    text-align: left;
    float: left;
  }

  .controls select {
    width: auto;
    font-size: 90%;
    margin-bottom: 0;
  }

  .xxcontrols .filters {
    float: left;
    text-align: left;  
    margin: 0;
    padding: 0;
    /*margin-right: 0.25em;*/
   /* width: 1000px;*/
    white-space: nowrap;
    margin-left: 2px;
  }

  .xxcontrols .filters-wrap {
    width: 60%;
    float: left;
    overflow: hidden;
  }

  .xxcontrols .filters li {
    display: block;
    float: left;
    list-style-type: none;
  }

  .xxcontrols ul.filters li {
    text-indent: 0px;
  }

  /* For modern browsers */
  .cf:before,
  .cf:after {
      content:"";
      display:table;
  }

  .cf:after {
      clear:both;
  }

  /* For IE 6/7 (trigger hasLayout) */
  .cf {
      zoom:1;
  }

  .status, .login_status {
    margin-top: 8px;
    padding: 8px;
    background: #ddd;
    text-align: left;
    font-weight: bold;
    font-size: 90%;
  }

  .status.with-filters {
    background: #F18F38;
  }

  .login_status {
    background-color: #fcf5d9;
    padding: 2em;
    font-weight: normal;
  }

  .xxcontrols ul.filters .g-button {
    margin: 0;
    margin-left: -1px;
  }

  input.q {
    /*font-size: 110%;*/
  }

  /* FEATURED COLLECTION COLUMN */

  .Box img {
    /*float: left;*/
    border: 1px solid #CCC;
    padding: 2px;
    margin-right: 10px;
    margin-bottom: 2px;
    max-width: 100px;
  }

  .Box h4, .Box span.title {
    font-size: 100%;
    font-weight: bold;
    margin: 0;
    margin-bottom: 0.75em;
    display: block;
  }

  .Box p {
    font-size: 90%;
    word-break: hyphenate;
    margin-bottom: 0;
  }

  .Box div {
    /*padding: 1em;*/
    margin-bottom: 1em;
  }

  .CollPage {
    font-size: 1.1em;
    margin-left: 10px;
    font-weight: normal;
  }

  .pages {

    text-align: right;
    width: 100%;

    ul {
      list-style-type: none;
      margin-bottom: 0;

      li {
        display: inline-block;
        // @include rem(width, 24);
        @include rem(height, 16);
        @include rem(padding-left, 4);
        @include rem(padding-right, 4);

        &.active {
          a {
            text-decoration: none;
            font-weight: bold;
            color: #333;
          }
        }

        a {
          display: inline-block;
        }

      }

    }

    &:after {
      content: "";
      display: table;
      clear: both;
    }

  }

}

body.listis {

  .share-toolbar {
      @include rem(margin-bottom, 12);
      .btn {
          @include rem(font-size, 12);
          @include rem(padding, 4);
          @include rem(padding-left, 8);
          @include rem(padding-right, 8);
      }
  }


  .shareLinks {

    .share-toolbar {
        position: static;
        @include rem(margin-bottom, 12);
        .btn {
            @include rem(font-size, 11);
            @include rem(padding, 4);
            @include rem(padding-left, 8);
            @include rem(padding-right, 8);
        }
    }

    
      input[type=text] {
          @include rem(font-size, 12);
          @include rem(height, 18);
          cursor: default;
      }
  }

}


// /*--- THE MAGIC ---*/
// /*
// This is the best bit!
// */

// .placeholder {color: #aaa;}

// [placeholder]{
//     cursor:pointer;
//     /*color:#999;
//      padding:5px;*/
//     padding-top: 4px;
//     padding-bottom: 4px;
//     padding-left: 2px;
//     border:1px solid #999;
    
//     -moz-border-radius:2px;
//     -webkit-border-radius:2px;
//     border-radius:2px;
// }
// [placeholder]:active,
// [placeholder]:focus{
//     cursor:text;
//     color:#333;
//     border:1px solid #0a0;
    
//     -moz-box-shadow:0 0 5px #0a0, 0 0 5px rgba(0,0,0,0.25) inset;
//     -webkit-box-shadow:0 0 5px #0a0, 0 0 5px rgba(0,0,0,0.25) inset;
//     box-shadow:0 0 5px #0a0, 0 0 5px rgba(0,0,0,0.25) inset;
// }
// /*
// If the input has placeholder="" AND value="" darken its appearance to show it is pre-populated and not a form hint.
// */
// [placeholder][value]{
//     color:#333;
// }

/*\*//*/
* html .results, * html .collection {
  display: block;
}
* html .right, * html .left {
  display: inline-block;
}
*html .right {
  margin-left: -1px;
}
/**/
