@import "../../../mdp-web/sass/results"; // this is more complicated
@import "list_colls";

.align-right {
    text-align: right;
}

.form-download-metadata {
    margin-top: 1.5rem;

    a.download-help-link {
        display: inline-block;
        position: relative;
        @include rem(height, 18);
        @include rem(width, 18);
        @include rem(margin-left, 5);
        background-image: url(/common/unicorn/img/icon_question.png);
        background-repeat: no-repeat;
        text-indent: -10000px;
        text-transform: capitalize;
        clip: rect(0,0,0,0);
        cursor: pointer;
    }


}