@import "../../../mdp-web/sass/results"; // this is more complicated
@import "list_colls";

.align-right {
    text-align: right;
}

.form-download-metadata {
    margin-top: 1.5rem;

    a.download-help-link {
        display: inline-block;
        position: relative;
        @include rem(height, 18);
        @include rem(width, 18);
        @include rem(margin-left, 5);
        background-image: url(/common/unicorn/img/icon_question.png);
        background-repeat: no-repeat;
        text-indent: -10000px;
        text-transform: capitalize;
        clip: rect(0,0,0,0);
        cursor: pointer;
    }
}

.spinner-download-metadata {
    margin-left: 8px;
    height: 10px;
    position: relative;
    display: inline-block;
    background: white;
}

/*Typing Loader*/
.spinner-download-metadata.active .typing_loader{
    width: 6px;
    height: 6px;
    top: 2px;
    border-radius: 50%;
    -webkit-animation: typing 1s linear infinite alternate;
       -moz-animation: Typing 1s linear infinite alternate;
            animation: typing 1s linear infinite alternate;
    // margin: 46px auto; /* Not necessary- its only for layouting*/  
    margin: 0 auto;
    position: relative;
    // left: -12px;
}

@keyframes typing{
   0%{
        background-color: rgba(0,0,0, 1);
        box-shadow: 12px 0px 0px 0px rgba(0,0,0,0.2), 
                    24px 0px 0px 0px rgba(0,0,0,0.2);
      }
    25%{ 
        background-color: rgba(0,0,0, 0.4);
        box-shadow: 12px 0px 0px 0px rgba(0,0,0,1), 
                    24px 0px 0px 0px rgba(0,0,0,0.2);
    }
    75%{ background-color: rgba(0,0,0, 0.4);
        box-shadow: 12px 0px 0px 0px rgba(0,0,0,0.2), 
                    24px 0px 0px 0px rgba(0,0,0,1);
      }
}

