[submodule "vendor/common-lib/lib"]
	path = vendor/common-lib/lib
    url = git@github.com:hathitrust/mdp-lib.git
[submodule "web/common-web"]
	path = web/common-web
    url = git@github.com:hathitrust/mdp-web.git
