// ---------------------------------------------------------------------------
// Imports

@import "../../../common/web/unicorn/sass/base";
$baseline-px: 16;

/* -------------------------------------------------------------------------*/
/* Variables */
$diminished-text-color: #6d6d6d;
$friend-bgcolor: #f9f8f5;
$friend-cannot-bgcolor: #e4e4e4;
$friend-cannot-bgcolor-css3: rgba(105, 105, 105, 0.1);
$cell-border: 1px solid #e8e4e4;

/* -------------------------------------------------------------------------*/
/* Utils */
.row .kill-span-right-margin {
  margin-right: 0;
} 


/* -------------------------------------------------------------------------*/
/* Layout */
body {
  @include rem(font-size, 16);
}

h4 {
  @include rem(font-size, 18);
}

.container {
  @include rem(padding, 20);
  @include rem(padding-right, 65);
  @include rem(padding-left, 65);
  @include rem(padding-bottom, 33);
}

.container.centered {
  @include rem(width, 950);
  @include rem(max-width, 1050);
  min-width: inherit;
  max-width: none;
}

.container.page.centered {
  @include rem(margin-top, -40);
  @include rem(padding-left, 40);
  @include rem(padding-right, 40);
}

.main-section-title {
  @include rem(font-size, 24);
  @include rem(margin-top, 0);
  text-align: center;
  @include rem(margin-bottom, 20);
}

.back-to-referer {
  width: 200px;
  margin: 0.5em auto 1.5em; 
  text-align: center;
}

.row.versus {
  display: table;
  padding: 0;

  > div {
    display: table-cell; 
    width: 50%; 
    // padding-left: 2em; 
    // padding: 2em;

    > div {
      padding: 1.4em;
    }

    &:first-child {
      border-right: 1px solid #666; 
      // padding-right: 2em; 
      // padding-left: 0;
      // background-color: #f9f8f5;
    }
  }
}


/* Top row */
#top-row-cells-wrapper {
  background-color: $login-bgcolor;  
}


/* Top row, left cell */
#partner-cell-left {
  background: url("/common/unicorn/img/homepage/stripes.png");
  background-color: $page-bgcolor;
  margin-right: 0;
}

#partner-cell-left > div {
  @include rem(padding, 20);
  @include rem(padding-top, 15);
}

.partner-cell-title {
  @include rem(font-size, 20);
  font-weight: bold;
  @include rem(margin-top, 0);
  @include rem(margin-bottom, 10);
}

.partner-cell-text {
  @include rem(font-size, 16);
  @include rem(margin-bottom, 10);
  @include rem(min-height, 60);
}

.partner-can-do-cells-wrapper {
  // @include rem(width, 440);
  // @include rem(max-width, 440);
  width: 100%;
  @include rem(min-height, 250);
  margin: auto;
  text-align: center;

  p {
    text-align: left;
  }
}

$can-do-cell-width: 165;
.partner-can-do-cell {
  background-color: $page-bgcolor;
  border: $cell-border;
  display: inline-block;;
  float: left;
  @include rem(width, $can-do-cell-width);
  @include rem(height, 175); // 175
  @include rem(margin-right, 10);
  @include rem(margin-bottom, 30);
  text-align: center;
  position: relative;

  // &:last-of-type {
  //   margin-right: 0;
  // }
}

.partner-can-do-cell > div {
  @include rem(padding-right, 11);
  @include rem(padding-left, 11);
  @include rem(padding-top, 16);
  @include rem(padding-bottom, 0);
}

.partner-can-do-cell i {
  @include rem(font-size, 34);
  color: $hathitrust-orange-color;
  position: absolute;
  @include rem(top, -23);
  @include rem(left, -8);
}

.partner-can-do-cell img {
  @include rem(height, 72);
}

.partner-can-do-cell p {
  @include rem(font-size, 14);
  @include rem(height, 90);
  text-align: left;
}

/* Top row, right cell */
#partner-cell-right {
}

#partner-cell-right > div {
  @include rem(padding, 25);
}

#partner-cell-right p {
  @include rem(font-size, 16);
}


#continue-button {
  text-align: right;
}

.button.continue {
  @include rem(padding-top, 4);
  @include rem(padding-bottom, 4);
  @include rem(margin-top, 0);
  @include rem(margin-right, 0);
}

#idp {
  width: 100%;
  @include rem(font-size, 12);
}

#no-institution-listed {
  @include rem(font-size, 12);
  text-align: right;
  @include rem(margin-top, 25);
}


/* Middle row */
.not-provided-msg-text {
  font-style: italic;
  @include rem(font-size, 14);
  color: $diminished-text-color;
  @include rem(margin-left, 15);
  margin-top: 0;
}


/* Bottom row */

#bottom-row-cells-wrapper {
  background-color: $friend-bgcolor;  
}


/* Bottom row, left cell */
#friend-cell-left {
  background: url("/common/unicorn/img/WAYF/stripes-lighter.png");
  background-color: $page-bgcolor;
  margin-right: 0;
}

#friend-cell-left > div {
  @include rem(padding, 20);
  @include rem(padding-top, 4);
}

.friend-cell-title {
  @include rem(font-size, 16);
  font-weight: bold;
  @include rem(margin-bottom, 7);
}

.friend-cell-text {
  @include rem(font-size, 14);
  @include rem(margin-bottom, 20);
}

.friend-can-do-cells-wrapper {
  @include rem(max-width, 440);
  text-align: center;
  width: 100%;
  margin: auto;
}

.friend-do-cell-common {
  border: $cell-border;
  display: inline;
  float: left;
  @include rem(width, 170);
  @include rem(height, 125);
  text-align: center;
  position: relative;
} 
.friend-can-do-cell {
  background-color: $page-bgcolor;
  @include rem(margin-right, 40);
  @include rem(margin-left, 10);
}

.friend-cannot-do-cell {
  background-color: $friend-cannot-bgcolor;
  background-color: $friend-cannot-bgcolor-css3;
}

// .friend-cannot-do-cell > div, .friend-can-do-cell > div {
//   @include rem(padding-right, 16);
//   @include rem(padding-left, 16);
//   @include rem(padding-top, 16);
//   @include rem(padding-bottom, 8);
// }

.friend-cannot-do-cell i {
  color: gray;
  @include rem(font-size, 20);
}

.friend-can-do-cell i {
  color: $hathitrust-orange-color;
  @include rem(font-size, 28);
}

.friend-cannot-do-cell i, .friend-can-do-cell i {
  position: absolute;
  @include rem(top, -15);
  @include rem(left, -8);
}

.friend-can-do-cell img {
  @include rem(height, 54);
}

.friend-cannot-do-cell p, .friend-can-do-cell p {
  @include rem(font-size, 14);
  text-align: left;
}

/* Bottom row, right cell */
#friend-cell-right {
  @include rem(margin-top, 15);
}

#friend-cell-right > div {
  @include rem(padding-top, 15);
  @include rem(padding-left, 25);
  @include rem(padding-right, 25);
}

#friend-cell-right p {
  @include rem(font-size, 14);
}

input.select2-search__field {
  height: 2em;
}

#no-institution-listed {
  @include rem(margin-top, 25);
  @include rem(font-size, 16);
}

.icomoon-blank:before {
  content: '.';
}

.can-do-list {
  ul {
    font-size: 90%;
    margin: 0; 
    padding: 0 0 0.25em 1em; 
  }
  min-height: 5rem;
  &.explain {
    min-height: 1.75rem;
  }
  // background: aliceblue;
}

@media all and (max-width: 900px) {
  .container.centered {
    width: 95%;
  }
 .navbar-inner {
   width: auto;
 }

 .navbar-static-top.navbar-inverse {
   min-width: 0;
 } 
}

@media all and (max-width: 768px) {
  footer {
    display: none;
  }

  html.desktop.no-mobile body {
    min-width: 0;
  }

  html.desktop.no-mobile main > .container {
    min-width: 0;
  }

  .container-narrow {
    width: 100%;
    min-width: 0 !important;
  }
}

@media all and (max-width: 480px) {

  header, footer {
    display: none;
  }

  main > .container:first-child {
    display: none;
  }

  .container.container-medium {
    min-width: 0 !important;
    padding: 0;
    margin-top: 0 !important;
  }

  .container.container-narrow {
    min-width: 0 !important;
    margin-top: 0.5rem;
    padding: 0;
  }

  .container.page.centered {
    // padding-left: 0;
    // padding-right: 0;
    padding-left: 1em;
    padding-right: 1em;

  }

  .container-boxed .section-container {
    margin: 1.5rem 0.5rem;
  }

  .row.versus {
    width: 100%;
  }
  .row.versus > div {
    display: table;
    width: 100%;
    padding-left: 0;
    // padding: 2em !important;
    &:first-child {
      border-right: none;
      padding-right: 0;
      border-bottom: 1px solid #666; 
      padding-bottom: 2em; 
    }
  }

  .partner-can-do-cells-wrapper, .friend-can-do-cells-wrapper {
    display: none;
  }

  .search-form {
    height: 0 !important;
  }

  #header {
    margin-bottom: 2em;
  }

  .navbar-inner {
    width: auto;
  }

  .navbar-static-top.navbar-inverse {
    min-width: 0;
    display: none;
  }

  .navbar-static-bottom {
    display: none;
  }
}

@media screen and ( max-width: 38rem ) {
  .row.versus {
    display: block;

    > div {
      display: block;
      width: 100%;

      &:first-child {
        border-right: none;
        border-bottom: 1px solid #666;
      }
    }
  }

  .can-do-list {
    min-height: 0;
  }

  .partner-cell-text {
    min-height: 0;
    margin-bottom: 1rem;
  }
}

@media screen and ( max-width: 62rem ) {
  main > .container:first-child {
    display: none;
  }
}

