[submodule "vendor/common-lib/lib"]
	path = vendor/common-lib/lib
    url = git@github.com:hathitrust/mdp-lib.git
[submodule "vendor/slip-lib/lib"]
	path = vendor/slip-lib/lib
    url = git@github.com:hathitrust/slip-lib.git
