.container.centered {
    width: 100%;
}

#toggle-bib-metadata {
    margin-top: 4px;
    display: inline-block;
}

span.blocked {
    display: block;
    margin-top: 4px;
    /*margin-bottom: 2px;*/
}

span.blocked strong {
    display: block;
}

span.blocked strong::first-letter {
    text-transform: capitalize;
}

.app--panel--contents {
  display: block !important;
}

#panel-get-this-book,
#panel-bookmark,
#panel-share,
#panel-download
{
display: none;
}
