/* Global Styles */

b {
  font-weight      : bold; 
}

i { 
  font-style       : italic; 
}

a {
  color            : #ef7a06;
  text-decoration  : none;
}

img { 
  border           : 0px; 
} 

a:hover, a:focus, a:active {
  color            : #ef7a06;
  text-decoration  : underline;
}

fieldset {        
  background-color : #fafafa;
}

legend {
  font-weight      : bold;
  text-align       : center;
}

.smaller {
  font-size        : 0.8em;
}

.brandingLogo {
}

.brandingLogo span {
  color            : #6A6B6E;
  font-size        : 1.7em;
  font-weight      : bold;
  left             : 10px;
  position         : relative;
  top              : -15px; 
}

.brandingLogo a {
  text-decoration  : none;
}

.heading {
  font-weight      : bold;
  font-size        : 1.2em;
}

.subheading {
  font-weight      : bold;
  font-size        : 1em;
}

#KGSMasterContainer {
  width            : 680px;
  font-family      : Arial,Verdana,Helvetica,sans-serif;
  font-size        : 12pt; 
  font-weight      : normal; 
}

#KGScontainer {
  text-align       : left;
  margin-top       : 20px;
  padding-top      : 1.5em;
  padding-left     : 1.5em;
  padding-right    : 1.5em;
  padding-bottom   : 1.5em;

  border-top       : solid 4px #ccc;
  border-left      : solid 1px #ccc;
  border-right     : solid 1px #ccc;
  border-bottom    : solid 1px #ccc; 
}



/* Request page styles */

input.request {
  display          : block;
  width            : 18em;
  float            : left;
  margin-bottom    : 10px;
}

label.request {
  display          : block;
  text-align       : right;
  width            : 10em;
  font-weight      : bold;
  color            : #999;
  float            :left;
}

div.request {
  width            : 35em;
  clear            : both;
}

fieldset.request {
  width            : 36em;
}

#request {
  margin-left      : 14em;

}

.req { 
  font-weight      : bold;
  color            : red;
  padding-right    : 1em;
  vertical-align   : top; 
}


/* Error page styles */

label.error {
  float            : right;
  color            : red;
  vertical-align   : top;
}

p.error {
  font-weight      : bold;
}


/* Confirmation page styles */

#confirm_intro {
  padding-bottom   : 1.0em;
}

p.flip {
  margin           : 0px;
  padding          : 0.5em;
  background       : #fafafa;
  text-align       : center;
  border           : solid 1px #ccc;
  font-weight      : bold;
  cursor           : pointer;
  color            : #ef7a06;
  text-decoration  : none;
}
p.flip:hover, p.flip:focus, p.flip:active {
  color            : #ef7a06;
  text-decoration  : underline;
}

div.panel {
  background       : #ffdbdf;
  border           : solid 1px #ccc;
  padding-left     : 1em;       
  display          : none;
  white-space      : nowrap;
  line-height      : 2.5em;
}

div.confirm {

}

.key {
  width            : 18em;
  font-size        : 18pt;
  font-weight      : bold;
  font-family      : courier; 
}

.key_label {
  float            : left;
  font-weight      : bold;
  width            : 6em;
  text-align       : right;
  margin-right     : 1em;  
}


