[submodule "vendor/common-lib/lib"]
	path = vendor/common-lib/lib
	url = /htapps/repos/mdp-lib.git
[submodule "web/common-web"]
	path = web/common-web
	url = /htapps/repos/mdp-web.git
[submodule "vendor/ls-lib"]
	path = vendor/ls-lib
	url = /htapps/repos/ls.git
