body {
  background: #fff;
  padding: 1rem;
}

.PageNum {
  font-weight:bold;
}

p {
}

p.Image {
  font-style:italic;
}

.Section {
  border-bottom: 3px dashed #999;
}

.Page {
  padding: 8px;
  margin: 8px;
  border: 1px solid #999;
}

#mdpPageHeader > div {
  margin-bottom: 1rem;
}


#mdpFlexible_1 {
}

.mdpMetaDataRow {
  margin-bottom: 3px;
}

.mdpMetaDataRegionHead {
  float: left;
  padding-right: 3px;
  font-weight: bold;
}

.mdpMetaDataRow {
}

.mdpMetaText {}

/* Hide CC icon */
img {
  visibility:hidden;
  display:none;
  padding: 0;
  margin: 0;
  font-size: 0.1em;
}

/* use to hide code from display AND screenreaders */
.hidden {
  visibility:hidden;
  display:none;
  padding: 0;
  margin: 0;
  font-size: 0.1em;
}

.alert--emergency-access {
  background-color: orange;
  border: 1px solid darkorange;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-shadow: none;
  margin-bottom: 0;
  margin: 1rem;
}

.alert--emergency-access[data-initialized="false"] > * {
  opacity: 0;
}

.alert--emergency-access p {
  font-weight: bold;
  color: black;
}

.alert--emergency-access p a {
  color: #333;
}


.alert--emergency-access .alert--emergency-access--options {
  display: flex;
  align-items: center;
}

.alert--emergency-access .alert--emergency-access--options a.button-link {
  color: black;
}

.alert--emergency-access .alert--emergency-access--options a.button-link[disabled] {
  display: none;
}

.ssd--survey {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  padding: 1rem;
  background: rgba(255,165,0, 0.25);
  width: 18rem;
  border: 2px solid darkorange;
}

.ssd--survey p {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.ssd--survey a {
  font-weight: bold;
}

.ssd--survey svg {
  height: 1.25rem;
  width: 1.25rem;
  vertical-align: bottom;
}