.PageNum {
  font-weight:bold;
}

p {
}

p.Image {
  font-style:italic;
}

.Section {
  border-bottom: 3px dashed #999;
}

.Page {
  padding: 8px;
  margin: 8px;
  border: 1px solid #999;
}


#mdpFlexible_1 {
}

.mdpMetaDataRow {
  margin-bottom: 3px;
}

.mdpMetaDataRegionHead, .mdpMetaDataRow span {
  float: left;
  padding-right: 3px;
  font-weight: bold;
}

.mdpMetaText {}

/* Hide CC icon */
img {
  visibility:hidden;
  display:none;
  padding: 0;
  margin: 0;
  font-size: 0.1em;
}

/* use to hide code from display AND screenreaders */
.hidden {
  visibility:hidden;
  display:none;
  padding: 0;
  margin: 0;
  font-size: 0.1em;
}

