@import "../../../common/web/unicorn/sass/base";

html {
    height: 100%;
}

body {
    background-color: #999;
    min-width: inherit;
    width: 100%;
    height: 100%;
}

#content:after {
    content: "";
    display: table;
    clear:both;
}

.container {

    padding: 0;

    &.centered {
        width: 100%;

        &.page {
            background-color: transparent;
            border: none;
            box-shadow: none;
            height: 100%;
        }
    }

    .main {
        padding: 0;
    }
}

#template {
    display: none;
}

#toolbar-header {

    #toolbar-back-to-item {
        display: none;
    }

    &.do-search-inside {
        #toolbar-back-to-item {
            display: inline-block;
        }

        #toolbar-back-to-record {
            display: none;
        }

        #action-table-of-contents {
            display: none;
        }
    }

}

#toolbar-footer {

    text-align: center;

    button {
        background-position: center center;
        background-repeat: no-repeat;
        background-color: transparent;
        border: 0;
        height: 60px;
        width: 17%;
    }
}


/* MENU */

/* General styles for all menus */
.cbp-spmenu {
    background: transparent;
    position: fixed;
    z-index: 1000;
    left: 0;
    width: 100%;
}

.cbp-spmenu a {
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}

.cbp-spmenu a:hover {
    // background: #258ecd;
}

.cbp-spmenu a:active {
    background: #afdefa;
    // color: #47a3da;
    color: #555;
}

.cbp-spmenu-horizontal, .cbp-spmenu-horizontal2 {
    width: 100%;
    height: 66px;
    left: 0;
    z-index: 1000;
    overflow: hidden;
    background: #555;
    opacity: 0.95;
    // box-shadow: 1px 1px 2px #333;
    // background: #47a3da;
    text-align: center;

    button {
        background-repeat: no-repeat;
    }
}

.cbp-spmenu-horizontal a {
    float: left;
    width: 20%;
    padding: 0.8em;
    border-left: 1px solid #258ecd;
}

.cbp-spmenu-top {
    top: -47px;
    height: 47px;

    .cbp-spmenu-horizontal2 {
        height: 47px;

        a {
            float: none;
            display: block;
            line-height: 45px;
        }
    }
}

.cbp-spmenu-top.cbp-spmenu-open {
    top: 0px;
}

.cbp-spmenu-bottom {
    bottom: -96px;
}

.cbp-spmenu-bottom.cbp-spmenu-open {
    bottom: 0px;
}

/* Transitions */

.cbp-spmenu,
.cbp-spmenu-push {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#action-toggle-toolbars {
    width: 50px;
    height: 50px;
    display: block;
    background: black;
    margin-left: 32px;
    text-align: center;
    background: #555;
    opacity: 0.95;
    // background: #47a3da;
    background-image: url("/pt/web/mobile/images/nav_control-up.png");
    background-repeat: no-repeat;
    background-position: 50% 40%;

    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.cbp-spmenu-open #action-toggle-toolbars {
    background-image: url("/pt/web/mobile/images/nav_control-dn.png");
}

#action-table-of-contents {
    margin-top: 6px;
    margin-right: 8px;
    height: 35px;
    background: #333;
    color: #fff;
    border: 1px solid #666;
}

.ht-logo-link {
    background-image: url("/pt/web/mobile/images/HTLogo.png");
    background-repeat: no-repeat;
    float: left !important;
    width: 50px;
    height: 47px;
}

#action-view-toggle {
    background-image:url(/pt/web/mobile/images/PT-controls_plaintext.png);
}

#action-view-toggle.action-view-image {
    background-image:url(/pt/web/mobile/images/PT-controls_image.png);
}

#action-info {
    background-image:url(/pt/web/mobile/images/PT-controls_info.png);
}

#action-settings {
    background-image:url(/pt/web/mobile/images/PT-controls_settings.png);
}

#action-get-item {
    background-image:url(/pt/web/mobile/images/PT-controls_getbook.png);
}

#action-search-inside {
    background-image:url(/pt/web/mobile/images/PT-controls_search.png);
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.label {
    display: none;
}

.panel-group {
    margin-bottom: 16px;
}

.btn-full {
    width: 100%;
    display: block;
    box-sizing: border-box;
}

.btn-full + .btn-full {
    margin-top: 2px;
}

// BOOTSTRAP OVERRIDE

.modal {
    .modal-body {
        font-size: 16px;
    }
}

// SEARCH

#contents-page {
    padding-top: 32px;

    h2 {
        font-size: 24px;
        text-align: center;
        margin-bottom: 8px;
    }
}

#search-page, #contents-page {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background: #fff;

    .message {
        width: 75%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .centered {
        text-align: center;
        margin-top: 8px;
    }

    form {
        text-align: center;
        margin-bottom: 8px;
        padding-top: 60px;
    }

    .search-results {
        list-style: none;
        font-size: 18px;
        background-color:white;
        margin:0;
        padding:0;
        text-align:left;

        .srpagenumber {
            font-weight: bold;
            display: inline-block;
            min-width: 32px;
        }

        & > li:nth-child(odd){
            background-color:#eee;
        }

        & > li {
            border-top-color:gray;
            border-top-style:solid;
            border-top-width:1px;
            list-style-image:none;
            list-style-position:outside;
            list-style-type:none;

            padding:10px;
            min-height:29px;
            padding-left: 24px;

            cursor: pointer;

            .resulttext {
                margin-right: 50px;
            }

            ul {
                list-style: none;
                width: 90%;
                display: inline-block;
                vertical-align: top;

                li {
                    margin-bottom: 12px;
                }
            }

            a {
                background-image:url(/pt/web/mobile/images/search_inside_arrow.png);
                background-position:right center;
                background-repeat:no-repeat;
                height:29px;
                width:32px;
                float:right;
            }
        }

        & > li:last-child {
            border-bottom-color: gray;
            border-bottom-style: solid;
            border-bottom-width: 1px;
        }

        .mdpInnerList li span {
            cursor: pointer;
        }
    }
}

.smaller {
    font-size: 95%;
}

.modal {
    left: 50%;
    top: 50%;
    margin-top: -20%;


    .modal-body {
        @include rem(font-size, 18);
    }

    .modal-header h3 {
        @include rem(font-size, 21);
    }
}

/* MEDIA QUERIES */
@media only screen and (orientation: portrait) and (max-width: 767px) {
  .modal {
    margin-left: -50%;
    margin-top: 0;
    top: 60px;
    width: 98%;
  }
}

@media only screen and (orientation: landscape) and (max-height: 700px) {
  .modal {
    margin-left: -50%;
    margin-top: 0;
    top: 25px;
    width: 98%;

    .modal-body {
        max-height: 200px;
        overflow-y: auto;
    }

  }
}