.view-restricted {

    .no_access_text {
        font-style: italic;
        font-size: 120%;
    }

    .row {
        padding-left: 0;
    }

    .row .row {
        padding-left: 0;
    }

    .border-right {
        border-right: 2px solid #e1dfdf;
        padding-right: 20px;
    }

    .searchForm {
        list-style: none;
        padding-left: 0;
    }

    #in_copyright {
        font-weight: bold;
        font-size: 110%;
    }

    #mdpSearchButton {
        margin-bottom: 10px;
    }

    .no_access_search_help_eg {
        margin-left: 0.25em;
    }

    // .no_access_search_help_eg {
    //     margin-top: 3em;
    // }

}