@import "../../../common/web/unicorn/sass/base";

#mdpOuterList {
    padding-left: 0;
}

#mdpOuterList li
{
  position: relative;
  list-style-type: none;    
  margin-top: 0.0em;
  margin-bottom: 0.6em;
  width: 95%;
  padding: 0;
}

#mdpOuterList li a
{
  font-weight: bold;
  font-style: italic;

  &:visited {
    color: $link-visited-color;
  }



}

#mdpOuterList li h3
{
  font-size: 1em;
}

.mdpInnerList
{
  position: relative;
  list-style-type: none;
}

.mdpInnerList li
{
  position: relative;
  list-style-type: none;
  font-family: Georgia, Palatino, "Times New Roman", serif;
  font-weight: normal;
  font-size: 1.2em;
  line-height: 1.2;

}

.mdpReturnLink span
{ 
  font-style: normal;
}

.mdpReturnLink
{ 
  font-style: oblique;
  margin:  2em 0 0 3em;
}

.mdpSearchSummary { 
  margin:  0em 0 1.0em 0; /* 1.5em */
  padding-top: 1em;
  font-size: 1.3em;
}

.mdpEmp
{ 
  font-weight: bold;
}

.mdpFisheyeLink
{
  margin: 0em 0.4em;
}

.mdpFisheye
{ 
  // margin-left: 2.5em;  
  /*clear:both;*/
}

.mdpGoToBeginning {
  margin-left: 0.5em;
  margin-bottom: 0.5em;
}

.mdpHitCount
{ 
  font-weight: bold;
  font-style: italic;
}

.smallMessage {
  margin:0;
}

.searchSubMessage {
  margin-left:  0em;
  padding-top: 1em;
  font-size: 0.8em;
}

.results-search-form {
    @include rem(margin-top, 10);
    @include rem(margin-bottom, 10);
    @include rem(padding-top, 10);
    @include rem(padding-bottom, 10);

    border-bottom: 1px dotted #aba5a5;

    width: 100%;
    @include pie-clearfix;

    label {
        color: $text-color;
        font-weight: bold;
    }

    input[type=text] {
        @include rem(width, 220);
    }

}
