@import "../../../common/web/unicorn/sass/base";
@import "compass/css3/box-shadow";
@import "compass/css3/opacity";

.container {

    &.centered {
        max-width: none;
        width: 96%;
    }
}

.sidebar.fixed-placed {
    border-right: none;
}

.toolbar-vertical {
    position: fixed;
    right: 0;
    top: 46px;
    width: 48px;
    // padding: 6px 10px;
    padding: 0;
    z-index: 500;
    // margin-right: 18px;
    background: #F5F5F5; // #FFFEFB;

    .btn-group + .btn-group {
        margin-left: 0;
    }

    .btn-group-vertical {
        margin-bottom: 5px;

        .btn.alone {
            border-radius: 4px 4px 4px 4px;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.toolbar-horizontal {
    position: fixed;
    top: 40px;
    right: 50px;
    padding: 5px 0px;
    padding-right: 2px;

    height: 48px;
    margin-bottom: -5px;
    background: #F5F5F5; // #FFFEFB;
    // border-bottom: 1px dotted #ddd;

    z-index: 125;

    @include rem(width, 825);

    &.locked {
        @include single-box-shadow(rgba(0, 0, 0, 0.2), 2px, 4px, 10px);
    }

    .btn-toolbar {
        margin-bottom: 0;
    }

    .options.btn-toolbar {
        margin-top: 0; padding-top: 0;
    }

    .form-inline {
        margin: 0; margin-left: 10px; display: inline-block;

        label {
            padding-top: 0px; margin: 0; margin-right: 5px; font-size: 12px;
        }

        input[type=text] {
            height: 30px; padding-top: 0; padding-bottom: 0; margin-bottom: 0; width: 30px; margin-right: 2px;
            @include rem(font-size, 12);
            text-align: center;
        }

        #action-go-page {
            width: auto; display: inline-block; margin-top: 0px;
        }
    }

    .table-of-contents {
        margin-left: 10px;
    }

    #input-search-text {
        @include rem(width, 90);
        @include rem(font-size, 12);
        text-align: left;
    }
}


.toolbar {
    z-index: 200;

    // @include opacity(0.4);

    form {
        margin: 0;
        display: inline-block;
        margin-left: 5px;
        background: whiteSmoke;
        padding-top: 4px;
        padding-bottom: 4px;
        margin-right: 2px;
        padding-right: 4px;
        border-radius: 4px;
        padding-left: 8px;
    }

    .options [class^="icon-"], .toolbar [class*=" icon-"] {
        background: none;
        color: black;
    }

    .btn {
        // background: rgba(232, 232, 232, 0.2);
        background: #666;
        color: #eee;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
        // border-color: #222222 #222222 black;
        // border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
        border-color: #333;

        .icomoon {
            color: #eee;
        }

        &:hover {
            background: rgba(0,0,0,0.8);
        }

        &.active {
            // background: rgba(232, 232, 232, 1.0); 
            background: rgba(0,0,0,1.0);
        }

        &.square {
            height: 38px;
            width: 46px;
            /*font-size: 18px;*/
            color: black;
        }
    }    

    .iconz-doc-2, .iconz-doc-text {
        margin-left: -1px;
    }

    [class^="icomoon-"],
    [class*=" icomoon-"] {
        display: inline-block;
        width: 1em;
        font-size: 1.3em;
        /*margin-right: 0.2em;*/
        text-align: center;
        opacity: 0.9;
        line-height: 1em;
        color: #333;
        margin-top: 0.25em;
    }

    .icomoon-iconmonstr-magnifier-6-icon, .icomoon-iconmonstr-magnifier-7-icon {
        font-size: 1.8em;
        margin-left: -0.125em;
        margin-top: 0.1em;
    }

    .icomoon-list {
        font-size: 1.0em;
    }

    .icon-white {
        color: #fff;
    }

    .icomoon-scroll, .icomoon-documents {
        font-size: 1.4em;
    }

    // &:hover {
    //     @include opacity(1.0);
    // }

}

// .sticky #toolbar-vertical {
//     position: fixed;
//     top: 40px;
// }

// .sticky #toolbar-horizontal {
//     position: fixed;
//     top: 30px;
//     right: 30px;
//     padding-top: 5px;
//     left: 0;
// }

.options a, .inner-search a {
    text-decoration: none;
}

.btn.square {
    width: 40px;
}

.btn.dropdown-toggle.square {
    width: 52px;
}

.toolbar-label {
        position: absolute !important;
        height: 1px; width: 1px;
        overflow: hidden;
        clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
        clip: rect(1px, 1px, 1px, 1px);
}

#content {
    @include rem(padding, 24);
}

.scrollable-list {
        @include rem(max-height, 550);
        overflow: hidden;
        overflow-y: auto;
}


#navbar-inner {
    position: relative;
}

#menu-toggle {

    position: absolute;
    @include rem(height, 36);
    @include rem(width, 36);
    @include rem(font-size, 24);
    @include rem(top, 3);
    @include rem(right, -15);

    a {
        color: $hathitrust-orange-color;
        display: block;
        text-decoration: none;
        @include rem(height, 32);
        @include rem(width, 32);
        // @include rem(padding-right, 0);
        @include rem(padding-left, 6);

        &.active {
            background: #000;
        }
    }
    

}

.dropped {
    z-index: 900;
    background: #FFFEFB;
    @include single-box-shadow(rgba(0, 0, 0, 0.8), 16px, 20px, 35px);
    @include rem(height, 160);

    .logo a {
        @include rem(margin-left, 10, !important);
    }

    .log-in {
        @include rem(margin-top, -25, !important);
    }
}