@import "../../../common/web/unicorn/sass/base";
@import "compass/css3/box-shadow";

body {
    position: relative;
    @include rem(margin-top, 40);
    @include rem(padding-bottom, 160);
}

// .stuck {
//     margin-left: auto !important;
//     margin-right: auto !important;
// }

.container {
    // margin-left: auto;
    // margin-right: auto;

    &.centered {
        max-width: none;
    }

    // &.page.centered {
    //     min-width: 1100px;
    // }
}


// .dummy {
//     background-color: yellow;
//     opacity: 0.1;
// }

.sidebar.fixed-placed {
    border-right: none;
}

.navbar-static-top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.navbar-static-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.toolbar-vertical {
    float: left;
    width: 40px;
    margin-top: 0; /*10px;*/
    /*margin-left: -10px;*/
    z-index: 500;

    .btn-group + .btn-group {
        margin-left: 0;
    }

    .btn-group-vertical {
        margin-bottom: 5px;

        .btn.alone {
            border-radius: 4px 4px 4px 4px;
        }
    }

}

.toolbar-horizontal {
    height: 40px;
    /*margin-left: 5px;*/
    margin-bottom: -5px;
    background: #FFFEFB;

    z-index: 105;

    @include rem(width, 725);

    &.locked {
        @include single-box-shadow(rgba(0, 0, 0, 0.2), 2px, 4px, 10px);
    }

    .btn-toolbar {
        margin-bottom: 0;
    }

    .options.btn-toolbar {
        margin-top: 0; padding-top: 0;
    }

    .form-inline {
        margin: 0; margin-left: 10px; display: inline-block;

        label {
            padding-top: 0px; margin: 0; margin-right: 5px; font-size: 12px;
        }

        input[type=text] {
            @include rem(height, 30);
            @include rem(width, 30);
            @include rem(margin-right, 2);
            @include rem(font-size, 12);
            padding-top: 0; padding-bottom: 0; margin-bottom: 0;
            text-align: center;
        }

        #action-go-page {
            width: auto; display: inline-block; margin-top: 0px;
        }
    }

    .table-of-contents {
        margin-left: 10px;
    }

    #input-search-text {
        @include rem(width, 100);
        @include rem(font-size, 12);
        text-align: left;
    }

}


.toolbar {
    z-index: 105;

    form {
        margin: 0;
        display: inline-block;
        margin-left: 5px;
        background: whiteSmoke;
        padding-top: 4px;
        padding-bottom: 4px;
        margin-right: 2px;
        padding-right: 4px;
        border-radius: 4px;
        padding-left: 8px;
    }

    .options [class^="icon-"], .toolbar [class*=" icon-"] {
        background: none;
        color: black;
    }

    .btn.square {
        height: 38px;
        width: 46px;
        /*font-size: 18px;*/
        color: black;
    }

    .iconz-doc-2, .iconz-doc-text {
        margin-left: -1px;
    }

    [class^="icomoon-"],
    [class*=" icomoon-"] {
        display: inline-block;
        width: 1em;
        font-size: 1.3em;
    /*margin-right: 0.2em;*/
    text-align: center;
    opacity: 0.9;
    line-height: 1em;
    color: #333;
    margin-top: 0.25em;
    }

    .icomoon-iconmonstr-magnifier-6-icon, .icomoon-iconmonstr-magnifier-7-icon {
        font-size: 1.8em;
        margin-left: -0.125em;
        margin-top: 0.1em;
    }

    .icomoon-list {
        font-size: 1.0em;
    }

    .icon-white {
        color: #fff;
    }

    .icomoon-scroll, .icomoon-documents {
        font-size: 1.4em;
    }

}

.sticky #toolbar-vertical {
    position: fixed;
    top: 40px;
}

.sticky #toolbar-horizontal {
    position: fixed;
    top: 30px;
    right: 30px;
    padding-top: 5px;
    left: 0;
}

.options a, .inner-search a {
    text-decoration: none;
}

.btn.square {
    width: 40px;
}

.btn.dropdown-toggle.square {
    width: 52px;
}

.label {
    display: none;
}

// .btn.square:hover {
//     background:green;
//     .label {
//         display: inline-block;
//     }
// }

#scrolling {
    @include rem(margin-left, 55);
}

#content {
    @include rem(padding, 24);
}

.scrollable-list {
        @include rem(max-height, 550);
        overflow: hidden;
        overflow-y: auto;
}

#menu-toggleXXX {
    display: none;
    color: $hathitrust-orange-color;
    text-decoration: none;
    width: 36px;
    padding-left: 6px;
    padding-right: 5px;
    padding-top: 11px;
    padding-bottom: 4px;
    margin-right: -48px;

    &.active {
        background: #000;
    }

    i:before {
        @include rem(font-size, 24);
        @include rem(line-height, 34);
    }

}

#navbar-inner {
    position: relative;
}

#menu-toggle {

    position: absolute;
    @include rem(height, 36);
    @include rem(width, 36);
    @include rem(font-size, 24);
    @include rem(top, 3);
    @include rem(right, -15);

    a {
        color: $hathitrust-orange-color;
        display: block;
        text-decoration: none;
        @include rem(height, 32);
        @include rem(width, 32);
        // @include rem(padding-right, 0);
        @include rem(padding-left, 6);

        &.active {
            background: #000;
        }
    }
    

}

.dropped {
    z-index: 900;
    background: #FFFEFB;
    @include single-box-shadow(rgba(0, 0, 0, 0.8), 16px, 20px, 35px);
    @include rem(height, 160);

    .logo a {
        @include rem(margin-left, 10, !important);
    }

    .log-in {
        @include rem(margin-top, -25, !important);
    }
}