@import "toolbar.scss";
@import "volume/thumb.scss";
@import "volume/image.scss";
@import "volume/scroll.scss";
@import "volume/flip.scss";
@import "volume/plaintext.scss";
@import "compass/css3/opacity";

.alert-headline {
    text-align: center;

    >p {
        font-size: 200%;
        font-weight: bold;
    }

}

.alert-block.startup {
    width: 80%;
    margin: 20px auto;
    margin-top: 60px;
}


#scrolling {
    @include rem(margin-top, -20);
}

// $page-num-color: #b3b3b3;
$page-num-color: #d2d2d2;
.page-num {
    position: absolute;
    z-index: 15;
    @include opacity(0.4);
    background: $page-num-color;
    color: #000;
    text-align: center;
    height: 36px;
    width: 36px;
    font-size: 14px;
    font-weight: bold;
    padding: 8px;
    top: 10px;
    right: 15px;
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    border-radius: 999px;
    border: 1px solid $page-num-color;
    display: none;
}

body.htdev .page-num {
    display: block;
}

