[submodule "vendor/common-lib/lib"]
	path = vendor/common-lib/lib
    url = git@github.com:hathitrust/mdp-lib.git
[submodule "vendor/htd-lib"]
	path = vendor/htd-lib
    url = git@github.com:hathitrust/htd.git
