/* Pageturner CSS - search results module */

/* 
   Copyright 2006, The Regents of The University of Michigan, All Rights Reserved
   
   Permission is hereby granted, free of charge, to any person obtaining
   a copy of this software and associated documentation files (the
   "Software"), to deal in the Software without restriction, including
   without limitation the rights to use, copy, modify, merge, publish,
   distribute, sublicense, and/or sell copies of the Software, and to
   permit persons to whom the Software is furnished to do so, subject
   to the following conditions:
   
   The above copyright notice and this permission notice shall be
   included in all copies or substantial portions of the Software.
   
   THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
   EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
   MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT.
   IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY
   CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT,
   TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE
   SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
*/


#mdpResultsContainer {
  margin: 0;
  width: 750px;
  /*float: left;*/
  margin-left: 16.5em;
}

#mdpUberContainer {
  margin-top: 0px;
  clear: both;
}

/* Show only to IE6 */
* html #mdpResultsContainer  {
  clear: left;
  float: none;
  }

#mdpOuterList li
{
  position: relative;
  list-style-type: none;    
  margin-top: 0.0em;
  margin-bottom: 0.6em;
  width: 95%;
  padding: 0;
}

#mdpOuterList li a
{
  font-weight: bold;
  font-style: italic;
}

.mdpInnerList
{
  position: relative;
  list-style-type: none;
}

.mdpInnerList li
{
  position: relative;
  list-style-type: none;
  font-family: Times, serif;
  font-weight: normal;
  font-size: 1.2em;
  line-height: 100%;
}

.mdpReturnLink span
{ 
  font-style: normal;
}

.mdpReturnLink
{ 
  font-style: oblique;
  margin:  2em 0 0 3em;
}

.mdpSearchSummary { 
  margin:  0em 0 1.0em 1.5em; /* 1.5em */
  padding-top: 1em;
  font-size: 1.3em;
}

.mdpEmp
{ 
  font-weight: bold;
}

.mdpFisheye
{ 
  margin-left: 2.5em;  
  /*clear:both;*/
}

.mdpGoToBeginning {
  margin-left: 2.5em;
  margin-bottom: 1.5em;
}

.mdpHitCount
{ 
  font-weight: bold;
  font-style: italic;
}

.smallMessage {
  margin:0;
}

div.mdpControlContainer {
  overflow: hidden;
  overflow-y: auto;
  padding-right: 15px;
}

.mdpControlContainer  {
  padding: 4px 8px;
  width: 14em;
  position: relative;
  /*position: absolute;
    top: 0;*/
  float: left;
}

/* /htapps/roger.babel/pt/web/searchresults.css */
