#mbHeader {
  height: 70px;
}

#mdpToolbar {
  margin-left: 0;
  height: 50px;
}

#mdpToolbarNav {
  /*border-top: 1px solid #494949;*/
}

div#mdpContentContainer {
  margin-left: 0;
}

#mdpZoomOptions {
  width: auto;
  visibility: hidden;
}

html, body {
  min-width: 150px;
}

#mdpUberContainer {
  margin-top: 0;
  padding-top: 4px;
  border-top: 2px solid #494949;
}

.branding {
  padding-left: 4px;
}

#mdpPageOptions {
  margin-top: 14px;
}

.embedLink {
  margin-top: 14px;
  margin-left: 14px;
  float: left;
}