#mdpUberContainer {
  margin-top: 0;
}

div#mdpContentContainer {
  margin-left: 0;
}

#mdpToolbarViews {
  margin-bottom: 5px;
  border-bottom: 2px solid #666;
  height: 51px;
  background-color: #EFEFEF;
}

#mdpToolbarNav {
  /*height: 51px;*/
  background: none;
  border: none;
}

body {
  /*padding: 2px;*/
  min-width: 0px;
}

div#mdpContentContainer, #BookReader {
  border: 0px;
}

div#mdpContentContainer {
  margin-right: 0;
}

.embedLink {
  padding-top: 15px;
}

.brandingLogo {
  margin-top: 0;
  margin-right: 10px;
}

#BRcontainer {
  bottom: 0px;
}