html {
  min-width:0px;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

html {
  overflow: auto;
}

body {
    /* maybe we don't need a min-width any longer? */
    /* works better to avoid the toolbar from warping */
    min-width: 900px;
}

#BRcontainer {
  left:0px;
  /*zoom: 1;*/
}

.htmlNoOverflow {
  overflow: hidden;
}

.htmlNoOverflowX {
  overflow: hidden;
  overflow-y: auto;
}

.footerFixed {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

#mdpImage {
  float:none;
  position:relative;
  top: 0px;
}

#mdpMainEvent {
  margin-left: 16.5em; /* 17em*/
  border: 2px solid #666;
  padding: 4px;
  margin-right: 10px;
  text-align: center;
}

.mdpControlContainerBottom {
  margin: 0 0 0 0;
  padding:0;
  width:100%;
}

.overflowContentContainer {
  overflow-y: hidden;
  overflow-x: auto;
}

#ControlContentContainer {
  float:none;
  clear: left/right/both/none;
}

#container {
    min-height: 100%;
    height: 100%;
    position: relative;
}

#mdpUberContainer {
  margin-top: -10px;
  width: 100%;
  clear: both;
}

.contentContainerWrap {
  width: 75%;
  float: left;
  margin-top: 8px;
}

div#mdpContentContainer {
  margin-right: 0;
  margin-left: 0;
}

.fakeContentLoader {
  background-image: url(./graphics/ajax-loader.gif);
  background-repeat: no-repeat;
  background-position: 50% 150px;
/*  background-position-x: 50%;
  background-position-y: 150px;*/
}

/* @group TOOLBAR */

#mdpToolbar {
  height: 100px;
  margin-right: 10px;
  margin-left: 0;
  margin-bottom: 0.5em;
  min-width: 645px;
}

.fullscreen #mdpToolbar, .fullscreen #mdpContentContainer {
  margin-left: 10px;
}

.fullscreen .mdpControlContainer { display: none;}

#mdpBottomToolbar {
  height: 100px;
  margin-right: 10px;
  margin-left: 0;
  margin-top: 0.5em;
  min-width: 645px;
}

#mdpToolbarViews {
  height: 48px;
  margin-bottom: 0.5em;
}

#mdpToolbarViews > ul {
  white-space: nowrap;
  margin-left: 0;
  padding-left: 0;
}

#mdpToolbarViews li {
  list-style-type: none;
  display: inline;
  float: left;
  padding-right: 4px;
}

.mdpToolbarNav {
  height: 48px;
  background-color: #efefef;
  border-top: 1px solid ;
  border-color: #bbb;
  text-align: center;
}

.mdpToolbarNav form {
  margin: 0;
}

.mdpToolbarNav > ul, .mdpToolbarNav > form > ul {
  white-space: nowrap;
  margin-left: 0;
  padding-left: 10px;
}

.mdpToolbarNav li {
  list-style-type: none;
  display: inline;
  float: left;
  padding-right: 4px;
}

a.PTbutton {
  color: #ba5115;
  cursor: pointer;
  background-color: #eaebec;
  border-right: 1px solid #797979;
  border-top: 1px solid #d5d5d5;
  border-bottom: 1px solid #797979;
  border-left: 1px solid #d5d5d5;
  display: block;
  height: 2em;
  padding: 4px;
  text-align: center;

  font-size: 95%;
  margin-top: 4px;
}

a.PTbutton:hover, a.PTbuttonActive {
  color: white !important;
  background-color: #545454 !important;
  text-decoration: none !important;
}

a.PTbuttonDisabled {
  color: #ccc;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=40)";
  filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=40)";
  opacity: 0.4;
}

a.PTbuttonDisabled:hover {
  color: #ccc !important;
  background-color: #eaebec !important;
  border-bottom: 2px #eaebec !important;
}

.PTbutton span {
  float:  left;
  padding-top: 4px;
  padding-bottom: 2px;
  padding-right: 2px;
}

.PTbutton img {
  float: left;
  padding: 0px;
  padding-left: 0px;
  padding-right: 2px;
}

#btnClassicView {
  width: auto; /* 5.5em; */
  height: 2.5em;
  padding: 4px;
  padding-bottom: 8px;
  margin-top: -1px;
  background-image: url(./common-web/graphics/harmony/icon_classicview.png);
  background-repeat: no-repeat;
  background-position: 5% 50%;
  padding-left: 2em;
  padding-right: 1em;
}

#btnClassicView span {
  float: left;
  width: 3em;
  font-size: 95%;
  white-space: normal;
}

#btnBookReader1up {
  background-image: url(./common-web/graphics/harmony/icon_scroll.png);
  background-repeat: no-repeat;
  background-position: 5% 50%;
  padding-left: 2.2em;
  padding-right: 0.5em; 
}

#btnBookReader2up {
  background-image: url(./common-web/graphics/harmony/icon_flip.png);
  background-repeat: no-repeat;
  background-position: 5% 50%;
  padding-left: 2.2em;
  padding-right: 0.5em; 
}

#btnBookReaderThumbnail {
  background-image: url(./common-web/graphics/harmony/icon_thumbnails.png);
  background-repeat: no-repeat;
  background-position: 5% 50%;
  padding-left: 2.2em;
  padding-right: 0.5em; 
}

#btnClassicText {
  padding-left: 8px;
  padding-right: 8px;
}

.mdpPreviousPageLink {
  display: block;
  height: 25px;
  width: 17px;
  background-image: url(./common-web/graphics/harmony/icon_previous.png);
  background-repeat: no-repeat;
  background-position: 0% 50%;
  text-indent: -10000px;
  text-transform: capitalize;
  clip: rect(0, 0, 0, 0);
}

.mdpNextPageLink {
  display: block;
  height: 25px;
  width: 17px;
  background-image: url(./common-web/graphics/harmony/icon_next.png);
  background-repeat: no-repeat;
  background-position: 0% 50%;
  text-indent: -10000px;
  text-transform: capitalize;
  clip: rect(0, 0, 0, 0);
}

.mdpFirstPageLink {
  display: block;
  height: 25px;
  width: 17px;
  background-image: url(./common-web/graphics/harmony/icon_first.png);
  background-repeat: no-repeat;
  background-position: 0% 50%;
  text-indent: -10000px;
  text-transform: capitalize;
  clip: rect(0, 0, 0, 0);
}

.mdpLastPageLink {
  display: block;
  height: 25px;
  width: 17px;
  background-image: url(./common-web/graphics/harmony/icon_last.png);
  background-repeat: no-repeat;
  background-position: 0% 50%;
  text-indent: -10000px;
  text-transform: capitalize;
  clip: rect(0, 0, 0, 0);
}

#mdpBookReaderViews {
  display: inline-block;
  border: 1px solid #f5a039;
  margin-left: 5px;
  padding-right: 8px;
  white-space: nowrap;
  padding-bottom: 4px;
  margin-top: 0;
}

#mdpBookReaderViews li {
  padding-left: 0px;
}

#mdpBookReaderViews #btnBookReaderText {
  border: 1px solid transparent;
  background-color: transparent;
}

#mdpBookReaderViews #btnBookReaderText:hover {
  border: 1px solid transparent;
  color: white;
  background-color: #545454;
}

span.prompt {
  margin-top: 14px;
  display: block;
  margin-left: -10px;
}

#mdpNewStarburst {
  margin-top: -5px;
  margin-left: -50px;
}

.mdpSectionOptions {
  float: left;
  margin-top: 1em;
  margin-left: 0.5em;
  white-space: nowrap;
}

.PTiconButton {
  border-bottom: 2px solid transparent;
}

.PTiconButton:hover {
  border-bottom: 2px solid #666;
}

.mdpPageOptions {
  float: right;
}

.mdpZoomOptions, .mdpPageWidgets {
  margin-left: auto !important;
  margin-right: auto;
  padding-right: 0;
  padding-left: 0;
  white-space: nowrap;
}

.mdpZoomOut {
  background: url(./common-web/graphics/harmony/icon_zoomout.png) no-repeat center center;
  width: 25px;
  height: 25px;
  display: inline-block;
  text-indent: -10000px;
  text-transform: capitalize;
  clip: rect(0, 0, 0, 0);
  zoom: 1;
  *display:inline;
}

.mdpZoomIn {
  background: url(./common-web/graphics/harmony/icon_zoomin.png) no-repeat center center;
  width: 25px;
  height: 25px;
  display: inline-block;
  text-indent: -10000px;
  text-transform: capitalize;
  clip: rect(0, 0, 0, 0);
  zoom: 1;
  *display:inline;
}

.rotate-counterclockwise {
  background: url(./common-web/graphics/harmony/icon_rotate_counterclockwise.png) no-repeat center center;
  width: 25px;
  height: 25px;
  display: inline-block;
  text-indent: -10000px;
  text-transform: capitalize;
  clip: rect(0, 0, 0, 0);
  zoom: 1;
  *display: inline;
}

.rotate-clockwise {
  background: url(./common-web/graphics/harmony/icon_rotate_clockwise.png) no-repeat center center;
  width: 25px;
  height: 25px;
  display: inline-block;
  text-indent: -10000px;
  text-transform: capitalize;
  clip: rect(0, 0, 0, 0);
  zoom: 1;
  *display:inline;
}

.mdpPageWidgets li {
  float: none;
}

.paddingLeft {
  padding-left: 0.5em !important;
}

.paddingRight {
  padding-right: 0.5em !important;
}

.paddingLeftRight {
  padding-left: 0.5em !important;
  padding-right: 0.5em !important;
}

.mdpPageOptions li {
  padding-right: 8px;
}

.BRpagenum {
  width: 3em;
  border: 1px solid #d5d5d5;
  text-align: center;
}

.mdpZoomStatus {
  cursor: pointer;
  width: 3.5em;
  background-color: white;
  padding: 4px;
  border: 1px solid #d5d5d5;
}

/* @end */

/* @group PAGE CONTROLS */

#BRpageControls {z-index: 999; padding:5px; background-color:#f5f5f5; display:block;
       zoom:1;
       position:absolute; top:0px; overflow:hidden;
       border:solid 1px #929292; border-radius:3px; -moz-border-radius:3px; -webit-border-radius:3px;
       box-shadow: 5px 5px 5px #888; -moz-box-shadow: 1px 1px 3px #555; -webkit-box-shadow: 5px 5px 5px #888; white-space: nowrap;
       left:-1000px;
       opacity: 0.2; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)"; filter:"alpha(opacity=20)";
}

/*.waiting {
  opacity: 0.4; filter:alpha(opacity=40); -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
}

.waiting a {
  opacity: 0.6; filter:alpha(opacity=60); -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
}*/

.hovered, .hovered a, .hovered label {
  opacity: 1.0 !important;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)" !important;
  filter:"alpha(opacity=100)" !important;
}

/*#BRpageControls {z-index: 999; padding:5px; background-color:#f5f5f5;background-color:rgba(245, 245, 245, 0.6); display:none;
       position:absolute; top:0px; left:0px; overflow:hidden;
       border:solid 1px #929292; border-radius:3px; -moz-border-radius:3px; -webit-border-radius:3px;
       box-shadow: 5px 5px 5px #888; -moz-box-shadow: 1px 1px 3px #555; -webkit-box-shadow: 5px 5px 5px #888; white-space: nowrap;}
#BRpageControls:hover {background-color:rgba(245, 245, 245, 1);}
*/

#BRpageControls a { padding:3px 5px; border:solid 1px transparent; color:#000; text-decoration:none; font-size:14px;
    /*float:left;*/ display:block; text-align:center; border-bottom: 2px solid transparent; zoom:1;
    opacity: 0.6; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"; filter:"alpha(opacity=60)";
}
#BRpageControls a img { /*background-color: black;*/ height: 25px; width: 25px; }
#BRpageControls a:hover { border-bottom: 2px solid #666; }
#BRpageControls > div { float: left; text-align: center;}
#BRpageControls label {
  font-size: 80%; display: block; font-weight: bold;
  opacity: 0.6; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"; filter:"alpha(opacity=60)";
}

/* @end */

/* @group OCR */

/* @group OCR TEXT */

div.ocrText span {
  white-space: nowrap;
  overflow: hidden;
}

div.ocrText, div.ocrText > div {
  overflow: hidden;
}

div.ocrTextContainer {
    position: relative;
    font-size: 1em;
    background-color: white;
    opacity: 0.4;
    font-family: Georgia, Times, serif;
}

div.ocrScrollBar {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: white;
    opacity: 0.4;
}

div.ocrScrollBar:hover {
    background-color: #ddd;
}

div.ocrText {
    background-color: white;
    width: 75%;
    padding-top: 5%;
    padding-bottom: 5%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    cursor: text;
    border-right: 1px dotted #eee;
    border-left: 1px dotted #eee;
    padding-left: 16px;
    padding-right: 4px;
    text-align: left;
}

div.ocrpage {
    border: 4px dotted green;
}

div#mdpTextFrame {
    text-align: left;
    padding: 25px;
    font-size: 1.2em;
    height: 98%;
}

div#mdpTextFrame p {
    font-weight: normal;
    color: black;
    font-family: Georgia, Times, serif;
}

/* @end */

#PTcontainer {
    top:0px;
    bottom:0px;
    width:100%;
    overflow-x:auto;
    overflow-y:scroll;
    background-color: #FCFCFC;
    position:absolute;
    background-color: #eee;
    left:-5000px;
}

#MdpOcrFrame {
    background-color: #FFFFEE;
    overflow:hidden;
    border-right: 2px solid #717171;
    border-bottom: 2px solid #717171;
    border-left: 1px solid #909090;
    border-top: 1px solid #909090;
    position: absolute;
    /*cursor: move;*/
}

.loading {
    opacity: 0.4;
}

.BRzoomOptions {
    background-color: #ccc;
    padding: 1px 8px 8px 4px;
    vertical-align: top;
    display: inline;
    margin-right: 8px;
}

.BRpageform {
  margin-right: 8px;
}

.BRlabel {
    background-color: transparent;
    border: none;
    color: #C4630F;
}

.BRlabel:hover {
    background-color: #ef7a06;
    text-decoration: underline;
    color: black;
}

button.active {
    background-color: #ef7a06;
    color: black;
}

#BookReader {
 border: 2px solid #494949;
 position:relative;
 font-family: arial, sans-serif;
 /*width: 100%;*/
}

.hideContentContainer {
  border: none !important;
  padding: 0 !important;
}

#BRtoolbar {
    height:25px;
    padding: 4px;
    margin-left: -2px;
    width:99%;
    background-color: #FFF;
    overflow: hidden;
    border: 2px solid black;
    font-size: 0.9em;
    margin-top: -40px;
}

#BRcontainer {
    top:0px;
}

/* @group CONTROL CONTAINER */

div.mdpControlContainer {
  overflow: hidden;
  overflow-y: auto;
  padding-right: 15px;
  padding: 4px 8px;
  /*width: 14em;*/
  width: 21%;
  position: relative;
  float: left;
}

.mdpControlContainer div {
  padding-bottom: 8px;
}

div.mdpScrollableContainer {
  padding-bottom: 0;
  /*margin-right: -25px;*/
  overflow: hidden;
  overflow-y: auto;
}

.mdpControlContainer h2 {
  padding-left: 20px;
  font-weight:bold;
  border-bottom: 1px solid #ddd;
}

.mdpControlContainer ul {
  list-style-type: none;
  padding: 0;
  margin:3px 0;
  font-size: 90%;
}

.mdpControlContainer ul li {
  padding-bottom: 8px;
}

.bibLinks h2 {
  background: transparent url(./graphics/icon_information.png) no-repeat scroll left center;
}

.getLinks h2 {
  background: transparent url(./graphics/harmony/icon_arrow_down.png) no-repeat scroll left center;
}

.collectionLinks h2 {
  background: transparent url(./graphics/harmony/icon_books.png) no-repeat scroll left center;
}

.shareLinks h2 {
  background: transparent url(./graphics/harmony/icon_gear.png) no-repeat scroll left center;
}

.versionContainer {
  padding-left: 1px;
  padding-top: 40px;
  font-size: 85%;
}

#versionIcon {
  display: inline-block;
  position: relative;
  height: 18px;
  width: 18px;
  margin-left: 5px;
  background-image: url(./common-web/graphics/harmony/icon_question.png);
  background-repeat: no-repeat;
  text-indent: -10000px;
  text-transform: capitalize;
  clip: rect(0, 0, 0, 0);
  cursor: pointer;
}

/* version popup */
.ui-dialog {
  overflow: hidden;
  font-size: 85%;
  text-align: left;
}

.collectionLinks button {
  font-size: 85%;
}

.collectionInfo {
  padding-bottom: 2px;
  border-bottom: 1px dashed #666;
}

#PTcollection, #PTcollectionUnavail {
  border: none;
  padding: 0;
}

.shareLinks input {
  font-size: 85%;
  margin-left:  -2px;
  width: 95%;
}

.smaller {
  font-size: 90%;
}

.ptSelectBox {
  /* align left to accommodate sidebar based on % */
  text-align: left;
}

.ptSelectBox select {
  margin-bottom: 5px;
}

/* @end */

.mdpMetaDataRow {
  z-index: 999999;
}

.BRdisabled {
  background-color: transparent;
  border: none;
  color: #DDD;
}

.BRdisabled:hover {
    /*background-color: #ef7a06;*/
    color: #CCC;
}

#pageRightPdfLink {
  display: block;
}

#fullPdfProgress {
  display: none;
}

#fullPdfAlert {
  display: none;
}

#fullPdfFrame {
  display: none;
}

.noText {
  text-align: justify;
  font-size: 36px;
  opacity: 0.5;
}

.noTextAlert {
  font-weight: bold;
  text-align: center;
  margin-bottom: 3em;
  margin-top: 1.5em;
  font-size: 120% !important;
}

.boxy-inner {
  min-width: 250px;
}

#mdpSearch ul li { padding-left: 4px ; }

#mdpBackToResults {
  position: relative;
  float: left;
}

#mdpTextDeny {
  float: none;
  padding-bottom: 8em;
  /*height: 16em;
    padding-bottom: 1.5em;*/
}

#mdpText {
  float: none;
}

#mdpText p {
  border: 1px solid #eee;
  width: auto;
}

.disabled {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=40)";
  filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=40)";
  opacity: 0.4;
}

.section108panel {
  width: 750px;
  text-align: left;
}

#mdpFeedbackForm
{
  margin-left: 0px;
  background-color: #fffeff
}

.mdpSectionForm, .mdpPageForm {
  float: left;
}

#mbToggleHeader {
  display: block;
  float: right;
  height: 24px;
  width: 24px;
  padding-bottom: 4px;
  margin-top: 8px;
  background: transparent url(./graphics/fullscreen_24x24.png) no-repeat; /* scroll/fixed top left/top center/top right/center left/center center/center right/bottom left/bottom center/bottom right/x-% y-%/x-pos y-pos;*/
  text-indent: -10000px;
  clip: rect(0, 0, 0, 0);
}

#mbToggleHeader.active {
  background: url(./graphics/fullscreen_exit_24x24.png) no-repeat;
}

#mbToggleHeader:hover {
  border-bottom: 4px solid #666;
}

.debugIndex {
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-weight: bold;
  background-color: #eee;
  padding: 10px;
  border: 1px dotted #666;
  text-align: center;
  z-index: 999;
  display: none;
}

.page1up {
  border: 1px solid #666;
  background-color: #eee;
  position: relative;
  margin: 0 auto;
  margin-bottom: 10px
}

.page1up .content {
  position: absolute;
  top: 0;
  left: 0;
}

.thumbRow {
  position: relative;
  /*border-bottom: 2px solid black;*/
}

.pageThumb {
  float: left;
  margin: 10px;
  margin-right: 0px;
  position: relative;
  border: 1px dotted #666;
}

.pageThumb .content {
  position: absolute;
  top: 0;
  left: 0;
}

.boxy-wrapper {
  text-align: left;
}

#mdpFeedbackForm {
  width: auto;
  max-width: 42em;
}
