/* -------------------------------------------------------------------------*/
/* Variables */
/* -------------------------------------------------------------------------*/
/* Utils */
/* line 16, ../sass/screen.scss */
.row .kill-span-right-margin {
  margin-right: 0;
}

/* -------------------------------------------------------------------------*/
/* Layout */
/* line 23, ../sass/screen.scss */
body {
  font-size: 16px ;
  font-size: 1.6rem ;
}

/* line 27, ../sass/screen.scss */
h4 {
  font-size: 18px ;
  font-size: 1.8rem ;
}

/* line 31, ../sass/screen.scss */
.container {
  padding: 20px ;
  padding: 2rem ;
  padding-right: 65px ;
  padding-right: 6.5rem ;
  padding-left: 65px ;
  padding-left: 6.5rem ;
  padding-bottom: 33px ;
  padding-bottom: 3.3rem ;
}

/* line 38, ../sass/screen.scss */
.container.centered {
  width: 950px ;
  width: 95rem ;
  max-width: 1050px ;
  max-width: 105rem ;
  min-width: inherit;
  max-width: none;
}

/* line 45, ../sass/screen.scss */
.container.page.centered {
  margin-top: -40px ;
  margin-top: -4rem ;
  padding-left: 40px ;
  padding-left: 4rem ;
  padding-right: 40px ;
  padding-right: 4rem ;
}

/* line 51, ../sass/screen.scss */
.main-section-title {
  font-size: 24px ;
  font-size: 2.4rem ;
  margin-top: 0px ;
  margin-top: 0rem ;
  text-align: center;
  margin-bottom: 20px ;
  margin-bottom: 2rem ;
}

/* line 58, ../sass/screen.scss */
.back-to-referer {
  width: 200px;
  margin: 0.5em auto 1.5em;
  text-align: center;
}

/* line 64, ../sass/screen.scss */
.row.versus {
  display: table;
  padding: 0;
}
/* line 68, ../sass/screen.scss */
.row.versus > div {
  display: table-cell;
  width: 50%;
}
/* line 74, ../sass/screen.scss */
.row.versus > div > div {
  padding: 1.4em;
}
/* line 78, ../sass/screen.scss */
.row.versus > div:first-child {
  border-right: 1px solid #666666;
}

/* Top row */
/* line 88, ../sass/screen.scss */
#top-row-cells-wrapper {
  background-color: #fcf5d9;
}

/* Top row, left cell */
/* line 94, ../sass/screen.scss */
#partner-cell-left {
  background: url("/common/unicorn/img/homepage/stripes.png");
  background-color: #fffefb;
  margin-right: 0;
}

/* line 100, ../sass/screen.scss */
#partner-cell-left > div {
  padding: 20px ;
  padding: 2rem ;
  padding-top: 15px ;
  padding-top: 1.5rem ;
}

/* line 105, ../sass/screen.scss */
.partner-cell-title {
  font-size: 20px ;
  font-size: 2rem ;
  font-weight: bold;
  margin-top: 0px ;
  margin-top: 0rem ;
  margin-bottom: 10px ;
  margin-bottom: 1rem ;
}

/* line 112, ../sass/screen.scss */
.partner-cell-text {
  font-size: 16px ;
  font-size: 1.6rem ;
  margin-bottom: 30px ;
  margin-bottom: 3rem ;
  min-height: 65px ;
  min-height: 6.5rem ;
}

/* line 118, ../sass/screen.scss */
.partner-can-do-cells-wrapper {
  width: 100%;
  min-height: 250px ;
  min-height: 25rem ;
  margin: auto;
  text-align: center;
}
/* line 126, ../sass/screen.scss */
.partner-can-do-cells-wrapper p {
  text-align: left;
}

/* line 132, ../sass/screen.scss */
.partner-can-do-cell {
  background-color: #fffefb;
  border: 1px solid #e8e4e4;
  display: inline-block;
  float: left;
  width: 175px ;
  width: 17.5rem ;
  height: 175px ;
  height: 17.5rem ;
  margin-right: 10px ;
  margin-right: 1rem ;
  margin-bottom: 30px ;
  margin-bottom: 3rem ;
  text-align: center;
  position: relative;
}

/* line 149, ../sass/screen.scss */
.partner-can-do-cell > div {
  padding-right: 11px ;
  padding-right: 1.1rem ;
  padding-left: 11px ;
  padding-left: 1.1rem ;
  padding-top: 16px ;
  padding-top: 1.6rem ;
  padding-bottom: 0px ;
  padding-bottom: 0rem ;
}

/* line 156, ../sass/screen.scss */
.partner-can-do-cell i {
  font-size: 34px ;
  font-size: 3.4rem ;
  color: #ef7c22;
  position: absolute;
  top: -23px ;
  top: -2.3rem ;
  left: -8px ;
  left: -0.8rem ;
}

/* line 164, ../sass/screen.scss */
.partner-can-do-cell img {
  height: 72px ;
  height: 7.2rem ;
}

/* line 168, ../sass/screen.scss */
.partner-can-do-cell p {
  font-size: 14px ;
  font-size: 1.4rem ;
  height: 90px ;
  height: 9rem ;
  text-align: left;
}

/* Top row, right cell */
/* line 178, ../sass/screen.scss */
#partner-cell-right > div {
  padding: 25px ;
  padding: 2.5rem ;
}

/* line 182, ../sass/screen.scss */
#partner-cell-right p {
  font-size: 16px ;
  font-size: 1.6rem ;
}

/* line 187, ../sass/screen.scss */
#continue-button {
  text-align: right;
}

/* line 191, ../sass/screen.scss */
.button.continue {
  padding-top: 4px ;
  padding-top: 0.4rem ;
  padding-bottom: 4px ;
  padding-bottom: 0.4rem ;
  margin-top: 0px ;
  margin-top: 0rem ;
  margin-right: 0px ;
  margin-right: 0rem ;
}

/* line 198, ../sass/screen.scss */
#idp {
  width: 100%;
  font-size: 12px ;
  font-size: 1.2rem ;
}

/* line 203, ../sass/screen.scss */
#no-institution-listed {
  font-size: 12px ;
  font-size: 1.2rem ;
  text-align: right;
  margin-top: 25px ;
  margin-top: 2.5rem ;
}

/* Middle row */
/* line 211, ../sass/screen.scss */
.not-provided-msg-text {
  font-style: italic;
  font-size: 14px ;
  font-size: 1.4rem ;
  color: #6d6d6d;
  margin-left: 15px ;
  margin-left: 1.5rem ;
  margin-top: 0;
}

/* Bottom row */
/* line 222, ../sass/screen.scss */
#bottom-row-cells-wrapper {
  background-color: #f9f8f5;
}

/* Bottom row, left cell */
/* line 228, ../sass/screen.scss */
#friend-cell-left {
  background: url("/common/unicorn/img/WAYF/stripes-lighter.png");
  background-color: #fffefb;
  margin-right: 0;
}

/* line 234, ../sass/screen.scss */
#friend-cell-left > div {
  padding: 20px ;
  padding: 2rem ;
  padding-top: 4px ;
  padding-top: 0.4rem ;
}

/* line 239, ../sass/screen.scss */
.friend-cell-title {
  font-size: 16px ;
  font-size: 1.6rem ;
  font-weight: bold;
  margin-bottom: 7px ;
  margin-bottom: 0.7rem ;
}

/* line 245, ../sass/screen.scss */
.friend-cell-text {
  font-size: 14px ;
  font-size: 1.4rem ;
  margin-bottom: 20px ;
  margin-bottom: 2rem ;
}

/* line 250, ../sass/screen.scss */
.friend-can-do-cells-wrapper {
  max-width: 440px ;
  max-width: 44rem ;
  text-align: center;
  width: 100%;
  margin: auto;
}

/* line 257, ../sass/screen.scss */
.friend-do-cell-common {
  border: 1px solid #e8e4e4;
  display: inline;
  float: left;
  width: 170px ;
  width: 17rem ;
  height: 125px ;
  height: 12.5rem ;
  text-align: center;
  position: relative;
}

/* line 266, ../sass/screen.scss */
.friend-can-do-cell {
  background-color: #fffefb;
  margin-right: 40px ;
  margin-right: 4rem ;
  margin-left: 10px ;
  margin-left: 1rem ;
}

/* line 272, ../sass/screen.scss */
.friend-cannot-do-cell {
  background-color: #e4e4e4;
  background-color: rgba(105, 105, 105, 0.1);
}

/* line 284, ../sass/screen.scss */
.friend-cannot-do-cell i {
  color: gray;
  font-size: 20px ;
  font-size: 2rem ;
}

/* line 289, ../sass/screen.scss */
.friend-can-do-cell i {
  color: #ef7c22;
  font-size: 28px ;
  font-size: 2.8rem ;
}

/* line 294, ../sass/screen.scss */
.friend-cannot-do-cell i, .friend-can-do-cell i {
  position: absolute;
  top: -15px ;
  top: -1.5rem ;
  left: -8px ;
  left: -0.8rem ;
}

/* line 300, ../sass/screen.scss */
.friend-can-do-cell img {
  height: 54px ;
  height: 5.4rem ;
}

/* line 304, ../sass/screen.scss */
.friend-cannot-do-cell p, .friend-can-do-cell p {
  font-size: 14px ;
  font-size: 1.4rem ;
  text-align: left;
}

/* Bottom row, right cell */
/* line 310, ../sass/screen.scss */
#friend-cell-right {
  margin-top: 15px ;
  margin-top: 1.5rem ;
}

/* line 314, ../sass/screen.scss */
#friend-cell-right > div {
  padding-top: 15px ;
  padding-top: 1.5rem ;
  padding-left: 25px ;
  padding-left: 2.5rem ;
  padding-right: 25px ;
  padding-right: 2.5rem ;
}

/* line 320, ../sass/screen.scss */
#friend-cell-right p {
  font-size: 14px ;
  font-size: 1.4rem ;
}

/* line 324, ../sass/screen.scss */
input.select2-search__field {
  height: 2em;
}

/* line 328, ../sass/screen.scss */
#no-institution-listed {
  margin-top: 25px ;
  margin-top: 2.5rem ;
  font-size: 16px ;
  font-size: 1.6rem ;
}

/* line 333, ../sass/screen.scss */
.icomoon-blank:before {
  content: '.';
}

@media all and (max-width: 900px) {
  /* line 338, ../sass/screen.scss */
  .container.centered {
    width: 95%;
  }

  /* line 341, ../sass/screen.scss */
  .navbar-inner {
    width: auto;
  }

  /* line 345, ../sass/screen.scss */
  .navbar-static-top.navbar-inverse {
    min-width: 0;
  }
}
@media all and (max-width: 480px) {
  /* line 352, ../sass/screen.scss */
  .container.page.centered {
    padding-left: 1em;
    padding-right: 1em;
  }

  /* line 360, ../sass/screen.scss */
  .row.versus {
    width: 100%;
  }

  /* line 363, ../sass/screen.scss */
  .row.versus > div {
    display: table;
    width: 100%;
    padding-left: 0;
  }
  /* line 368, ../sass/screen.scss */
  .row.versus > div:first-child {
    border-right: none;
    padding-right: 0;
    border-bottom: 1px solid #666666;
    padding-bottom: 2em;
  }

  /* line 376, ../sass/screen.scss */
  .partner-can-do-cells-wrapper, .friend-can-do-cells-wrapper {
    display: none;
  }

  /* line 380, ../sass/screen.scss */
  .search-form {
    height: 0 !important;
  }

  /* line 384, ../sass/screen.scss */
  #header {
    margin-bottom: 2em;
  }

  /* line 388, ../sass/screen.scss */
  .navbar-inner {
    width: auto;
  }

  /* line 392, ../sass/screen.scss */
  .navbar-static-top.navbar-inverse {
    min-width: 0;
    display: none;
  }

  /* line 397, ../sass/screen.scss */
  .navbar-static-bottom {
    display: none;
  }
}
