
.zero {
background:#000;
}

ol.filters,ul.filters {
list-style:none outside none;
}

ul.filters li {
text-indent:-20px;
}

.removeFacetIcon {
padding-right:3px;
position:relative;
top:3px;
border:medium none;
}

.hidefacet {
display:none;
visibility:hidden;
}

span.moreless {
font-style:italic;
}

.SearchResults_status {
color:#333;
font-size:1.2em;
position:relative;
margin:0;
padding:20px 5px;
}

span.AnyAll {
font-weight:400;
font-style:italic;
}

.selectedfieldname,.SearchResults_status span {
font-weight:700;
}