/***
ls.css
  Unicorn version.  Stuff only needed by ls. 
   mostly for facets
   see oldls.css for old code
   Probably will need to pull in most of it for advanced search page
***/

span.moreless
{ 
  font-style:italic;
} 



/* facet formatting */
/* we use xSearchLabel to avoid conflict with MBooksCol.css*/

label.xSearchLabel
{ 
/*  margin-left:1em;*/
  display:block;
  }

#format{ 
         float:left;
         margin-left:5em;
 }

#language{ 
           float:left;
 }

select.orFacet{ 
                margin-left:0;
 }

#multiFacets{ 
              margin-top:20px;
 }

/* end facet formatting*/




.removeFacetIcon{ 
                /*  margin-left:2em;*/
 }




