/***
ls.css
  Tom temporary css styles to be put in single css or integrated.  Ask Suz
***/


/** for debugging uncomment this**/
/*div { outline:1px dashed red; } */



/*Parenthesis  */
div.parenGroup{  
                /*             outline:1px dashed red;*/
             display:table-row;
              
                }

div.group{ 
           /*           outline:1px dotted blue;*/
           display:table-cell;
           vertical-align:middle;
/*           margin-left:15%;
           margin-right:15%;
*/
 }
div.paren{ 
         /* outline:1px dashed green;*/
           display:table-cell;
           font-size:300%;
           vertical-align:middle;
           

 }
div.parenLeft{ 
              /* float: left;*/
         
 }
div.parenRight{ 
               /* float:right;*/
         
 }
/* fieldset formatting*/

fieldset { 
           border:none;
 }


legend.limitTo{ 
               font-size:150%;

 }




/* facet formatting */
label.xSearchLabel
{ 
/*  margin-left:1em;*/
  display:block;
  }

#format{ 
         float:right;
 }

#language{ 
           float:left;
 }

select.orFacet{ 
                margin-left:0;
 }
#multiFacets{ 
              margin-top:10px;
              width:50%;
              /**outline:1px dashed red;**/
 }



/* end facet formatting*/



fieldset.group{ 
         
         /*       background-color:#E9E9E9;*/
                padding:0;
                margin:0;
                border:0;

                /**#E9E9E9;
                   #F6F6F6;
                   **/
/*                top:0;
                bottom:0;*/
        
} 


#addGroup{ 
           margin-left:70%;
 }
#removeGroup{ 
              margin-left:70%;
             }

#findbuttons  
{ 
  margin-top:10px;

  margin-left:60%;


  }

.limits{ 
    /**     width:60%;**/
} 
/** span class = p for parenthesis**/

.p{ 
    color:green;

    font-size:150%;
 }

.advGroupFoo{ 
              
 }
.removeFacetIcon{ 
                  margin-left:2em;
 }
span.op{ 
     width: 4em;
   /**   margin-left:auto;
      margin-right: auto;
**/
     font-weight:normal;
 }
.advrow{ 
        /* width:100%;*/

         /**background-color:grey;**/
 }
.advrow ul{ 
            margin:0;
            padding:0;
            float: left;
            list-style:none;
}
.advrow ul li { 
                float:left;
                text-decoration:none;

               padding: 1.5px 1px;
            /**    background-color:grey;**/
 }


/**XXX combine this with rule for AndOr **/
.spacer{ 

         width:5em;
         margin-left:auto;
         margin-right: auto;

} 


.AndOr { 

         width:5em;
         margin-left:auto;
         margin-right: auto;
} 
.andOR  { 

          width:5em;
  
 }

#op3{ 
      width:5em;
      margin-top:10px;
      margin-bottom:10px;
      margin-left:-1em;
      }





.betasearch{ 
     /**        border:1px solid;
             border-color:#grey;
**/
 }
ul.row{ 

 }

.row
{
   color:#333666;
} 
.col li
{ 
  display: inline;
  padding-left: 3px;
  padding-right: 7px;
  border-right: 1px dotted #066;

 color:#333222;
} 

#reset{ 
        margin-right:10%;
        font-size:90%;
} 
.advancedMsg
{ 
  font-size:70%;
} 

#Op3bool 
{
  margin:3px;
  background-color:#FFFFFF;
  padding:10px ;


} 


#modify_link
{ 
  font-weight:normal;
  font-size:90%;
} 

.AdvancedLSerror #modify_link
{ 
  margin-top:1%;
  }


#queryRows
{ 
  
} 
#advancedLabel
{ 
 
 /** margin:3px;
  padding:10px;**/
  font-size: 150%;
  font-weight:normal;
} 

#limits h3
{ 
  font-size: 130%;
  margin-bottom:10px;
  color:#000000;
}

.orFacet
{ 
  /**
  border:1px;
  margin-left:1px;**/
  }


#queryArea
{ 
/**  background-color **/
  margin:3px;
  padding:3px;
} 



.advancedClause
{ 

  margin:1px 8px;
  font-size:80%; 
  line-height:100%;
} 

.advancedClause .infoAlert
{ 
  margin:15px 15px 0;
} 


.AdvancedLSerror .advancedClause
{ 

  margin:1px 3%;
  font-size:100%;

 }

#x_icon
{ 
  margin:0px 10px 0px 10px;
  padding:0px;

 }

/** this should instead inherit from LSerror with one change of witdth**/
.AdvancedLSerror
{
  background:#FEEEEE  scroll 15px 90%;
  border:1px solid #FF4040;
  color:#000000;
  margin-top:10px;
  margin-bottom: 10px;
  margin-right:10px;
  margin-left:10px;
  padding:10px;


} 


#zeroHits
{ 
  line-height:2;
 }


#in{ 
     font-size:110%;
} 

#LimitsError
{ 
              
  border:1px solid #EBECE4;
  padding:5px;
  background-color:#FAFAFA;
  margin:10px 0px; 

 

 }

#ColContentLSerror
{ 
  margin-top:10px;
  }

select, input { 
        margin-left:1em;
 }

/** XXX fix this**/
#itemlist_searchform
{

 } 

.SearchResults_status
{ 
  line-height:120%
 }
