/***
ls.css
  Tom temporary css styles to be put in single css or integrated.  Ask Suz
***/
/**
.SearchResults_status  {
                         color:#333666;
                         font-size:1.2em;
                         margin:0;
                         position:relative;
                         border:2px solid #CCCCCC;
                         padding:0 5px 20px;
                         }
**/

.op{ 
     width:4em;
      margin-left:auto;
      margin-right: auto;
     
 }
.advrow{ 
         width:100%;
         /**background-color:grey;**/
 }
.advrow ul{ 
            margin:0;
            padding:0;
            float: left;
            list-style:none;
}
.advrow ul li { 
                float:left;
                text-decoration:none;

                padding: 1.5px 1px;
            /**    background-color:grey;**/
 }


#op3{ 
      width:4em;
      margin-top:10px;
      margin-bottom:10px;
      margin-left:auto;
      margin-right: auto;

 }
.AndOr { 
         border:dash;
         width:4em;
         margin-left:auto;
         margin-right: auto;
       
} 
.andOR  { 
       /**  float:left;**/
         width:4em;
         margin-left:auto;
         margin-right: auto;

 }

.betasearch{ 
             border:1px solid;
             border-color:#grey;
 }
ul.row{ 
        float:center;
 }

.row
{
   color:#333666;
} 
.col li
{ 
  display: inline;
  padding-left: 3px;
  padding-right: 7px;
  border-right: 1px dotted #066;

 color:#333222;
} 

#reset{ 
        margin-left:10%;

} 
.advancedMsg
{ 
  font-size:70%;
} 

#Op3bool 
{
  margin:3;
  background-color:#FFFFFF;
  padding:10px ;


} 


#modify_link
{ 
  font-weight:normal;
  font-size:90%;
} 

.AdvancedLSerror #modify_link
{ 
  margin-top:1%;
  }


#queryRows
{ 
  
} 
#advancedLabel
{ 
 
 /** margin:3px;
  padding:10px;**/
  font-size: 150%;
  font-weight:normal;
} 

#limits h3
{ 
  font-size: 130%;
  margin-bottom:10px;
  color:#000000;
}

.orFacet
{ 
  /**
  border:1px;
  margin-left:1px;**/
  }

.multiFacets th
{  
  margin-left:1em;
  padding-left:1em;
  padding-top:1em;
  text-align:left;
}
#queryArea
{ 
/**  background-color **/
  margin:3px;
  padding:3px;
} 

#limits
{ 

  /**border:1px solid #D8D8D8;**/

  /**#0000FF;**/
} 


.advancedClause
{ 

  margin:1px 8px;
  font-size:80%; 
  line-height:100%;
} 

.advancedClause .infoAlert
{ 
  margin:15px 15px 0;
} 


.AdvancedLSerror .advancedClause
{ 

  margin:1px 3%;
  font-size:100%;

 }

#x_icon
{ 
  margin:0px 10px 0px 10px;
  padding:0px;

 }

/** this should instead inherit from LSerror with one change of witdth**/
.AdvancedLSerror
{
  background:#FEEEEE  scroll 15px 90%;
  border:1px solid #FF4040;
  color:#000000;
  margin-top:10px;
  margin-bottom: 10px;
  margin-right:10px;
  margin-left:10px;
  padding:10px;


} 


#zeroHits
{ 
  line-height:2;
 }


#in{ 
     font-size:110%;
} 

#LimitsError
{ 
              
  border:1px solid #EBECE4;
  padding:5px;
  background-color:#FAFAFA;
  margin:10px 0px; 

 

 }

#ColContentLSerror
{ 
  margin-top:10px;
  }

select, input { 
        margin-left:1em;
 }

/** XXX fix this**/
#itemlist_searchform
{
  align:bottom;
 } 

.SearchResults_status
{ 
  line-height:120%
 }
